<!-- Removing search and results count filter -->

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">修改友情链接</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">文字链接 </label>
			</div>
			<div class="col-sm-11">
						<div class="input-group">
						<span class="input-group-btn">
						<button class="btn btn-info" type="button">输入文字(任选其一)</button>
						</span>
						<input class="form-control no-left-border form-focus-info" type="text" id='title' value="{$data.0.link_name}">
						</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">图片链接</label>
			</div>
			<div class="col-sm-11">
						<div class="input-group">
						<span class="input-group-btn">
						<button class="btn btn-info" type="button">选择图片(任选其一)</button>
						</span>
                                                    <div class="col-sm-2"> 
                                                        <empty name="data.0.link_pic">
                                                            <else/>
                                                            <img src="__ROOT__/Uploads/{$data.0.link_pic}" style="width:120px;height:30px;" id="upload_pic" path="{$data.0.link_pic}"/>
                                                        </empty>
                                                        
                                                    </div>
                                                    <div class="col-sm-3"><input  type="file" id="files" name='upload' data-url="{:U('Sys/upload')}" style="width:200px"></div>
						</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">链接URL地址</label>
			</div>
			<div class="col-sm-11">
						<div class="input-group">
						<span class="input-group-btn">
						<button class="btn btn-info" type="button">必填</button>
						</span>
						<input class="form-control no-left-border form-focus-info" type="text" id='addr' value="{$data.0.link_url}">
						</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">排序</label>
			</div>
			<div class="col-sm-11">
						<div class="input-group">
						<span class="input-group-btn">
						<button class="btn btn-info" type="button">必填</button>
						</span>
						<input class="form-control no-left-border form-focus-info" type="text" id='sort' value="{$data.0.sort}">
						</div>
			</div>
		</div>
		<br>	
		<div class="row">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-4">
				<button class="btn btn-secondary" type="button" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="点击确定将修改友情链接"  onclick="edit({$data.0.link_id})">确定</button>
			</div>
			<div class="col-sm-4">
				
			</div>
		</div>
	</div>
</div>			
	<link rel="stylesheet" href="__PUBLIC__/admin/assets/js/select2/select2.css">
	<link rel="stylesheet" href="__PUBLIC__/admin/assets/js/select2/select2-bootstrap.css">
	<link rel="stylesheet" href="__PUBLIC__/admin/assets/js/multiselect/css/multi-select.css">	
	<script src="__PUBLIC__/admin/assets/js/select2/select2.min.js"></script>
	<script src="__PUBLIC__/admin/assets/js/jquery-ui/jquery-ui.min.js"></script>
        <!-- BEGIN:File Upload Plugin JS files-->
	<script src="__PUBLIC__/admin/assets/js/bootbox/bootbox.min.js"></script>
	<script src="__PUBLIC__/admin/assets/js/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
	
	<script src="__PUBLIC__/admin/assets/js/jquery-file-upload/js/vendor/load-image.min.js"></script>
	
	<script src="__PUBLIC__/admin/assets/js/jquery-file-upload/js/vendor/canvas-to-blob.min.js"></script>
	
	<script src="__PUBLIC__/admin/assets/js/jquery-file-upload/js/jquery.iframe-transport.js"></script>
	
	<script src="__PUBLIC__/admin/assets/js/jquery-file-upload/js/jquery.fileupload.js"></script>
	
	<script src="__PUBLIC__/admin/assets/js/jquery-file-upload/js/jquery.fileupload-process.js"></script>
	
	<script src="__PUBLIC__/admin/assets/js/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
	
	<!-- END:File Upload Plugin JS files-->
	<script src="__PUBLIC__/admin/assets/js/selectboxit/jquery.selectBoxIt.min.js"></script>
        <script>
            $(function () {  
            //文件上传地址   
           //var url = 'http://localhost/index.php/upload/do_upload';   
           //初始化，主要是设置上传参数，以及事件处理方法(回调函数)   
           $('#files').val('');
           $('#files').fileupload({  
             autoUpload: true,//是否自动上传   
                //url: url,//上传地址   
               dataType: 'json',  
                done: function (e, data){
                    
                    $('#files').parent().prev("div.col-sm-2").html('<img src="__ROOT__/Uploads/'+data.result.path+'" style="width:120px;height:30px;"  id="upload_pic" path="'+data.result.path+'"/>')
                   
               },
               complete:function(){
                           
                        }
            });  
        });   

           function edit(id){
               
                var title=$('#title').val();
                var addr=$('#addr').val();
                var sort=$('#sort').val();
                var path=$('#upload_pic').attr('path');
                if(addr==''||sort==""){
                    bootbox.alert("必填项不能为空");
                    return ;
                }
               
                
                  var   data='link_pic='+path+'&link_url='+addr+'&sort='+sort+'&link_name='+title+'&link_id='+id;
              
                //alert(data)
               $.ajax({
                   'type':'post',
                   'url':"{:U('Sys/linkedit')}",
                   'data':data,
                   'dataType':'json',
                   'success':function(dat){
                       if(dat.info==1){
                           bootbox.alert('修改成功');
                            var url="{:U('Sys/link_list')}";
                             window.location.href=url;
                       }else{
                           bootbox.alert("修改失败");
                       }
                   }
               }) 
            };
            </script>