<!-- Removing search and results count filter -->
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">系统管理</div>
						<div class="panel-body">
							<!--<div class="col-sm-3">
								<button class="btn btn-turquoise" id="add_config">新增常量</button>
							</div>-->
							<div class="col-sm-3">
							<a href="{:U('Shop/base')}">
								<button class="btn btn-turquoise" id="add_config">基本设置(区域进行设置)</button>
								</a>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">常量列表</h3>
				</div>
				<div class="panel-body">
                                    <!--<button class="btn btn-turquoise" onclick="delete_all()">清空列表</button>-->
                                    <script type="text/javascript">
					jQuery(document).ready(function($)
					{
						$("#example-2").dataTable({
							dom: "t" + "<'row'<'col-xs-6'i><'col-xs-6'p>>",
							aoColumns: [
								{bSortable: false},
								null,
								null,
								null,
								null
							],
						});
						
						// Replace checkboxes when they appear
						var $state = $("#example-2 thead input[type='checkbox']");
						$state.prop('checked', false);
						$("#example-2").on('draw.dt', function()
						{
							cbr_replace();
							
							$state.trigger('change');
						});
						
						// Script to select all checkboxes
						$state.on('change', function(ev)
						{
                                                    
							var $chcks = $("#example-2 tbody input[type='checkbox']");
							//alert($chcks.length);
							if($state.is(':checked'))
							{
								$chcks.prop('checked', true).trigger('change');
							}
							else
							{
								$chcks.prop('checked', false).trigger('change');
							}
						});
					});
					</script>
					<table class="table table-bordered table-striped" id="example-2">
						<thead>
							<tr>
								<th class="no-sorting">
									全选&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="cbr">
								</th>
								<th>编号</th>
								<th>常量名称</th>
                                                                <th>常量值</th>
								<th>操作</th>
							</tr>
						</thead>
						
						<tbody class="middle-align">
						<volist name="data" id="vo">
							<tr>
								<td>
									<input type="checkbox" class="cbr">
								</td>
								<td>{$vo.config_id}</td>
                                                                <td>{$vo.config_name}</td>
                                                                <td>{$vo.config_value}%</td>
								<td>
									<a href="###" class="btn btn-secondary btn-sm btn-icon icon-left" onclick="edit({$vo.config_id},this)">
										编辑
									</a>
								</td>
							</tr>
                                                </volist>	
						</tbody>
					</table>
				</div>
			</div>
			
		<!-- 弹出层 -->
      <!-- Bottom Scripts -->
	<script src="__PUBLIC__/admin/assets/js/datatables/js/jquery.dataTables.min.js"></script>
	<script src="__PUBLIC__/admin/assets/js/bootbox/bootbox.min.js"></script>
	<!-- Imported scripts on this page -->
	<script src="__PUBLIC__/admin/assets/js/datatables/dataTables.bootstrap.js"></script>
	<script src="__PUBLIC__/admin/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js"></script>
	<script src="__PUBLIC__/admin/assets/js/datatables/tabletools/dataTables.tableTools.min.js"></script>                          
<script>
/*$('#add_config').click(function(){
    bootbox.dialog({
            message: '<input type="text" placeholder="添加变量(用英文)" id="config_name" class="form-control"/> <br/> <input type="text" placeholder="添加值" id="config_value" class="form-control"/>',
            title: "添加配置：",
            buttons: {
                success: {
                    label: "确认",
                    className: "btn-success",
                    callback: function() {
                        var name=$('#config_name').val();
                        var value=$('#config_value').val();
                        if(name==''||value==''){
                            bootbox.alert('输入不能为空');
                            return ;
                        }
                        var patt1 = new RegExp(/^[a-z_A-Z]*$/g);
                        var result = patt1.test(name);
                        if(result==false){
                            bootbox.alert("变量名称用英文或者下划线命名");
                            return ;
                        }
                        $.ajax({
                            'type':'post',
                            'data':'config_name='+$('#config_name').val()+'&config_value='+$('#config_value').val(),
                            'dataType':"json",
                            'url':"{:U('Sys/add')}",
                            'success':function(dat){
                              // var data = eval('(' + dat + ')');
                                if(dat.status==1){
                                    bootbox.alert('添加成功');
                                    var url="{:U('Sys/set')}";
                                    window.location.href=url;
                                }else{
                                    bootbox.alert('添加失败');
                                }
                            }
                        });

                    }
                },
                danger: {
                    label: "取消",
                    className: "btn-danger",
                    callback: function() {

                    }
                }
            }
    });
})*/
//点击编辑按钮
function edit(id,v){
    var name=$(v).parent().prev('td').prev('td').html();
    var value=$(v).parent().prev('td').html();
    bootbox.dialog({
            message: '<input type="text" placeholder="编辑名称" id="c_name" value="'+name+ '" class="form-control" disabled/> <br/><input type="text" placeholder="编辑值" id="c_value" value="'+value+ '" class="form-control"/>',
            title: "编辑常量：",
            buttons: {
                success: {
                    label: "确认",
                    className: "btn-success",
                    callback: function() {
                        var name=$('#c_name').val();
                        var value=$('#c_value').val();
                        if(name==''||value==''){
                            bootbox.alert('输入不能为空');
                            return ;
                        }
                        $.ajax({
                            'type':'post',
                            'data':'config_name='+$('#c_name').val()+'&config_id='+id+'&config_value='+$('#c_value').val(),
                            'dataType':"json",
                            'url':"{:U('Sys/edit')}",
                            'success':function(dat){
                                if(dat.status==1){
                                    bootbox.alert('编辑成功');
                                    var url="{:U('Sys/set')}";
                                    window.location.href=url;
                                }else{
                                    bootbox.alert('编辑失败');
                                }
                            }
                        });

                    }
                },
                danger: {
                    label: "取消",
                    className: "btn-danger",
                    callback: function() {

                    }
                }
            }
    });
}
//点击清空列表按钮
function delete_all(){
    var chcks = $('tbody').find(':checked').attr('checked','true');
    if(chcks.length==0){
        bootbox.alert("你还没有勾选");
        return ;
    }
    var id='';
    for(var i=0;i<chcks.length;i++){
         id+=chcks.eq(i).parent().parent().parent().next('td').html()+'-';
    }
    $.ajax({
        'type':'post',
        'data':'id='+id,
        'dataType':'json',
        'url':"{:U('Sys/delete_all')}",
        'success':function(dat){
            if(dat.info==1){
                bootbox.alert('删除成功');
                var url="{:U('Sys/set')}";
                window.location.href=url;
            }else{
                bootbox.alert('删除失败');
            }
        }
    });
}
</script>
			
		
			
				
