<include file="User:center" />
 <div class="right">
    	<div class="points">
        	<ul>
            	<li><span>可用积分</span><p><i>12345</i></p><a href="{:U('User/Integral')}">我的积分</a></li>
                <li><span>收藏</span><p><i>123</i>商品</p><a href="{:U('User/Collect')}">查看收藏</a></li>
                <li><span>代金券</span><p><i>5</i>张</p><a href="{:U('User/Cooper')}">查看代金券</a></li>
            </ul>
        </div>
        <div class="backbox">
        	<h2>退换货申请</h2>
        	<div class="tuihuo">
            	<div class="liucheng">
                	<img src="__PUBLIC__/home/images/ss_03.jpg" class="lcimg">
                    <div class="liyou">
                    	<dl><dt>请选择换货退款的原因：</dt><dd><select><option></option></select></dd></dl>
                        <dl><dt>退款说明：</dt><dd><textarea></textarea></dd></dl>
                        <dl><dt>&nbsp;</dt><dd><a>确定</a></dd></dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                   
<!--Personal结束-->
