<css href="__PUBLIC__/home/css/Css.css"/>

<js href="__PUBLIC__/home/js/jquery.kkPages.js" />

<include file="User:center" />
	<div class="right">
    	<div class="choujiang">
        	<ul class="jiang">
            	<li class="small">可用的抽奖次数<span>31</span></li>
                <li class="small">已经抽奖次数<span style="color:#0071b8;">04</span></li>
                <li><h3>抽奖记录</h3></li>
            </ul>
            <h2>抽奖记录</h2>
            <div class="spanbox">
            	<span class="current">抽奖来源</span>
                <span>抽奖使用</span>
            </div>
            <div class="box1 box">
                <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                  <tr style="border:1px solid #ccc;">
                    <th>来源时间</th>
                    <th>订单号</th>
                    <th>来源商品</th>
                    <th>抽奖次数</th>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  
                </table>
                <script>
                $(function(){
                    $('.box1').kkPages({
                        PagesClass:'.single', //需要分页的元素
                        PagesMth:5, //每页显示个数		
                        PagesNavMth:3 //显示导航个数
                    });
                }); 
                </script>
                
        	</div>
            <div class="box2 box">
                <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
                  <tr style="border:1px solid #ccc;">
                    <th>使用时间</th>
                    <th>订单号</th>
                    <th>商品</th>
                    <th>使用次数</th>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  <tr class="single">
                    <td>2015-10-04 08:00:12</td>
                    <td>46549862415665</td>
                    <td width="50%"><span>烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证 价格优惠烈焰大量无烟煤 精致无烟煤高品质无烟煤 品质保证</span></td>
                    <td>1</td>
                  </tr>
                  
                </table>
                <script>
                $(function(){
                    $('.box2').kkPages({
                        PagesClass:'.single', //需要分页的元素
                        PagesMth:5, //每页显示个数		
                        PagesNavMth:3 //显示导航个数
                    });
                }); 
                </script>
                
        	</div>
        </div>
    </div>
    <script>
	/****序列号***/
	$(function(){
		$(".choujiang .box").eq(0).show();
		$(".choujiang .spanbox span").eq(0).addClass("current");
		$(".choujiang .spanbox span").click(function(){
			var n =$(this).index();
			$(".choujiang .spanbox span").removeClass("current");
			$(this).addClass("current");
			$(".choujiang .box").hide();
			$(".choujiang .box").eq(n).fadeIn();
		})
	})
	</script>

</div>

<!--Personal结束-->