<include file="User:center" />
	<div class="right">
		<div class="points">
			<ul>
				<li><span>可用积分</span><p><i>12345</i></p><a href="center-jifen.html">我的积分</a></li>
				<li><span>收藏</span><p><i>123</i>商品</p><a href="center-shoucang.html">查看收藏</a></li>
				<li><span>代金券</span><p><i>5</i>张</p><a href="center-daijin.html">查看代金券</a></li>
			</ul>
		</div>
		<div class="mimabox">
			<h2>密码修改</h2>
			<div class="biaodan">
				<dl><dt>原密码：</dt><dd><input type="password"></dd></dl>
				<dl><dt>新密码：</dt><dd><input type="password"></dd></dl>
				<dl><dt>确认新密码：</dt><dd><input type="password"></dd></dl>
				<dl><dt>&nbsp;</dt><dd><input type="button" value="保存"></dd></dl>
			</div>
		</div>
	</div>
</div>

