<css href="__PUBLIC__/home/css/denglu.css"/>

<!--headerbox--> 
<div class="headerbox">
	<div class="header">
    	<a class="logoa" href="{:U('Index/Index')}"><img src="__PUBLIC__/home/images/index1_07.png"></a>
        <h2>找回密码</h2>
    </div>
</div> 
<!--headerbox--> 

<!--comebox-->
<div class="comebox">
	<div class="zhaohui">
    	<img src="__PUBLIC__/home/images/find02_03.png" class="ttimg">
        <div class="box">
        	<dl><dt>新密码</dt><dd><input type="password"><img class="tip" src="__PUBLIC__/home/images/find02_07.png"></dd></dl>
        	<dl><dt>确认密码</dt><dd><input type="password"><img class="tip" src="__PUBLIC__/home/images/find02_10.png"></dd></dl>
       		<dl><dt>&nbsp;</dt><dd><input type="button" value="提交" onClick="document.location='{:U('User/Getpsd',array('step'=>3))}'"></dd></dl>
       </div>
    </div>
</div>
<!--comebox-->