<css href="__PUBLIC__/home/css/denglu.css"/>
<!--headerbox--> 
<div class="headerbox">
	<div class="header">
    	<a class="logoa" href="{:U('Index/Index')}"><img src="__PUBLIC__/home/images/index1_07.png"></a>
        <h2>找回密码</h2>
    </div>
</div> 
<!--headerbox--> 

<!--comebox-->
<div class="comebox">
	<div class="zhaohui">
    	<img src="__PUBLIC__/home/images/find03_03.png" class="ttimg">
        <div class="text">
        	<span>恭喜您，登陆密码重置成功！</span><br>
            <a><i>10</i>秒后跳转到优煤宜购首页</a>
        </div>
    </div>
</div>

<!--comebox-->