<css href="__PUBLIC__/home/css/Css.css"/>
<js href="__PUBLIC__/home/js/jquery.kkPages.js" />
<include file="User:center" />
	<div class="right">
    	<div class="jifenbox">
        	<ul class="jifen">
            	<li class="small">可用的积分<span>520</span></li>
                <li class="small">将要过期的积分<span>333</span></li>
                <li><h3>我的积分</h3></li>
            </ul>
            <h2>积分明细</h2>
            <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
              <tr style="border:1px solid #ccc;">
                <th>来源/用途</th>
                <th>积分变化</th>
                <th>日期</th>
                <th>备注</th>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3>+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3 class="c2">+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>积分兑换</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3>+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3 class="c2">+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3>+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3 class="c2">+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3>+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3 class="c2">+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3>+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3 class="c2">+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3>+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3>+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3 class="c2">+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3>+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3 class="c2">+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
              <tr class="single">
                <td width="400"><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="texta" href="page02-mei-xq.html"><i>烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</i><span>品种分类: 1号煤</span></a></td>
                <td><h3>+44</h3></td>
                <td>2015年7月04日 12:39:27</td>
                <td>交易获得</td>
              </tr>
            </table>
			<script>
			$(function(){
				$('.jifenbox table').kkPages({
					PagesClass:'.single', //需要分页的元素
					PagesMth:5, //每页显示个数		
					PagesNavMth:3 //显示导航个数
				});
			}); 
			</script>
        </div>
    </div>
</div>

<!--Personal结束-->
