<css href="__PUBLIC__/home/css/page.css"/>
<include file="Public:nav" />
<!--search开始-->
<div class="searchbox">
	<h2><a href="{:U('Index/Index')}">首页</a>&nbsp;>&nbsp;<a>煤炭</a>&nbsp;>&nbsp;<a>硬质无烟煤</a></h2>
	<div class="search">
    	<div class="left">
        	<h3>推广产品</h3>
            <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
            <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
        </div>
        <div class="right">
        	<h3>相关搜素：<a>硬质清洁无烟煤</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a>软质清洁无烟煤</a></h3>
            <ul>
            	<li>
                    <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                    <div class="text">
                        <a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a>
                        <p>¥0.52元/斤</p>
                    </div>
                </li>
                <li>
                    <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                    <div class="text">
                        <a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a>
                        <p>¥0.52元/斤</p>
                    </div>
                </li>
                <li>
                    <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                    <div class="text">
                        <a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a>
                        <p>¥0.52元/斤</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--search结束-->

