<js href="__PUBLIC__/home/js/jquery.kkPages.js" />
<css href="__PUBLIC__/home/css/Css.css"/>

<include file="User:center" />
	<div class="right">
		<div class="points">
			<ul>
				<li><span>可用积分</span><p><i>12345</i></p><a href="center-jifen.html">我的积分</a></li>
				<li><span>收藏</span><p><i>123</i>商品</p><a href="center-shoucang.html">查看收藏</a></li>
				<li><span>代金券</span><p><i>5</i>张</p><a href="center-daijin.html">查看代金券</a></li>
			</ul>
		</div>
		<div class="discussbox">
        	<h2>我的评价</h2>
            <div class="pinglunbox">
                <div class="plfl">
                    <span class="w40">商品信息</span>
                    <span class="w50">评价</span>
                    <span class="w10">操作</span>
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
                <div class="ping">
                	<div class="tw">
                        <a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                        <span>
                        	<a class="namea" href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a>
                            <i>货号：12309310920</i>
                        </span>
                    </div>
                    <p>
                        <span>东西收到了，比想象中的还要好，这次购物物超所值，卖家的服务态度超好的，下次还</span>
                        <i>[2015-04-10 08:40:01]</i>
                    </p>
                    <input type="button" value="删除">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
	$('.discussbox .pinglunbox ').kkPages({
		PagesClass:'.ping', //需要分页的元素
		PagesMth:6, //每页显示个数		
		PagesNavMth:3 //显示导航个数
	});
}); 
</script>
<script>
$(function(){
	$(".ping input").click(function(){
		$(this).parents(".ping").hide();
		})
})
</script>
