<css href="__PUBLIC__/home/css/Css.css"/>
<js href="__PUBLIC__/home/js/jquery.kkPages.js" />

<include file="User:center" />
	<div class="right">
        <div class="dingdanbox">
        	<div class="title">
            	<a href="center-dingdan.html" class="current">全部订单</a>
                <a href="center-dingdan-fk.html">等待付款<span>5</span></a>
                <a href="center-dingdan-fh.html">等待卖家发货<span>4</span></a>
                <a href="center-dingdan-pj.html">需要评价<span>3</span></a>
                <a href="center-dingdan-wc.html">交易完成<span>2</span></a>
            </div>
			<div class="sousou">
            	<div class="ss">
                	<input type="text">
                    <input type="button" value="订单搜索">
                </div>
               	<div class="time">
                	<p>订单时间</p>
                    <select><option>最近一周</option></select>
                </div>
            </div>
            <div class="danzi">
            	<ul class="ultitle">
                	<li class="w1">商品</li>
                    <li class="w2 tac">类型/ 数量 / 小计</li>
                    <li class="w3 tac">订单状态</li>
                    <li class="w4 tac">操作</li>
                </ul>
                <div class="cpbox">
                	<div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥2450</span>
                                <span class="kind">共<i>1</i>款<i>2000</i>斤</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>等待买家付款</h3>
                                <a class="xq" href="center-dingdan-fk-xq.html">订单详情</a>
                            </li>
                            <li class="w8">
                            	<input type="button" class="fk" value="立即付款">
                                <a class="qxdd">取消订单</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥24.60</span>
                                <span class="kind">共<i>3</i>款<i>12</i>件</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>需要评价</h3>
                                <a class="xq" href="center-dingdan-pj-xq.html">订单详情</a>
                            </li>
                            <li class="w8">
                            	<input type="button" class="pj" value="评价">
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥24.60</span>
                                <span class="kind">共<i>3</i>款<i>12</i>件</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>等待卖家发货</h3>
                                <a class="xq" href="center-dingdan-fh-xq.html">订单详情</a>
                            </li>
                            <li class="w8">
                                <a class="sq sqbtn">申请退货/退款</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥24.60</span>
                                <span class="kind">共<i>3</i>款<i>12</i>件</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>交易成功</h3>
                                <a class="xq" href="center-dingdan-wc-xq.html">订单详情</a>
                            </li>
                            <li class="w8">
                            	<input type="button" class="pj" value="申请换货">
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥2450</span>
                                <span class="kind">共<i>1</i>款<i>2000</i>斤</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>等待买家付款</h3>
                                <a class="xq" href="center-dingdan-fk-xq.html">订单详情</a>
                            </li>
                            <li class="w8">
                            	<input type="button" class="fk" value="立即付款">
                                <a class="qxdd">取消订单</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥24.60</span>
                                <span class="kind">共<i>3</i>款<i>12</i>件</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>需要评价</h3>
                                <a class="xq" href="center-dingdan-pj-xq.html">订单详情</a>
                            </li>
                            <li class="w8">
                            	<input type="button" class="pj" value="评价">
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥24.60</span>
                                <span class="kind">共<i>3</i>款<i>12</i>件</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>等待卖家发货</h3>
                                <a class="xq" href="center-dingdan-fh-xq.html">订单详情</a>
                            </li>
                            <li class="w8">
                                <a class="sq sqbtn">申请退货/退款</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥24.60</span>
                                <span class="kind">共<i>3</i>款<i>12</i>件</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>交易成功</h3>
                                <a class="xq" href="center-dingdan-wc-xq.html">订单详情</a></li>
                            <li class="w8">
                            	<input type="button" class="pj" value="申请换货">
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥2450</span>
                                <span class="kind">共<i>1</i>款<i>2000</i>斤</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>等待买家付款</h3>
                                <a class="xq" href="center-dingdan-fk-xq.html">订单详情</a>
                            </li>
                            <li class="w8">
                            	<input type="button" class="fk" value="立即付款">
                                <a class="qxdd">取消订单</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥24.60</span>
                                <span class="kind">共<i>3</i>款<i>12</i>件</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>需要评价</h3>
                                <a class="xq" href="center-dingdan-pj-xq.html">订单详情</a>
                            </li>
                            <li class="w8">
                            	<input type="button" class="pj" value="评价">
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥24.60</span>
                                <span class="kind">共<i>3</i>款<i>12</i>件</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>等待卖家发货</h3>
                                <a class="xq" href="center-dingdan-fh-xq.html">订单详情</a>
                            </li>
                            <li class="w8">
                                <a class="sq sqbtn">申请退货/退款</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥24.60</span>
                                <span class="kind">共<i>3</i>款<i>12</i>件</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>交易成功</h3>
                                <a class="xq" href="center-dingdan-wc-xq.html">订单详情</a></li>
                            <li class="w8">
                            	<input type="button" class="pj" value="申请换货">
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥2450</span>
                                <span class="kind">共<i>1</i>款<i>2000</i>斤</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>等待买家付款</h3>
                                <a class="xq" href="center-dingdan-fk-xq.html">订单详情</a>
                            </li>
                            <li class="w8">
                            	<input type="button" class="fk" value="立即付款">
                                <a class="qxdd">取消订单</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥24.60</span>
                                <span class="kind">共<i>3</i>款<i>12</i>件</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>需要评价</h3>
                                <a class="xq" href="center-dingdan-pj-xq.html">订单详情</a>
                            </li>
                            <li class="w8">
                            	<input type="button" class="pj" value="评价">
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥24.60</span>
                                <span class="kind">共<i>3</i>款<i>12</i>件</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>等待卖家发货</h3>
                                <a class="xq" href="center-dingdan-fh-xq.html">订单详情</a>
                            </li>
                            <li class="w8">
                                <a class="sq sqbtn">申请退货/退款</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cp">
                    	<h2><input type="checkbox" ><span>货号：<i>1503793580</i></span><span>下单时间：<i>2015-02-07 11:49</i></span></h2>
                        <ul>
                        	<li class="w5 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <p><a href="page02-mei-xq.html">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a><span>品种分类: 1号煤</span></p>
                            </li>
                            <li class="w6 br1 tac">
                            	<span class="money">¥24.60</span>
                                <span class="kind">共<i>3</i>款<i>12</i>件</span>
                            </li>
                            <li class="w7 br1 tac">
                            	<h3>交易成功</h3>
                                <a class="xq" href="center-dingdan-wc-xq.html">订单详情</a></li>
                            <li class="w8">
                            	<input type="button" class="pj" value="申请换货">
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <script>
			$(function(){
				$('.cpbox').kkPages({
					PagesClass:'.cp', //需要分页的元素
					PagesMth:5, //每页显示个数		
					PagesNavMth:3 //显示导航个数
				});
			}); 
			</script>
            
        </div>
    </div>
</div>
<!--Personal结束-->
