<css href="__PUBLIC__/home/css/Css.css"/>
<js href="__PUBLIC__/home/js/jquery.kkPages.js" />
<include file="User:center" />

<div class="right">
	<if condition="$status eq 1">
       <div class="dingdanxq">
        	<div class="ddtitle">
            	<span class="current">订单信息</span>
            </div>
            <div class="timg"><img src="__PUBLIC__/home/images/edfwdw_03.png"></div>
            <h3>2015-02-09   22:42:30</h3>
            <div class="zhuangtai">
            	<h4>当前订单状态：订单已提交，等待您付款</h4>
				<p>您还剩余<span style="padding-left:20px; background-image:url(__PUBLIC__/home/images/xqxqxq_11.png); background-position:left center; background-repeat:no-repeat;"> <i>4</i>天<i>13</i>时<i>9</i>分<i>40</i>秒</span>完成本次交易的付款，逾期未付款，订单将自动取消。</p>
				<div class="caozuo"><input type="text" class="fk" value="立即付款"><a href="#">取消订单</a></div>
                <div class="dwimg"><img src="__PUBLIC__/home/images/xqxqxq_07.png"></div>
            </div>
            <h3>订单号：<span>1503793580</span> 下单时间：<span>2015-02-07 11:49:39</span>    </h3>
            <div class="buyer">
            	<h4><span>买家信息</span></h4>
                <p>买家昵称：<span>yl_86558094</span></p>
                <p>收货人：<span>咕咚咕咚</span></p>
                <p>收货地址：<span>北京市 市辖区 朝阳区广东风格复古风蛋糕(528000)</span></p>
                <p>联系电话：<span>13318342850</span></p>
            </div>
        	<div class="huo">
            	<ul class="ultitle">
                	<li class="w1">货品</li>
                    <li class="w2 tac">单价（元）</li>
                    <li class="w3 tac">类型</li>
                    <li class="w4 tac">总数</li>
                    <li class="w9 tac">小计</li>
                </ul>
                <div class="box">
                		<ul>
                        	<li class="w1 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <span><a href="page02-mei-xq.html" class="namea">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a></span>
                            </li>
                            <li class="w2 br1 tac">￥60.00</li>
                            <li class="w3 br1 tac">1号煤</li>
                            <li class="w4 br1 tac">200斤</li>
                            <li class="w9 tac">￥136.00</li>
                        </ul>
                        <ul>
                        	<li class="w1 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <span><a href="page02-mei-xq.html" class="namea">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a></span>
                            </li>
                            <li class="w2 br1 tac">￥60.00</li>
                            <li class="w3 br1 tac">1号煤</li>
                            <li class="w4 br1 tac">200斤</li>
                            <li class="w9 tac">￥136.00</li>
                        </ul>
                </div>
                <div class="qian">
                	<p>店铺优惠: <select><option>省50元：店铺代金券</option></select>店铺总计: ￥366.00</p>
                    <p>使用积分:<input type="text">点<i>(可用121点)</i><span>-0.12</span></p>
                    <p>实付款(含运费)：<b>¥136.00</b></p>
                    <p>可获积分：136分</p>
                    <p><a>立即付款</a></p>
                </div>
            </div>
       </div> 
	   <elseif condition="$status eq 2"/>
			<div class="dingdanxq">
        	<div class="ddtitle">
            	<span class="current">订单信息</span>
            </div>
            <div class="timg"><img src="__PUBLIC__/home/images/ertretert_03.png"></div>
            <h3>2015-02-09   22:42:30</h3>
            <div class="zhuangtai">
            	<h4>当前订单状态：配货中，请耐心等待</h4>
				<p>若您不需要商品可申请退款，申请后如果卖家24小时不处理，系统将自动退款给您</p>
				<div class="caozuo"><a href="#">申请退货/退款</a></div>
                <div class="dwimg2"><img src="__PUBLIC__/home/images/xqxqxq_07.png"></div>
            </div>
            <h3>订单号：<span>1503793580</span> 下单时间：<span>2015-02-07 11:49:39</span>    </h3>
            <div class="buyer">
            	<h4><span>买家信息</span></h4>
                <p>买家昵称：<span>yl_86558094</span></p>
                <p>收货人：<span>咕咚咕咚</span></p>
                <p>收货地址：<span>北京市 市辖区 朝阳区广东风格复古风蛋糕(528000)</span></p>
                <p>联系电话：<span>13318342850</span></p>
            </div>
        	<div class="huo">
            	<ul class="ultitle">
                	<li class="w1">货品</li>
                    <li class="w2 tac">单价（元）</li>
                    <li class="w3 tac">类型</li>
                    <li class="w4 tac">总数</li>
                    <li class="w9 tac">小计</li>
                </ul>
                <div class="box">
                		<ul>
                        	<li class="w1 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <span><a href="page02-mei-xq.html" class="namea">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a></span>
                            </li>
                            <li class="w2 br1 tac">￥60.00</li>
                            <li class="w3 br1 tac">1号煤</li>
                            <li class="w4 br1 tac">200斤</li>
                            <li class="w9 tac">￥136.00</li>
                        </ul>
                        <ul>
                        	<li class="w1 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <span><a href="page02-mei-xq.html" class="namea">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a></span>
                            </li>
                            <li class="w2 br1 tac">￥60.00</li>
                            <li class="w3 br1 tac">1号煤</li>
                            <li class="w4 br1 tac">200斤</li>
                            <li class="w9 tac">￥136.00</li>
                        </ul>
                </div>
                <div class="qian">
                	<p>店铺优惠: <select><option>省50元：店铺代金券</option></select>店铺总计: ￥366.00</p>
                    <p>使用积分:<input type="text">点<i>(可用121点)</i><span>-0.12</span></p>
                    <p>实付款(含运费)：<b>¥136.00</b></p>
                    <p>可获积分：136分</p>
                </div>
            </div>
       </div> 
	   <elseif condition="$status eq 3"/>
       <div class="dingdanxq">
        	<div class="ddtitle">
            	<span class="current">订单信息</span>
            </div>
            <div class="timg"><img src="__PUBLIC__/home/images/erertre_03.png"></div>
            <h3>2015-02-09   22:42:30</h3>
            <div class="zhuangtai">
            	<h4>当前订单状态：交易已成功</h4>
				<p>1.如果没有收到货，或收到货后出现问题，您可以联系卖家<a class="imga"></a>协商解决。<br>2.如果卖家没有履行应尽的承诺，您可以“投诉维权”</p>
				<div class="caozuo"><a href="#">申请退货/退款</a></div>
                <a class="pj" href="{:U('Order/Addcom')}">评价</a>
                <div class="dwimg3"><img src="__PUBLIC__/home/images/xqxqxq_07.png"></div>
            </div>
            <h3>订单号：<span>1503793580</span> 下单时间：<span>2015-02-07 11:49:39</span>    </h3>
            <div class="buyer">
            	<h4><span>买家信息</span></h4>
                <p>买家昵称：<span>yl_86558094</span></p>
                <p>收货人：<span>咕咚咕咚</span></p>
                <p>收货地址：<span>北京市 市辖区 朝阳区广东风格复古风蛋糕(528000)</span></p>
                <p>联系电话：<span>13318342850</span></p>
            </div>
        	<div class="huo">
            	<ul class="ultitle">
                	<li class="w1">货品</li>
                    <li class="w2 tac">单价（元）</li>
                    <li class="w3 tac">类型</li>
                    <li class="w4 tac">总数</li>
                    <li class="w9 tac">小计</li>
                </ul>
                <div class="box">
                		<ul>
                        	<li class="w1 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <span><a href="page02-mei-xq.html" class="namea">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a></span>
                            </li>
                            <li class="w2 br1 tac">￥60.00</li>
                            <li class="w3 br1 tac">1号煤</li>
                            <li class="w4 br1 tac">200斤</li>
                            <li class="w9 tac">￥136.00</li>
                        </ul>
                        <ul>
                        	<li class="w1 br1 pr">
                            	<a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/index1_41.png"></a>
                                <span><a href="page02-mei-xq.html" class="namea">烈焰大量无烟煤 精致无烟煤 高品质无烟煤 品质保证 价格优惠</a></span>
                            </li>
                            <li class="w2 br1 tac">￥60.00</li>
                            <li class="w3 br1 tac">1号煤</li>
                            <li class="w4 br1 tac">200斤</li>
                            <li class="w9 tac">￥136.00</li>
                        </ul>
                </div>
                <div class="qian">
                	<p>店铺优惠: <select><option>省50元：店铺代金券</option></select>店铺总计: ￥366.00</p>
                    <p>使用积分:<input type="text">点<i>(可用121点)</i><span>-0.12</span></p>
                    <p>实付款(含运费)：<b>¥136.00</b></p>
                    <p>可获积分：136分</p>
                </div>
			</div>
       </div>
	   <else/>
	    <div class="dingdanxq">
        	<div class="ddtitle">
            	<span class="current">订单信息</span>
            </div>
            <div class="zhuangtai">
            	<h4>当前订单状态：订单完成</h4>
				<p>您还剩余<span style="padding-left:20px; background-image:url(images/xqxqxq_11.png); background-position:left center; background-repeat:no-repeat;"> <i>4</i>天<i>13</i>时<i>9</i>分<i>40</i>秒</span>完成本次交易的付款，逾期未付款，订单将自动取消。</p>
				<div class="caozuo"><input type="text" class="fk" value="再次购买"></div>
                <div class="dwimg"><img src="__PUBLIC__/home/images/xqxqxq_07.png"></div>
            </div>
            <h3>订单号：<span>1503793580</span> 下单时间：<span>2015-02-07 11:49:39</span>    </h3>
            <div class="buyer">
            	<h4><span>买家信息</span></h4>
                <p>买家昵称：<span>yl_86558094</span></p>
                <p>收货人：<span>咕咚咕咚</span></p>
                <p>收货地址：<span>北京市 市辖区 朝阳区广东风格复古风蛋糕(528000)</span></p>
                <p>联系电话：<span>13318342850</span></p>
            </div>
       </div> 
	   </if>
    </div>
</div>
<!--Personal结束-->
                          
                              
                   