<!-- Removing search and results count filter -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">群创建 -- New Group</h3>
	</div>
	<div class="panel-body">
			<div class="col-sm-3">
				<div class="form-group">
									<label class="control-label">国家</label>
									<script type="text/javascript">
										jQuery(document).ready(function($)
										{
											$("#s2example-1").select2({
												placeholder: '请选择国家...',
												allowClear: true
											}).on('select2-open', function()
											{
												// Adding Custom Scrollbar
												$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
											});
											
										});
									</script>
									<select class="form-control" id="s2example-1">
										<option></option>
										
											<option>Wisconsin</option>
											<option>Wyoming</option>
											<option>United Kingdom</option>
											<option>Vatican City (Holy See)</option>
											<option>Vietnam</option>
											<option>Yemen</option>	
									</select>					
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
										<label class="control-label">省份</label>
										<script type="text/javascript">
											jQuery(document).ready(function($)
											{
												$("#s2example-2").select2({
													placeholder: '请选择省份...',
													allowClear: true
												}).on('select2-open', function()
												{
													// Adding Custom Scrollbar
													$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
												});
												
											});
										</script>
										<select class="form-control" id="s2example-2">
											<option></option>

										</select>					
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
						<label class="control-label">城市</label>
										<script type="text/javascript">
											jQuery(document).ready(function($)
											{
												$("#s2example-4").select2({
													placeholder: '请选择城市...',
													allowClear: true
												}).on('select2-open', function()
												{
													// Adding Custom Scrollbar
													$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
												});
												
											});
										</script>
										<select class="form-control" id="s2example-4">
											<option></option>
										</select>					
				</div>
			</div>
			<div class="col-sm-3">
								<div class="form-group">
										<label class="control-label">学校</label>
										<script type="text/javascript">
											jQuery(document).ready(function($)
											{
												$("#s2example-3").select2({
													placeholder: '请选择学校...',
													allowClear: true
												}).on('select2-open', function()
												{
													// Adding Custom Scrollbar
													$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
												});
												
											});
										</script>
										<select class="form-control" id="s2example-3">
											<option></option>
										</select>					
				</div>
			</div>
	</div>	
	<div class="panel-body">
		<div class="col-sm-12">
				<div class="form-group">
										<label class="control-label">群分类</label>
										<script type="text/javascript">
											jQuery(document).ready(function($)
											{
												$("#s2example-5").select2({
													placeholder: '请选择群类别...',
													allowClear: true
												}).on('select2-open', function()
												{
													// Adding Custom Scrollbar
													$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
												});
											});
										</script>
										<select class="form-control" id="s2example-5">
											<option></option>
										</select>					
				</div>
		</div>
	</div>
</div>
<!-- 群创建窗口 -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">群信息 -- New Group Message</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">课程编号 <br> Class Num</label>
			</div>
			<div class="col-sm-11">
						<div class="input-group">
						<span class="input-group-btn">
						<button class="btn btn-info" type="button">检查是否重复 - check</button>
						</span>
						<input class="form-control no-left-border form-focus-info" type="text">
						</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">课程编号 <br> Class Num</label>
			</div>
			<div class="col-sm-11">
						<div class="form-group">
									<script type="text/javascript">
										jQuery(document).ready(function($)
										{
											$("#sboxit-2").selectBoxIt({
												showFirstOption: false
											}).on('open', function()
											{
												$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
											});
										});
									</script>			
									<select class="form-control" id="sboxit-2">
										<option>Select your country</option>
										<option value="al">Albania</option>
										<option value="au">Australia</option>
										<option value="bd">Bandgladesh</option>		
									</select>	
						</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">

			</div>
			<div class="col-sm-4">
				<button class="btn btn-secondary" type="button" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="点击确定将保存修改内容">修改</button>
			</div>
			<div class="col-sm-4">
				
			</div>
		</div>
	</div>
</div>			
	<link rel="stylesheet" href="__PUBLIC__/admin/assets/js/select2/select2.css">
	<link rel="stylesheet" href="__PUBLIC__/admin/assets/js/select2/select2-bootstrap.css">
	<link rel="stylesheet" href="__PUBLIC__/admin/assets/js/multiselect/css/multi-select.css">	
	<script src="__PUBLIC__/admin/assets/js/select2/select2.min.js"></script>
	<script src="__PUBLIC__/admin/assets/js/jquery-ui/jquery-ui.min.js"></script>
	<script src="__PUBLIC__/admin/assets/js/selectboxit/jquery.selectBoxIt.min.js"></script>