<css href="__PUBLIC__/home/css/index.css"/>

<include file="Public:nav" />
<!--money开始-->
<div class="moneyban">
	<div class="ban">
    	<img src="__PUBLIC__/home/images/CHOU_02.jpg">
    </div>
</div>
<!--money开始-->

<!--moneyc-->
<div class="moneycbox">
	<div class="moneyc">
    	<div class="jiang">
        	<div class="left">
            	<div class="gui">
                	<h2>抽奖规则</h2>
                    <p style="background-image:url(__PUBLIC__/home/images/shuzi_14.png)">奖项含有三类：空奖（谢谢参与）、送5积分及奖品。</p>
                    <p style="background-image:url(__PUBLIC__/home/images/shuzi_19.png)">每个ID每天有一次免费抽奖机会，每个ID每天有一次免费抽奖机会</p>
                    <p style="background-image:url(__PUBLIC__/home/images/shuzi_22.png)">每个ID每天有一次免费抽奖机会每个ID每天有一次免费抽奖机会</p>
                </div>
                <div class="gui">
                	<h2>XXX规则</h2>
                    <p style="background-image:url(__PUBLIC__/home/images/shuzi_14.png)">奖项含有三类：空奖（谢谢参与）、送5积分及奖品。</p>
                    <p style="background-image:url(__PUBLIC__/home/images/shuzi_19.png)">每个ID每天有一次免费抽奖机会，每个ID每天有一次免费抽奖机会</p>
                    <p style="background-image:url(__PUBLIC__/home/images/shuzi_22.png)">每个ID每天有一次免费抽奖机会每个ID每天有一次免费抽奖机会</p>
                </div>
            </div>
            <ul class="right">
            	<li><a><img src="__PUBLIC__/home/images/choujiang_09.jpg"></a></li>
                <li><a><img src="__PUBLIC__/home/images/choujiang_09.jpg"></a></li>
                <li><a><img src="__PUBLIC__/home/images/choujiang_09.jpg"></a></li>
                <li><a><img src="__PUBLIC__/home/images/choujiang_09.jpg"></a></li>
                <li class="dian"><a><img src="__PUBLIC__/home/images/choujiang_11.jpg"></a></li>
                <li><a><img src="__PUBLIC__/home/images/choujiang_09.jpg"></a></li>
                <li><a><img src="__PUBLIC__/home/images/choujiang_09.jpg"></a></li>
                <li><a><img src="__PUBLIC__/home/images/choujiang_09.jpg"></a></li>
                <li><a><img src="__PUBLIC__/home/images/choujiang_09.jpg"></a></li>
            </ul>
        
        </div>
        <div class="shiwu">
        	<h2>本期奖品</h2>
            <ul>
            	<li>
                	<a class="imga"><img src="__PUBLIC__/home/images/choujiang_26.jpg"></a>
                    <a class="namea">Apple iPhone 6 Plus</a>
                    <p>市场价：6666</p>
                </li>
                <li>
                	<a class="imga"><img src="__PUBLIC__/home/images/choujiang_26.jpg"></a>
                    <a class="namea">Apple iPhone 6 Plus</a>
                    <p>市场价：6666</p>
                </li>
                <li>
                	<a class="imga"><img src="__PUBLIC__/home/images/choujiang_26.jpg"></a>
                    <a class="namea">Apple iPhone 6 Plus</a>
                    <p>市场价：6666</p>
                </li>
                <li>
                	<a class="imga"><img src="__PUBLIC__/home/images/choujiang_26.jpg"></a>
                    <a class="namea">Apple iPhone 6 Plus</a>
                    <p>市场价：6666</p>
                </li>
            </ul>
            <div class="zhanshi">
            	<div class="zl">
                	<h3>中奖用户列表</h3>
                    <div class="movetext">
                    	<p><span>奖品名称</span><a>获奖用户</a><i>时间</i></p>
                        <div class="movep">
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        <p class="move"><span>苹果6s</span><a>听啊如果</a><i>2015-08-20</i></p>
                        </div>
                    </div>
                </div>
                <div class="zr">
                	<h3>参与规则介绍</h3>
                    <p>1、每个ID每天有一次免费抽奖机会每个ID每天有一次免费抽奖机会每个ID每天有一次免费抽奖机会<br>
2、每个ID每天有一次免费抽奖机会每个ID每天有一次免费抽奖机会每个ID每天有一次免费抽奖机会<br>
3、每个ID每天有一次免费抽奖机会每个ID每天有一次免费抽奖机会每个ID每天有一次免费抽奖机会<br>
4、每个ID每天有一次免费抽奖机会每个ID每天有一次免费抽奖机会每个ID每天有一次免费抽奖机会</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--moneyc-->
<script>
jQuery(".movetext").slide({mainCell:".movep",autoPlay:true,effect:"topMarquee", vis:7,interTime:90,});

</script>


<!--tipbox-->
<div class="tishibox2">
	<div class="tishi">
    	<h2>抽奖结果</h2>
        <p>恭喜您获得iphone 6一部,奖品会和产品一起送货上门，请慢慢等待吧！</p>
        <a class="cx">确定</a>
    </div>
</div>
<!--tipbox-->
<script>
	$(function(){
		$(".right li.dian a").click(function(){
			$(".tishibox2").show();
			})
	$(".tishibox2 a").click(function(){
			$(".tishibox2").hide();
			})
		})
</script>
