<!-- Removing search and results count filter -->
			<!-- Xenon Conversations Widget -->
			<div class="row">
				<div class="col-sm-12">
					
					<div class="xe-widget xe-conversations">
						<div class="xe-bg-icon">
							<i class="linecons-comment"></i>
						</div>
						<div class="xe-header">
							<div class="xe-icon">						
								<i class="linecons-comment"></i>
							</div>
							<div class="xe-label">
								<h3>
									管理员回执信
									<small> -- Admin Msg</small>
								</h3>
							</div>
						</div>
						<div class="xe-body"><br>
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>ID:wangme</span>
							</button>
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-check"></i>
							<span>Large button</span>
							</button>
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>Large button</span>
							</button>
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>Large button</span>
							</button>
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>Large button</span>
							</button>
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>Large button</span>
							</button>
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>Large button</span>
							</button>
							
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>Large button</span>
							</button>
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>Large button</span>
							</button>
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>Large button</span>
							</button>
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>Large button</span>
							</button>
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>Large button</span>
							</button>
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>Large button</span>
							</button>
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>Large button</span>
							</button>
						
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>Large button</span>
							</button>
							<button class="btn btn-info btn-icon btn-icon-standalone btn-lg">
							<i class="fa-envelope"></i>
							<span>Large button</span>
							</button>
						</div>
				</div>
			</div>
		<!-- 弹出层 -->
<script>

$("#danger_msg_1").click(function(ev)
							{
								ev.preventDefault();
								
								var opts = {
									"closeButton": true,
									"debug": false,
									"positionClass": "toast-top-full-width",
									"onclick": null,
									"showDuration": "300",
									"hideDuration": "1000",
									"timeOut": "5000",
									"extendedTimeOut": "1000",
									"showEasing": "swing",
									"hideEasing": "linear",
									"showMethod": "fadeIn",
									"hideMethod": "fadeOut"
								};
								
								toastr.error("title.", "content", opts);
							});
</script>
			
		
			
				
