<!-- Removing search and results count filter -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">广告位置列表 -- AD Position List</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-striped" id="example-2">
						<thead>
							<tr>
								<th>广告位名称</th>
								<th>广告位描述</th>
								<th>操作</th>
							</tr>
						</thead>
							<foreach name="position" item="v">
						<tbody class="middle-align">
					
							<tr>
								<td>{$v.position_name}</td>
								<td>{$v.position_describe}</td>
                            
								<td>
									<a href="###" class="btn btn-secondary btn-sm btn-icon icon-left" onclick="edit({$v.position_id},this)">
										编辑
									</a>
									<!-- <a href="###" class="btn btn-secondary btn-sm  btn-icon icon-left"  onclick="del({$v.position_id})">
										删除
									</a>	 -->
								</td>
							</tr>
							
						</tbody>
						</foreach>	
                        <tr>
                        <td colspan="4">{$link}</td>
                        </tr>
					</table>
				</div>
			</div>
		<!-- 弹出层 -->
<script src="__PUBLIC__/admin/assets/js/bootbox/bootbox.min.js"></script>
<script>
//广告位置信息编辑
function edit(id,v){
	
	var pname=$(v).parent().prev('td').prev('td').html();
	var pdesc=$(v).parent().prev('td').html();
    bootbox.dialog({
            message: '<input type="text" id="pname" value="'+pname+'" /> <input type="text" id="pdesc" value="'+pdesc+'" />',
            title: "广告位置修改 -- AD Position Update",
            buttons: {
                success: {
                    label: "确认",
                    className: "btn-success",
                    callback: function() {
                        $.ajax({
                            'type':'post',
                            'data':'position_name='+$('#pname').val()+'&position_describe='+$('#pdesc').val()+'&id='+id,
                            'dataType':"json",
                            'url':"{:U('Ad/updateadpos')}",
                            'success':function(dat){
                                if(dat.status==1){
                                    bootbox.alert('编辑成功');
                                    var url="{:U('Ad/adposition')}";
                                    window.location.href=url;
                                }else{
                                    bootbox.alert('编辑失败');
                                }
                            }
                        });

                    }
                },
                danger: {
                    label: "取消",
                    className: "btn-danger",
                    callback: function() {

                    }
                }
            }
    });
}
</script>

<!-- <script>
 function del(e)
    {
         $.ajax({
                  'type':'post',
                      'data':'id='+e,
                      'dataType':"json",
                            'url':"{:U('Ad/delad')}",
                            'success':function(dat){    
                                if(dat.status==1){
                                    alert('删除成功');
                                   location.reload();                                  
                                }else{
                                   alert('删除失败');
                                }
                            }
                        });  
    
    }
</script> -->
	
			
				
