	

<link rel="stylesheet" href="__PUBLIC__/admin/assets/js/daterangepicker/daterangepicker-bs3.css">
  
<script src="__PUBLIC__/admin/assets/js/daterangepicker/daterangepicker.js"></script>
<script src="__PUBLIC__/admin/assets/js/datepicker/bootstrap-datepicker.js"></script>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">广告添加 -- AD Add</h3>
							<div class="panel-options">
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								<a href="#" data-toggle="remove">
									
								</a>
							</div>
						</div>
						<div class="panel-body">
							<form  role="form" class="form-horizontal" action="{:U('Ad/adsadd')}" method="post" enctype="multipart/form-data" onsubmit="return checkform()">
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-1">广告标题</label>
									
									<div class="col-sm-10"><input class="form-control" type="text" name="name" id="name" placeholder="广告标题只是作为辨别多个广告条目之用，并不显示在广告中">
							        </div>
								</div>
								<div class="form-group-separator"></div>
								<input type="hidden" name="ad_type" value="0"/>
								<div class="form-group-separator"></div>
								<!--根据不同的权限显示不一样的页面-->
								<div class="form-group has-info">
									<label class="col-sm-2 control-label" for="field-6">广告位置</label>
									<div class="col-sm-10">
								            <select class="form-control" name="position_name" id="position_id">            
								            <foreach name="position_name" item="v">
                                            <option value="{$v.position_id}">{$v.position_name}</option>   
                                            </foreach>
                                            </select>
                                    </div>
								</div>

								<div class="form-group-separator"></div>
								<div class="form-group has-info">
									<label class="col-sm-2 control-label" for="field-9">广告链接</label>
									
									 <div class="col-sm-10">
									 	<input class="form-control" type="text" id="url" name="ad_link" placeholder="正确填写的网址http://www.****.com ">
									</div>
								</div>
								<div class="form-group-separator"></div>
								<div class="form-group has-error" id="0">
									<label class="col-sm-2 control-label" for="field-10">广告图片上传</label>
									
							    <div class="col-sm-10">
                                	<input class="form-control" type="file" name="ad_code">
								</div>
								</div>
								
								<div class="form-group has-error" id="1" style="display:none">
									<label class="col-sm-2 control-label" for="field-11">广告内容添加</label>
									
							    <div class="col-sm-10">
                                	<input class="form-control" type="textarea" name="ad_code"  style="width:450px;height:100px">
							    </div>
								</div>
								<div class="form-group-separator"></div>
								<div class="form-group has-info">
									<label class="col-sm-2 control-label" for="field-12">广告排序</label>
									
							    <div class="col-sm-10">
							    	<input class="form-control" type="text" id="sort"  name="sort" placeholder="数字越大，在页面中的楼层广告越靠前（也可以不填）">
								</div>
								</div>
								<div class="form-group">
									
									<input type="submit" class="btn btn-info btn-single pull-right" value="确认添加">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

<script>

 function checkform(){

 var name=$("#name").val();
 var url=$("#url").val();
 var reg3=/^(http|https):\/\/([\w-]+\.)+[\w-]+(\/[\w-.\/?%&=]*)?$/;
 var reg4=new RegExp(/^([\u4E00-\uFA29]*[a-z]*[A-Z]*[0-9]*\s*)+$/g);


if(name==""){
bootbox.alert("广告标题不能为空");
$("#name").focus();
return false;
}else if(!reg4.test(name)){
bootbox.alert("广告标题有特殊字符");
$("#name").focus()
return false;
}else if(!reg3.test(url)){
bootbox.alert("链接格式不对");
$("#url").focus()
return false;
}  

 								if(dat.status==1){
                                    bootbox.alert('添加成功');
                                    var url="{:U('Ad/adposition')}";
                                    window.location.href=url;
                                }else{
                                    bootbox.alert('添加失败');
                                }  

}


</script>
