<!-- Removing search and results count filter -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">订单信息 - Member datail</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped" id="example-2">
            <thead>
            <tr>
                <th>商品名称</th>
                <th>商品价格</th>
                <th>商品数量</th>
                <th>状态</th>
                <th>时间</th>
                <th>收入金额</th>
                <th>冻结金额</th>
            </tr>
            </thead>
            <tbody class="middle-align">
            <foreach name="rows" item="v" >
            <tr>
                <td>{$v.name}</td>
                <td>{$v.g_p}</td>
                <td>{$v.num}</td>
                <td>{$v.st}</td>
                <td>{$v.sj}</td>
                <td>{$v.sy}</td>
                <td>{$v.dj_sy}</td>
            </tr>
            </foreach>
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-default">
</div>
<script>
    $(function(){
        $('.xq').click(function(){
           var td= $(this).parents('tr').find('td').eq(0).text();
           location.href="/Admin/User/gh_sp/sp_id/"+td+'?flag=user';
        })
    })
</script>
<!-- 弹出层 -->
