/* CSS Document */

/*main*/
.main_r{ float:right;overflow:hidden;}
			.shop{border:#e5e5e5 1px solid; padding-left:20px; width:958px; border-top:none; min-height:700px;}
			.shop h4{ background:url(../images/pol_icon4.jpg) no-repeat left center; margin-left:10px;padding-left:15px; line-height:70px;}
			
			.shop .tab1{width:957px;color:#3b3b3b; border:#cacaca 1px solid;font-size:16px; line-height:50px; display:inline-block; background-color:#f0f0f0;}
			.shop .tab1 .tab1_1{ padding:0 190px;}
			.shop .tab1 .tab1_2{ padding:0 40px;}
			.shop .tab1 .tab1_3{ padding:0 80px;}
			.shop .tab1 .tab1_4{ padding:0 40px;}
			
			.shop .tab2{display:block;border-bottom:#e7e7e7 1px dashed; width:957px;border:#e5e5e5 1px solid; margin-top:20px;}
			.shop .tab2:hover{ border:#c40000 1px solid;}
			.shop .tab2_bt{ overflow:hidden;}
			.shop .tab2_bt p{ float:left; overflow:hidden;color:#3a3a3a; padding:0 10px;font-size:12px; line-height:30px;}
			.shop .tab2_bt span{ color:#808080; font-size:12px;line-height:30px;}
			.shop .tab2_text{ padding:20px;}
			.shop .tab2_text img{ width:80px; height:80px;}
			.shop .tab2_text .tab2_1{ font-size:12px; color:#8d8d8d;width:300px; border-right:1px solid #e6e6e6; padding:0 20px;}
			.shop .tab2_text .tab2_1 span{color:#444444; display:block;}
			.shop .tab2_text .tab2_1 span a:hover{ color:#c40000;}
			.shop .tab2_text .tab2_2{ font-size:12px; color:#8d8d8d;width:70px; border-right:1px solid #e6e6e6; padding:0 20px;}
			.shop .tab2_text .tab2_2 span{color:#444444; padding:0 2px;}
			.shop .tab2_text .tab2_2 i{ color:#d41d05; font-size:18px; font-style:normal; font-weight:bold; line-height:30px;}
			.shop .tab2_text .tab2_3{ color:#c40000; font-size:14px; padding:30px 20px; width:200px; display:inline-block; text-align:center; border-right:1px solid #e6e6e6;}
			.shop .tab2_text .tab2_4 a{ color:#FFF; font-size:14px; text-align:center; background-color:#c40000; padding:5px 30px; margin:0 20px;}
			
			
			
			

/*main*/