@charset "utf-8";
/* CSS Document */

.p_list{ width:1200px; margin:0 auto; margin-top:40px;}
.shai{ border-top:1px solid #e5e5e5; overflow:hidden; margin-bottom:20px;}
.shai h2{float:left;font-size:14px; margin-top:15px;}
.shai h2 a{ margin-right:5px;font-size:14px;}
.shai h2 span{ margin-left:5px;border:1px dashed #a90000; color:#a90000; padding:0 10px; font-size:14px;}
.shai h2 span i{background-image:url(../images/ccc.jpg); background-repeat:no-repeat; background-position:right center;padding-right:20px; cursor:pointer;}
.shai h2 a:hover{ text-decoration:underline;}
.cru{margin-left:5px; border:1px dashed #999999; padding:0 10px;}
.shai form{ float:right;overflow:hidden; margin-top:10px;}
.shai form p{ overflow:hidden;float:left;border:1px solid #cccccc; padding:0 4px;}
.shai form p input{border:0px; float:left;}
.shai form p .souso{ color:#999; width:164px;padding:4px 0px;}
.shai form p .souso_btn{ cursor:pointer; background-image:url(../images/gjfg.jpg); background-repeat:no-repeat; background-position:right center; padding:4px 10px; background-color:transparent;}
.shai form span{float:left; font-size:14px; color:#999; margin-top:4px; margin-left:20px;}
.xuan{ border:1px solid #d1ccc7;background-color:#f7f5f5;  overflow:hidden;}
.xuan span{ color:#b0a59f; font-size:14px; padding-top:10px; padding-left:10px; float:left; width:125px;}
.banf{ position:relative;float:left; padding-bottom:10px;background-color:#fff; overflow:hidden;width:1060px;}
.xuan ul{border-top:1px solid #e1e1e1; border-left:1px solid #e1e1e1; width:840px; overflow:hidden; margin-left:20px; margin-top:10px;}
.xuan ul li{border-bottom:1px solid #e1e1e1; border-right:1px solid #e1e1e1;float:left;}
.xuan ul li img{ height:52px; width:104px;}
.xuan p{background-color:#fff; position:absolute; right:0px; top:0px;font-size:14px; color:#999; padding-right:10px; padding-top:10px;}
.xuan p i{ cursor:pointer; font-style:normal;}
.hidden1{ display:none; }
.dian{ padding-top:5px;width:930px; margin-left:20px;}
.dian a{ margin-right:50px; font-size:14px; line-height:26px; color:#806f66;}
.dian a i{ font-style:normal; color:#bfbfbf;}
.zong{ background-color:#f5f5f5; padding:10px 20px; border-top:1px solid #c40000; margin-top:30px; overflow:hidden; font-size:14px;}
.zong a{ float:left; margin-right:30px; color:#797979; background-image:url(../images/safg.jpg); background-repeat:no-repeat; background-position:right center; padding-right:35px;}
.zong .ceu{ background-image:none; color:#c40000; padding-right:0px;}
.list_box{ overflow:hidden;}
.list_p{ overflow:hidden; margin-top:20px; float:left; width:973px;}
.list_p li{ position:relative; border:1px solid #cecece; margin-bottom:20px; float:left; margin-right:20px; padding:3px;}
.list_p li img{ height:210px; width:215px;}
.list_p li p{ margin-top:10px;overflow:hidden;}
.list_p li p span{ font-weight:bold; color:#c40000; font-family:Arial; float:left;}
.list_p li p i{ font-size:12px; color:#666; float:right; font-style:normal;}
.list_p li .jia_qq{text-overflow:ellipsis; overflow:hidden; white-space:nowrap; width:190px; display:block; margin-bottom:6px; padding-left:20px; background-image:url(../images/qq.jpg); background-repeat:no-repeat; background-position:left center; color:#808080; font-size:13px;}
.list_p li .jianjie_01{ display:block; width:210px; font-size:14px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin:3px 0px;}
.list_p li .jianjie_01:hover{ text-decoration:underline;}
.list_p li h2{ position:absolute; bottom:86px; right:3px; background-image:url(../images/bb.png); color:#fff; font-size:14px; padding:2px 6px;}
.hot_t{ margin-top:20px; float:right; width:224px; margin-bottom:20px;}
.hot_t dt{border:1px solid #cecece;border-top:0; width:221px;}
.hot_t dt img{width:221px;}
.hot_t dd{ position:relative; border:1px solid #cecece; border-top:0; float:left; margin-right:20px; padding:3px;}
.hot_t dd img{ height:210px; width:215px;}
.hot_t dd p{ margin-top:10px;overflow:hidden;}
.hot_t dd p span{ font-weight:bold; color:#c40000; font-family:Arial; float:left;}
.hot_t dd p i{ font-size:12px; color:#666; float:right; font-style:normal;}
.hot_t dd .jia_qq1{ float:left; margin-bottom:6px; padding-left:20px; background-image:url(../images/qq.jpg); background-repeat:no-repeat; background-position:left center; color:#808080; font-size:13px;}
.hot_t dd .jianjie_01{ display:block; width:210px; font-size:14px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin:3px 0px;}
.hot_t dd .jianjie_01:hover{ text-decoration:underline;}
.hot_t dd h2{ position:absolute; bottom:61px; right:3px; background-image:url(../images/bb.png); color:#fff; font-size:14px; padding:2px 6px;}
.xin_list{ width:1200px; overflow:hidden;}
.xin_list .title_01{ margin-bottom:20px; overflow:hidden;}
.xin_list .title_01 span{ cursor:pointer; border-bottom:2px solid #d41d05; float:left;padding:4px 15px;}
.xin_list .title_01 span.on1{ border-bottom:2px solid #333333; }
.xin_list .title_01 i{ height:29px; width:1076px; float:left;border-bottom:2px solid #d41d05;}
.xin_list1{width:1220px; display:none;overflow:hidden;}
.xin_list1 li{ position:relative; border:1px solid #cecece; margin-bottom:20px; float:left; margin-right:20px; padding:3px;}
.xin_list1 li img{ height:210px; width:215px;}
.xin_list1 li p{ margin-top:10px;overflow:hidden;}
.xin_list1 li p span{  font-weight:bold; color:#c40000; font-family:Arial; float:left;}
.xin_list1 li p i{ font-size:12px; color:#666; float:right; font-style:normal;}
.xin_list1 li .jia_qq{text-overflow:ellipsis; overflow:hidden; white-space:nowrap; width:190px; display:block; margin-bottom:6px; padding-left:20px; background-image:url(../images/qq.jpg); background-repeat:no-repeat; background-position:left center; color:#808080; font-size:13px;}
.xin_list1 li .jianjie_01{ display:block; width:210px; font-size:14px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin:3px 0px;}
.xin_list1 li .jianjie_01:hover{ text-decoration:underline;}
.xin_list1 li h2{ position:absolute; bottom:86px; right:3px; background-image:url(../images/bb.png); color:#fff; font-size:14px; padding:2px 6px;}


