@charset "utf-8";
.navbox{
	overflow:hidden;}
.flbox{
	float:left;
	width:232px;
	height:40px;
	background-color:#c40000;
	line-height:40px;
	cursor:pointer;}
.spfl{
	text-align:center;
	color:#fff;}
.dhbox{
	float:left;
	overflow:hidden;
	font-size:14px;
	font-weight:bold;}
.dhbox li{
	float:left;
	margin:10px 20px 0 30px;}


.qbflbox{
	width:232px;
	height:580px;
	float:left;
	position:absolute;
	margin-top:48px;
	top:128px;
	left:352px;
	z-index:1;
	background-color:#fff;
	background-image:url(../images/dhbg_03.jpg);
	background-position:center;
	background-repeat:no-repeat;
	display:none;}
.qbflbox dl{
	width:232px; position:relative;}
.qbflbox dd{
	width:212px;
	height:32px;
	padding-left:20px;
	line-height:32px;
	background-image:url(../images/navjt_03.png);
	background-position:150px;
	background-repeat:no-repeat;
	
	cursor:pointer;
	margin-top:4px;}
.qbflbox .nio a{
	color:#fff; float:left;
	font-size:14px;}
.nio{ overflow:hidden;

	height:30px;

}
.nio img{ float:left; margin-top:7px; margin-right:5px;}

.cdn{

	margin-left:10px;}
.qbflbox dd:hover{
	background-color:#d83a34;
	cursor:pointer;
	background-image:url(../images/index_25.png);
	background-position:200px;
	background-repeat:no-repeat;}
.navjy{
	width:510px;
	height:540px;
	padding:20px;
	float:left;
	position:absolute;
	left:232px;
	top:-4px;
	z-index:9;
	background:rgba(255,255,255,0.8);
	background-position:center;
	background-repeat:repeat-y;
	overflow:hidden;
	display:none;}
.navjy h3{
	background-image:url(../images/index_28.png);
	background-position:left;
	background-repeat:no-repeat;
	padding-left:10px;
	font-size:16px;
	font-weight:bold;}
.jybt{
	font-weight:bold;
	font-size:14px;
	margin-top:30px;
	border-bottom:1px solid #d41d05;
	padding-bottom:6px;}
.dhlink{
	font-size:12px;
	line-height:30px;}
.dhlink a{
	color:#000;}
	


.mainbox{
	width:1000px;
	margin:0 auto;
	border:1px solid #c40000;
	border-radius:4px;
	margin-top:100px;
	padding:40px;
	margin-bottom:100px;
	position:relative;}
.zhmm{
	width:760px;
	margin:0 auto;}
.tsbox{
	font-size:18px;
	margin-bottom:40px;}
.dkbox{
	overflow:hidden;
	margin-top:20px;}
.zb{
	float:left;
	margin-left:15px;}
.zb01{
	float:left;}
.ts01{
	width:306px;
	float:left;
	background-image:url(../images/mmjpg_07.jpg);
	background-position:left;
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	line-height:36px;
	font-size:14px;
	color:#666}
.btnx{
	float:left;
	width:146px;
	height:36px;
	background-color:#c40000;
	border:none;
	border-radius:4px;
	line-height:36px;
	text-align:center;
	margin-left:20px;
	color:#fff;
	cursor:pointer;}

.ts03{	
	width:306px;
	float:left;
	background-image:url(../images/mmjpg_10.jpg);
	background-position:left;
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	line-height:36px;
	font-size:14px;
	color:#666;}
.ts04{
	width:306px;
	float:left;
	background-image:url(../images/mmjpg_07.jpg);
	background-position:left;
	background-repeat:no-repeat;
	padding-left:20px;
	margin-left:10px;
	line-height:36px;
	font-size:14px;
	color:#666}


.srk{
	width:306px;
	height:36px;
	border-radius:4px;
	border:1px solid #ccc;
	padding-left:6px;
	color:#999;}
.srks{
	width:146px;
	height:36px;
	border-radius:4px;
	border:1px solid #ccc;
	padding-left:6px;
	color:#999;}
.wc{
	width:146px;
	height:36px;
	background-color:#c40000;
	border:none;
	border-radius:4px;
	line-height:36px;
	text-align:center;
	margin-left:80px;
	margin-top:20px;
	color:#fff;
	cursor:pointer;}
.fdj{
	position:absolute;
	left:40px;
	top:-40px;}
.zhbt{
	width:120px;
	height:32px;
	text-align:center;
	line-height:32px;
	position:absolute;
	left:140px;
	top:-18px;
	color:#c40000;
	font-size:24px;
	background-color:#fff;}