<!-- Removing search and results count filter -->

<!-- 群创建窗口 -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">APP布局设置 -- Layout Config</h3>
	</div>
	<div class="panel-body">
		
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">课程编号 <br> Class Num</label>
			</div>
			<div class="col-sm-8">
						<div class="input-group">
						<span class="input-group-btn">
						<button class="btn btn-info" type="button">检查是否重复 - check</button>
						</span>
						<input class="form-control no-left-border form-focus-info" type="text">
						</div>
			</div>
			<div class="col-sm-3"><p class="bg-info">melancholy expression.</p></div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">课程编号 <br> Class Num</label>
			</div>
			<div class="col-sm-8">
						<div class="input-group">
						<span class="input-group-btn">
						<button class="btn btn-info" type="button">检查是否重复 - check</button>
						</span>
						<input class="form-control no-left-border form-focus-info" type="text">
						</div>
			</div>
			<div class="col-sm-3"><p class="bg-info">lancholy expression.</p></div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">课程编号 <br> Class Num</label>
			</div>
			<div class="col-sm-8">
						<div class="input-group">
						<span class="input-group-btn">
						<button class="btn btn-info" type="button">检查是否重复 - check</button>
						</span>
						<input class="form-control no-left-border form-focus-info" type="text">
						</div>
			</div>
			<div class="col-sm-3"><p class="bg-warning">Way now instrument had</p></div>
		</div>
		<br>		
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">课程编号 <br> Class Num</label>
			</div>
			<div class="col-sm-8">
						<div class="form-group">
									<script type="text/javascript">
										jQuery(document).ready(function($)
										{
											$("#sboxit-1").selectBoxIt({
												showFirstOption: false
											}).on('open', function()
											{
												$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
											});
										});
									</script>			
									<select class="form-control" id="sboxit-1">
										<option>Select your country</option>
										<option value="al">Albania</option>
										<option value="au">Australia</option>
										<option value="bd">Bandgladesh</option>		
									</select>	
						</div>
			</div>
			<div class="col-sm-3"><p class="bg-warning">Way now instrument had</p></div>
		</div>
		<br>		
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">课程编号 <br> Class Num</label>
			</div>
			<div class="col-sm-8">
						<div class="form-group">
									<script type="text/javascript">
										jQuery(document).ready(function($)
										{
											$("#sboxit-2").selectBoxIt({
												showFirstOption: false
											}).on('open', function()
											{
												$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
											});
										});
									</script>			
									<select class="form-control" id="sboxit-2">
										<option>Select your country</option>
										<option value="al">Albania</option>
										<option value="au">Australia</option>
										<option value="bd">Bandgladesh</option>		
									</select>	
						</div>
			</div>
			<div class="col-sm-3"><p class="bg-warning">Way now instrument had</p></div>
		</div>
		<br>		
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">课程编号 <br> Class Num</label>
			</div>
			<div class="col-sm-8">
						<div class="form-group">
									<script type="text/javascript">
										jQuery(document).ready(function($)
										{
											$("#sboxit-3").selectBoxIt({
												showFirstOption: false
											}).on('open', function()
											{
												$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
											});
										});
									</script>			
									<select class="form-control" id="sboxit-3">
										<option>Select your country</option>
										<option value="al">Albania</option>
										<option value="au">Australia</option>
										<option value="bd">Bandgladesh</option>		
									</select>	
						</div>
			</div>
			<div class="col-sm-3"><p class="bg-warning">Way now instrument had</p></div>
		</div>
		<br>		
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">课程编号 <br> Class Num</label>
			</div>
			<div class="col-sm-8">
						<div class="form-group">
									<script type="text/javascript">
										jQuery(document).ready(function($)
										{
											$("#sboxit-4").selectBoxIt({
												showFirstOption: false
											}).on('open', function()
											{
												$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
											});
										});
									</script>			
									<select class="form-control" id="sboxit-4">
										<option>Select your country</option>
										<option value="al">Albania</option>
										<option value="au">Australia</option>
										<option value="bd">Bandgladesh</option>		
									</select>	
						</div>
			</div>
			<div class="col-sm-3"><p class="bg-primary">diminution melancholy expression.</p></div>
		</div>
		<br>		
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">课程编号 <br> Class Num</label>
			</div>
			<div class="col-sm-8">
						<div class="form-group">
									<script type="text/javascript">
										jQuery(document).ready(function($)
										{
											$("#sboxit-5").selectBoxIt({
												showFirstOption: false
											}).on('open', function()
											{
												$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
											});
										});
									</script>			
									<select class="form-control" id="sboxit-5">
										<option>Select your country</option>
										<option value="al">Albania</option>
										<option value="au">Australia</option>
										<option value="bd">Bandgladesh</option>		
									</select>	
						</div>
			</div>
			<div class="col-sm-3"><p class="bg-primary">diminution melancholy expression.</p></div>
		</div>
		<br>		
		<div class="row">
			<div class="col-sm-1">
						<label class="control-label">课程编号 <br> Class Num</label>
			</div>
			<div class="col-sm-8">
						<div class="form-group">
									<script type="text/javascript">
										jQuery(document).ready(function($)
										{
											$("#sboxit-6").selectBoxIt({
												showFirstOption: false
											}).on('open', function()
											{
												$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
											});
										});
									</script>			
									<select class="form-control" id="sboxit-6">
										<option>Select your country</option>
										<option value="al">Albania</option>
										<option value="au">Australia</option>
										<option value="bd">Bandgladesh</option>		
									</select>	
						</div>
			</div>
			<div class="col-sm-3"><p class="bg-primary">diminution melancholy expression.</p></div>
		</div>
		<div class="row">
			<div class="col-sm-4">

			</div>
			<div class="col-sm-4">
				<button class="btn btn-secondary" type="button" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="点击确定将保存修改内容">修改</button>
			</div>
			<div class="col-sm-4">
				
			</div>
		</div>
	</div>
</div>			
	<link rel="stylesheet" href="__PUBLIC__/admin/assets/js/select2/select2.css">
	<link rel="stylesheet" href="__PUBLIC__/admin/assets/js/select2/select2-bootstrap.css">
	<link rel="stylesheet" href="__PUBLIC__/admin/assets/js/multiselect/css/multi-select.css">	
	<script src="__PUBLIC__/admin/assets/js/select2/select2.min.js"></script>
	<script src="__PUBLIC__/admin/assets/js/jquery-ui/jquery-ui.min.js"></script>
	<script src="__PUBLIC__/admin/assets/js/selectboxit/jquery.selectBoxIt.min.js"></script>