
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/assets/css/pol_base.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/assets/css/pol_leftsidebar.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/assets/css/pol12.css">
<script src="__PUBLIC__/home/assets/js/PCASClass.js"></script>
<!--header-->
<div class="header">
	<div class="header_wrap">
    
    	<div class="logo1">
        	<a href="index.html"><img src="images/logo1.png" alt=""></a>
        </div>
        
        <div class="menu">
        	<ul>
            	<li><a href="">首页</a></li>
            	<li><a href="">账号设置</a></li>
            	<li><a href="">我是商家</a></li>
            </ul>
        </div>
        
        <div class="search">
        	<form>
            	<p><input type="text" value="输入产品名称" onFocus="javascript:this.value=''"><a href="">搜索</a></p>
            </form>
        </div>
        
    </div>
</div>
<!--header-->



<!--main-->
<div class="main">
	<div class="main_wrap">
   <include file="Public:personleft"/>
        <div class="main_r">
        	<div class="shop">
            	<h4>我的余额</h4>
                <div class="text">
                	<div class="tab1">
                    	<p><span class="tab1_1">来源/用途</span><span class="tab1_2">余额变化</span><span class="tab1_3">日期</span><span class="tab1_4">状态</span></p>
                    </div>
                    <div class="tab2">
                        <div class="tab2_text">
                        	<TABLE>
                            	<tr>
                                	<td><a href=""><img src="images/pol_icon6.jpg" alt="" title="查看宝贝详情"></a></td>
                                    <td class="tab2_1"><span><a href="">【天猫年中大促】遇水开花韩国晴雨伞折叠超轻女太阳伞防紫外线遮阳伞超强防晒黑胶</a></span><br>编号: 1090698084720721</td>
                                    <td class="tab2_2">+30</td>
                                    <td class="tab2_3">2015年6月29日 15:24:40</td>
                                    <td class="tab2_4">增加</td>
                                </tr>
                            </TABLE>
                        </div>
                        <div class="tab2_text">
                        	<TABLE>
                            	<tr>
                                	<td><a href=""><img src="images/pol_icon6.jpg" alt="" title="查看宝贝详情"></a></td>
                                    <td class="tab2_1"><span><a href="">【天猫年中大促】遇水开花韩国晴雨伞折叠超轻女太阳伞防紫外线遮阳伞超强防晒黑胶</a></span><br>编号: 1090698084720721</td>
                                    <td class="tab2_2_2">-30</td>
                                    <td class="tab2_3">2015年6月29日 15:24:40</td>
                                    <td class="tab2_4">减少</td>
                                </tr>
                            </TABLE>
                        </div>
                        <div class="tab2_text">
                        	<TABLE>
                            	<tr>
                                	<td><a href=""><img src="images/pol_icon6.jpg" alt="" title="查看宝贝详情"></a></td>
                                    <td class="tab2_1"><span><a href="">【天猫年中大促】遇水开花韩国晴雨伞折叠超轻女太阳伞防紫外线遮阳伞超强防晒黑胶</a></span><br>编号: 1090698084720721</td>
                                    <td class="tab2_2_3">30</td>
                                    <td class="tab2_3">2015年6月29日 15:24:40</td>
                                    <td class="tab2_4">冻结</td>
                                </tr>
                            </TABLE>
                        </div>
                        <div class="tab2_text">
                        	<TABLE>
                            	<tr>
                                	<td><a href=""><img src="images/pol_icon6.jpg" alt="" title="查看宝贝详情"></a></td>
                                    <td class="tab2_1"><span><a href="">【天猫年中大促】遇水开花韩国晴雨伞折叠超轻女太阳伞防紫外线遮阳伞超强防晒黑胶</a></span><br>编号: 1090698084720721</td>
                                    <td class="tab2_2">+30</td>
                                    <td class="tab2_3">2015年6月29日 15:24:40</td>
                                    <td class="tab2_4">增加</td>
                                </tr>
                            </TABLE>
                        </div>
                        <div class="tab2_text">
                        	<TABLE>
                            	<tr>
                                	<td><a href=""><img src="images/pol_icon6.jpg" alt="" title="查看宝贝详情"></a></td>
                                    <td class="tab2_1"><span><a href="">【天猫年中大促】遇水开花韩国晴雨伞折叠超轻女太阳伞防紫外线遮阳伞超强防晒黑胶</a></span><br>编号: 1090698084720721</td>
                                    <td class="tab2_2_2">-30</td>
                                    <td class="tab2_3">2015年6月29日 15:24:40</td>
                                    <td class="tab2_4">减少</td>
                                </tr>
                            </TABLE>
                        </div>
                        <div class="tab2_text">
                        	<TABLE>
                            	<tr>
                                	<td><a href=""><img src="images/pol_icon6.jpg" alt="" title="查看宝贝详情"></a></td>
                                    <td class="tab2_1"><span><a href="">【天猫年中大促】遇水开花韩国晴雨伞折叠超轻女太阳伞防紫外线遮阳伞超强防晒黑胶</a></span><br>编号: 1090698084720721</td>
                                    <td class="tab2_2_3">30</td>
                                    <td class="tab2_3">2015年6月29日 15:24:40</td>
                                    <td class="tab2_4">冻结</td>
                                </tr>
                            </TABLE>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--main-->