
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/assets/css/pol_base.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/assets/css/pol_leftsidebar.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/assets/css/pol4.css">
<script src="__PUBLIC__/home/assets/js/PCASClass.js"></script>

<!--header-->

<div class="header">
	<div class="header_wrap">
    
    	<div class="logo1">
        	<a href="/"><img src="__PUBLIC__/home/assets/images/logo1.png" alt=""></a>
        </div>
        
        <div class="menu">
        	<ul>
            	<li><a href="/">首页</a></li>
            	<li><a href="{:U('Person/pesinfoshow')}">账号设置</a></li>
            	<!-- <li><a href="">我是商家</a></li> -->
            </ul>
        </div>
        
      <!--   <div class="search">
        	<form>
            	<p><input type="text" value="输入产品名称" onFocus="javascript:this.value=''"><a href="">搜索</a></p>
            </form>
        </div> -->
        
    </div>
</div>
<!--header-->



<!--main-->
<div class="main">
	<div class="main_wrap">
    	
        <include file="Public:personleft"/>
        <div class="main_r">
        	<div class="shop">
            	<div class="shop_bt">
                	<ul>
                    	<li><a href="{:U('Person/allorder')}">全部订单</a></li>
                    	<li><a href="{:U('Person/nopay')}">待付款<span>{$shownum.need}</span></a></li>
                    	<li><a href="{:U('Person/send')}">待卖家发货<span>{$shownum.send}</span></a></li>
                    	<li><a href="{:U('Person/confirm')}">待确认收货<span>{$shownum.confirm}</span></a></li>
                    	<li><a href="{:U('Person/finish')}">交易完成<span>{$shownum.finish}</span></a></li>
						<li class="shop_bt_current"><a href="{:U('Person/comment')}">待评价<span class="icon1">{$shownum.comment}</span></a></li>
                    	
                    </ul>
                </div>
                 <div class="bt">
                    <form method="post" action="{:U('Person/search')}">
                    	<p>
						<input type="text"  onFocus="javascript:this.value=''" id="shopgoods" name="shopgoods">
						<input type="submit" value="订单搜索"/>
						</p>
						
                        <p><label>订单时间</label>
						<select name="changtime" id="changtime" >
						<option value="0">请选择时间</option> 
						<option value="1">最近一周</option> 
						<option value="2">最近一月</option> 
						<option value="3">最近三月</option> 
						<option value="4">最近一年</option>
						</select>
						<input type="submit" value="搜索"/>
						</p>
						</form>                 
                </div>
                <div class="text_top">
                    	<span class="top1">商品</span>
                    	<span class="top2">类型 / 数量 / 小计</span>
                    	<span class="top3">订单状态</span>
                    	<span class="top4">操作</span>
                    </div>
				<empty name="com">
				<div class="text">
				<center><span>还没有订单</span></center>
				</div>
				<else/>
                <volist name="com" id="v">  <php>$countnum=count($v['goods']);</php>  
                <div class="text1">
                    <div class="tab2_bt">
                    	<!-- <p><input type="checkbox"></p> -->
                        <p><span>订单号：</span>{$v.order_sn}</p>
                        <p><span>下单时间：</span><php> echo date("Y-m-d H:i",$v['add_time']);</php></p>
                    </div>
                    <div class="tab2_text">
                        	<TABLE>
							<volist name="v.goods" id="vo" key='i'>
                            	<tr>
                                	<td><a href="{:U('Good/info',array('id'=>$vo['goods_id']))}"><img src="__ROOT__/Uploads/{$vo.goods_thumb}" alt="{$vo.goods_name}" title="查看宝贝详情"></a></td>
                                    <td class="tab2_1"><span><a href="">{$vo.goods_name}</a></span>
									
									{$v.att}
									</td>
                                    <td class="tab2_2"><i>¥<php>echo $vo['market_price']*$vo['goods_number'];</php></i><br/>共<span>{$vo.goods_number}</span>件</td>
                                   <if condition="$i eq 1">
								   <td class="tab2_3" rowspan="{$countnum}">
									<php>if($v['is_comment']==0){echo "需要评价";}</php><br><i>
									<!-- <a href="{:U('Person/aftersend',array('id'=>$v['order_id'],'type'=>$v['order_status']))}">订单详情</a> -->
									
									<br><a href=""><php>
									if($v['order_status']==0){echo "待支付";};
									if($v['order_status']==1){echo "未发货";};
									if($v['order_status']==2){echo "等待确认收货";};
									if($v['order_status']==3){echo "已取消订单";};
									if($v['order_status']==4){echo "退货中";};
									if($v['order_status']==5){echo "退货成功";};
									if($v['order_status']==6){echo "交易成功";};
									
									</php></a></i></td>
                                    <td class="tab2_4_1" rowspan="{$countnum}">
                                    	<a href="{:U('Person/goodscomment',array('type'=>$vo['goods_id'],'id'=>$v['order_id']))}">评价</a>
                                    	<!-- <span><a href="">申请退货/退款</a></span> -->
                                    </td>
									</if>
                                </tr>
								</volist>
                            </TABLE>
                    </div>
                    
                </div>  
              </volist>
             </empty>
          <div class="Pagination">{$page}</div>				
            </div>
        </div>
    </div>
</div>
<!--main-->



