
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/assets/css/pol_base.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/assets/css/pol_leftsidebar.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/assets/css/pol4.css">
<script src="__PUBLIC__/home/assets/js/PCASClass.js"></script>
<script src="__PUBLIC__/home/assets/js/jquery.leanModal.min.js"></script>
<script>
            $(function(){
            $("a[rel*=leanModal]").leanModal("close");
            });</script>
<style>
    #tijiao{
        cursor:pointer;
        background-color: #d62810;
        color: #fff;
        display: block;
        font-size: 14px;
        margin: 20px auto;
        padding: 10px 30px;
        width: 30px;
    }
    #se{
        font-size: 12px;
        border-width: 1px 1px 1px medium;
        border-style: solid solid solid none;
        border-color: #D8D8D8 #D8D8D8 #D8D8D8 -moz-use-text-color;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image: none;
        color: #333;
        line-height: 27px;
        padding: 0px 10px;
        background-color: #F5F5F5;
        float: left;
    }
	.tan_a1{width:100px;}
</style>
<!--header-->

<div class="header">
    <div class="header_wrap">

        <div class="logo1">
            <a href="/"><img src="__PUBLIC__/home/assets/images/logo1.png" alt=""></a>
        </div>

        <div class="menu">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="{:U('Person/pesinfoshow')}">账号设置</a></li>
                <!-- <li><a href="">我是商家</a></li> -->
            </ul>
        </div>

  <!--       <div class="search">
            <form>
                <p><input type="text" value="输入产品名称" onFocus="javascript:this.value = ''"><a href="">搜索</a></p>
            </form>
        </div> -->

    </div>
</div>
<!--header-->



<!--main-->
<div class="main">
    <div class="main_wrap">
        <include file="Public:personleft"/>

        <div class="main_r">
            <div class="shop">
                <div class="shop_bt">
                    <ul>
                        <li><a href="{:U('Person/allorder')}">全部订单</a></li>
                        <li><a href="{:U('Person/nopay')}">待付款<span>{$listshow.need|default=0}</span></a></li>
                        <li class="shop_bt_current"><a href="{:U('Person/send')}" >待卖家发货<span class="icon1">{$listshow.send|default=0}</span></a></li>
                        <li><a href="{:U('Person/confirm')}">待确认收货<span >{$listshow.confirm|default=0}</span></a></li>
                        <li><a href="{:U('Person/finish')}">交易完成<span>{$listshow.finish|default=0}</span></a></li>
                        <li><a href="{:U('Person/comment')}">待评价<span>{$listshow.comment|default=0}</span></a></li>

                    </ul>
                </div>
                <div class="bt">
                    <form method="post" action="{:U('Person/search')}">
                        <p>
                            <input type="text"  onFocus="javascript:this.value = ''" id="shopgoods" name="shopgoods">
                            <input type="submit" value="订单搜索"/>
                        </p>

                        <p><label>订单时间</label>
                            <select name="changtime" id="changtime" >
                                <option value="0">请选择时间</option> 
                                <option value="1">最近一周</option> 
                                <option value="2">最近一月</option> 
                                <option value="3">最近三月</option> 
                                <option value="4">最近一年</option>
                            </select>
                            <input type="submit" value="搜索"/>
                        </p>
                    </form>

                </div>
                <div class="text_top">
                    <span class="top1">商品</span>
                    <span class="top2">类型 / 数量 / 小计</span>
                    <span class="top3">订单状态</span>
                    <span class="top4">操作</span>
                </div>
				<empty name="sendgoods">
				<div class="text">
				<center><span>还没有订单</span></center>
				</div><else/>
                <volist name="sendgoods" id="v">   <php>$countlist=count($v['goods']);</php> 
                    <div class="text2">
                        <div class="tab2_bt">
                            <!-- <p><input type="checkbox" id="check"></p> -->
                            <p><span>订单号：</span>{$v.order_sn}</p>
                            <p><span>下单时间：</span>{$v.add_time|date='Y-m-d H:i',###}</p>
                        </div>
                        <div class="tab2_text">
                            <TABLE>
                                <volist name="v.goods" id="vo" key="i">
                                    <tr>
                                        <td><a href="{:U('Good/info',array('id'=>$vo['goods_id']))}"><img src="__ROOT__/Uploads/{$vo.goods_thumb}" alt="{$vo.goods_name}" title="查看宝贝详情"></a></td>
                                        <td class="tab2_1"><span><a href="{:U('Good/info',array('id'=>$vo['goods_id']))}">{$vo.goods_name}</a> </span>									
                                            {$v.att}								
                                        </td>
                                        <td class="tab2_2"><i>¥<php>echo $vo['market_price']*$vo['goods_number'];</php></i><br><span>{$vo.goods_number}</span>件</td>
                                      <if condition="$i eq 1" > <td class="tab2_3">
                                    <php>
                                        if($v['order_status']==0){echo "待支付";};
                                        if($v['order_status']==1){echo "未发货";};
                                        if($v['order_status']==2){echo "等待确认收货";};
                                        if($v['order_status']==3){echo "已取消订单";};
                                        if($v['order_status']==4){echo "退货中";};
                                        if($v['order_status']==5){echo "退货成功";};
                                        if($v['order_status']==6){echo "交易成功";};

                                    </php>
                                    <br><i>									
                                        <a href="{:U('Person/aftersend',array('id'=>$v['order_id'],'type'=>$v['order_status']))}">订单详情</a>									
                                    </i></td>
                                    <td class="tab2_4_2">
                                        <!-- <a><div onclick="apply({$v.order_id})">申请退货/退款</div></a> -->
											<if condition = "$v['order_status'] eq 1 or $v['order_status'] eq 2">
									
									
									<span style="margin-left:70px;"><a href="#signup" rel="leanModal" style="margin-left:70px;" >退货申请</a></span>
									</if>
                                     
                                    <if condition="$v.postscript eq NULL"><a href="#signup" rel="leanModal">订单留言</a></if>
                                    <if condition="$v.postscript eq NUll"><div id="signup" class="tan">
                                        <h5>订单留言</h5>
                                        <div class="bt">
                                            <p><span>订单号：</span>{$v.order_sn}</p>
                                            <p><span>订单金额：</span>￥{$v.money_paid}</p>
                                        </div>
                                        <div class="tan_text">
                                            <p>给对方的留言：</p>
                                            <form>
                                                <textarea rows="5" placeholder="请填写留言内容" cols="92" id="content"></textarea>
                                            </form>
                                            <span>还可以输入200字</span>
                                        </div>

                                        <div id="tijiao" onclick="tijiao({$v.order_id})">提交</div>
                                        <div class="dw"><img  src="__PUBLIC__/home/assets/images/tan1.jpg" alt=""></div>
                                    </div></if>
										<if condition="$v.order_status eq 1 or $v.order_status eq 2">
										 <div id="signup" class="tan">
                                        	<h5>退货申请</h5>
                                            <div class="bt">
                                            	<p><span>订单号：</span>{$v.order_sn}</p>
                                            	<p><span>订单金额：</span>￥{$v.order_amount}</p>
                                            </div>
                                            <div class="tan_text">
                                            	<p>退货理由</p>
                                                <form>
                                                	<textarea rows="5" placeholder="请填写退货原因" cols="92" id="content"></textarea>
                                                </form>
                                                <span>还可以输入200字</span>
                                            </div>
                                         <button class="tan_a1" style="border:none;" onclick="refund({$v.order_id})">提交</button>
                                            <div class="dw"><img  src="__PUBLIC__/home/assets/images/tan1.jpg" alt=""></div>
                                        </div>
										</if>
                                    </td><else/></if>
                                    </tr>
                                </volist>
                            </TABLE>
                        </div>

                    </div>
                </volist>
				</empty>
				<div class="Pagination">{$page}</div>
            </div>
        </div>
    </div>
</div>
<!--main-->
<script>
            function tijiao(l){

            var content = $('#content').val();
                    var orderid = l;
                    if (content == ""){
            alert('留言不能为空！');
                    return false;
            } else{
            $.ajax({
            'type':'post',
                    'url':"{:U('Person/leavewords')}",
                    'data':{order:orderid, info:content},
                    'dataType':'json',
                    'success':function(dat){
                    if (dat.status == 1){
                    alert('留言成功！');
                            window.location.href = "{:U('Person/send')}";
                    } else{
                    alert('留言失败！');
                    }
                    }
            });
            }
            }
    function search(){

    var searchcontent = $('#sea').val();
//alert(searchcontent);
            if (searchcontent == ""){
    alert('请输入搜索内容！');
            return false;
    } else{
    $.ajax({
    'type':'post',
            'url':"{:U('Person/search')}",
            'data':{goodstitle:searchcontent},
            'dataType':'json',
            'success':function(dat){
            if (dat.status == 1){
            alert('88888');
                    //window.location.href="{:U('Person/send')}";
            } else{
            alert('111');
            }
            }
    });
    }
    }
  //  function apply(v){
  //  var orderid = v;         
   // $.ajax({
   // 'type':'post',
           // 'url':"{:U('Person/apply')}",
           // 'data':{orderid:orderid},
           // 'dataType':'json',
          //  'success':function(dat){
          //  if (dat.status == 1){
            //alert('88888');
         //   window.location.href = "{:U('Person/apply')}";
         //   } else{
         //   alert('申请失败！');
        //    }
        //    }
   // });
    
    //}
	
	  function refund(v){

//var $this_form = $('form.shipping_address');
var textinfo=$('#content').val();
if(textinfo == ""){
alert('退款理由不能为空！');
 }else{
	var orderid=v;
				 $.ajax({
                   'type':'post',
                   'url':"{:U('Person/leavewords')}",
                   'data':{order:orderid,info:textinfo,flag:1},
                   'dataType':'json',
                   'success':function(dat){
                       if(dat.status==1){
                           alert('退款申请成功！');
                           window.location.href="{:U('Person/allorder')}";
                       }else{
					   alert('申请失败！');
					   }
                   }
               });
			   
			   
	}
 
}
</script>