			<!-- Removing search and results count filter -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">要操作的表名称 - Table Name</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered table-striped" id="example-2">
						<thead>
							<tr>
								<th class="no-sorting">
									批量
								</th>
								<td>会员编号</td>
								<th>用户头像 / 名称</th>
								<th>用户等级</th>
								<th>所在地</th>
								<th>所属学校</th>
								<th>注册时间 / IP</th>
								<th>操作</th>
							</tr>
						</thead>
						
						<tbody class="middle-align">
						
							<tr>
								<td>
									<input type="checkbox" class="cbr">
								</td>
								<td>ID：99047</td>
								<td>头像  张啸辰</td>
								<td>超级会员</td>
								<td>中国.河南.郑州</td>
								<td>河南大学</td>
								<td>2015/10/02  -  192.168.1.1</td>
								<td>
									<a href="#" class="btn btn-secondary btn-sm btn-icon icon-left">
										编辑
									</a>
									
									<a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
										删除
									</a>
									
									<a href="#" class="btn btn-info btn-sm btn-icon icon-left">
										查看
									</a>
									<a href="#" class="btn btn-warning btn-sm btn-icon icon-left">
										封停
									</a>
								</td>
							</tr>
								
						</tbody>
					</table>
					批量操作按钮 ------------------------------------------------------------分页效果
				</div>
			</div>
			
			
	