@charset "utf-8";
/* CSS Document */

/******personal*******/
.personal{ width:1200px; margin:0 auto; overflow:hidden; padding-bottom:100px;}
.personal .left{ width:218px; float:left; border:1px solid #ccc; padding-bottom:50px;}
.personal .left .face{ height:130px; padding:30px 0; background-image:url(../images/geren_07.jpg);}
.personal .left .face img{ display:block; width:126px; height:126px; border:2px solid #fff; margin:0 auto; border-radius:50%; overflow:hidden;}
.personal .left .person{}
.personal .left .person h2{ height:43px; background-color:#f14e23; color:#fff; font-size:18px; line-height:43px; text-align:center;}
.personal .left .person h2 span{ display:inline-block; padding-left:38px; background-image:url(../images/center1_07.png); background-position:left center; background-repeat:no-repeat; }
.personal .left .person .linkbox{ margin:15px 0; }
.personal .left .person .linkbox h3{ font-size:14px; line-height:30px; color:#444; height:30px; overflow:hidden; text-indent:25px; }
.personal .left .person .linkbox .linka{ padding-left:35px;}
.personal .left .person .linkbox .linka a{ display:block; font-size:12px; line-height:24px; color:#666; height:24px;}
.personal .left .person .linkbox .linka a:hover{ color:#f04e23;}
.personal .left .person .linkbox .linka a.current{ color:#f04e23; }
.personal .left .person .linkbox .linka a i{ padding:0 4px;}
.personal .right{ width:978px; float:left; border:1px solid #ccc;}
.personal .right .points{}
.personal .right .points ul{ overflow:hidden; padding:20px; border-bottom:1px solid #ccc; } 
.personal .right .points ul li{ width:33.2%; border-right:1px solid #ccc; float:left; text-align:center;  }
.personal .right .points ul li span{ display:block;font-size:12px; line-height:30px; color:#666; margin:10px 0; height:30px;}
.personal .right .points ul li p{ font-size:14px; color:#888; line-height:30px; margin:5px 0; height:30px;}
.personal .right .points ul li p i{ font-size:18px; color:#222; padding:0 4px;}
.personal .right .points ul li a{ display:block; width:120px; height:30px; line-height:30px; font-size:14px; color:#fff; border-radius:10px; background-color:#f14e23; margin:10px auto; }
.personal .right .wu{ padding:100px 0; text-align:center; font-size:16px; color:#444; line-height:40px; min-height:400px; }
.personal .right .wu span{ padding-left:40px; background-image:url(../images/dfgrf_03.png); background-position:left center; background-repeat:no-repeat; display:inline-block; height:40px;}




/***xinxibox***/
.personal .right .xinxibox{ padding:20px; padding-bottom:200px;}
.personal .right .xinxibox h2{ height:20px; line-height:20px; font-size:14px; color:#222; border-left:3px solid #f14e23; text-indent:8px; margin-bottom:35px;}
.personal .right .xinxibox .biaodan dl{ overflow:hidden;line-height:32px; font-size:14px; color:#444;margin-bottom:20px;}
.personal .right .xinxibox .biaodan dl dt{ width:100px; float:left; margin-right:10px; text-align:right; }
.personal .right .xinxibox .biaodan dl dd{ width:400px; float:left; overflow:hidden; }
.personal .right .xinxibox .biaodan dl dd input[type=text]{ display:block; width:360px; height:30px; line-height:30px; font-size:14px; color:#666; border:1px solid #ccc; text-indent:4px; float:left;}
.personal .right .xinxibox .biaodan dl dd select{ display:block; width:110px; height:30px; line-height:30px; font-size:14px; color:#666; border:1px solid #ccc; text-indent:4px; float:left; margin-right:10px;}
.personal .right .xinxibox .biaodan dl dd input[type=button]{ display:block; width:120px; font-size:16px; height:32px; border-radius:5px; color:#fff; line-height:32px; background-color:#f14e23; text-align:center; border:none; cursor:pointer;}
.personal .right .xinxibox .biaodan dl dd a.send img{ display:block; width:100px; height:100px; float:left; margin-right:10px; }
.personal .right .xinxibox .biaodan dl dd input[type=file]{ display:block; float:left; margin-top:70px;}
.personal .right .xinxibox .biaodan dl dd a.send{ display:block; width:100px; height:100px; position:relative;}
.personal .right .xinxibox .biaodan dl dd a.send span{ display:block; width:100px; height:28px; position:absolute; left:0; bottom:0; background-image:url(../images/index_48.png); font-size:14px; line-height:28px; text-align:center; color:#fff;}
.personal .right .xinxibox .biaodan dl dd i{ display:block; width:16px; text-align:center; color:red; float:left;}
.personal .right .xinxibox .biaodan dl dd .birthday-picker{ border:none !important;}
.personal .right .xinxibox .biaodan dl dd label{ display:block; float:left; margin-right:20px;}
.personal .right .xinxibox .biaodan dl dd label input{ margin-right:4px;}

.personal .right .xinxibox .shangchuan{}
.personal .right .xinxibox .shangchuan h6{ font-size:12px; line-height:20px; color:#888; margin:10px 0;}
.personal .right .xinxibox .shangchuan #localImag{ margin:20px 0;}
.personal .right .xinxibox .shangchuan .imgbox{ margin:15px 0;} 
.personal .right .xinxibox .shangchuan .imgbox img{ display:block;}
.personal .right .xinxibox .shangchuan input[type=file]{ font-size:12px; color:#888;}
.personal .right .xinxibox .shangchuan input[type=button]{ display:block; width:120px; font-size:16px; height:32px; border-radius:5px; color:#fff; line-height:32px; background-color:#f14e23; text-align:center; border:none; cursor:pointer;} 



/*****mimabox****/
.personal .right .mimabox{ padding:20px; padding-bottom:200px;}
.personal .right .mimabox h2{ height:20px; line-height:20px; font-size:14px; color:#222; border-left:3px solid #f14e23; text-indent:8px; margin-bottom:35px;}
.personal .right .mimabox .biaodan dl{ overflow:hidden;line-height:32px; font-size:14px; color:#444;margin-bottom:20px;}
.personal .right .mimabox .biaodan dl dt{ width:100px; float:left; margin-right:10px; text-align:right; }
.personal .right .mimabox .biaodan dl dd{ width:400px; float:left; overflow:hidden; }
.personal .right .mimabox .biaodan dl dd input[type=password]{ display:block; width:360px; height:30px; line-height:30px; font-size:14px; color:#666; border:1px solid #ccc; text-indent:4px; float:left;}
.personal .right .mimabox .biaodan dl dd input[type=button]{ display:block; width:120px; font-size:16px; height:32px; border-radius:5px; color:#fff; line-height:32px; background-color:#f14e23; text-align:center; border:none; cursor:pointer;}

/******personal*******/


/****pingjia***/
.personal .right .discussbox{ padding:20px; padding-bottom:200px;}
.personal .right .discussbox h2{ height:20px; line-height:20px; font-size:14px; color:#222; border-left:3px solid #f14e23; text-indent:8px; margin-bottom:35px;}
.personal .right .pinglunbox{  }
.personal .right .pinglunbox .plfl{ overflow:hidden; height:30px; line-height:30px; font-size:12px; color:#333; padding:0 20px;}
.personal .right .pinglunbox .plfl span{ display:block; float:left; font-family:"宋体";}
.personal .right .pinglunbox .w50{ width:50%; text-align:center;}
.personal .right .pinglunbox .w40{ width:40%; text-align:center;}
.personal .right .pinglunbox .w10{ width:10%; text-align:center;}
.personal .right .pinglunbox .ping{ overflow:hidden; padding:12px 20px; border-bottom:1px dashed #ccc;} 
.personal .right .pinglunbox .ping p{ width:40%; margin-right:10%; float:left;}
.personal .right .pinglunbox .ping p span{ display:block; font-size:12px; color:#333; line-height:20px; margin-bottom:10px; font-family:"宋体";}
.personal .right .pinglunbox .ping p i{ font-size:12px; color:#888; line-height:12px; display:block; font-family:"宋体";}
.personal .right .pinglunbox .ping .tw{ overflow:hidden; float:left; width:40%; }
.personal .right .pinglunbox .ping .tw .imga{ display:block; width:80px; height:80px; border:1px solid #ccc; float:left; }
.personal .right .pinglunbox .ping .tw .imga img{ display:block; width:80px; height:80px;}
.personal .right .pinglunbox .ping .tw span{ display:block; width:220px; margin-left:10px; float:left;}
.personal .right .pinglunbox .ping .tw span .namea{ display:block; width:220px; font-size:12px; color:#0071b8; line-height:24px; height:48px; overflow:hidden; font-family:"宋体"; }
.personal .right .pinglunbox .ping .tw span i{ display:block; font-size:12px; color:#0071b8; line-height:24px; height:24px; overflow:hidden; font-family:"宋体";}
.personal .right .pinglunbox .ping input{ width:10%; text-align:center; color:#1b8dd6; line-height:52px; border:none; background-color:transparent; cursor:pointer; font-family:"宋体";}

/****pingjia***/






/*****dizhibox***/
.personal .right .dizhibox{ padding:20px; padding-bottom:80px;}
.personal .right .dizhibox h2{ height:20px; line-height:20px; font-size:14px; color:#222; border-left:3px solid #f14e23; text-indent:8px; margin-bottom:35px;}
.personal .right .dizhibox h3{ height:20px; line-height:20px; font-size:14px; font-weight:bold; color:#555; margin-bottom:10px;}
.personal .right .dizhibox .xinzeng{ margin-bottom:60px;}
.personal .right .dizhibox .xinzeng dl{ overflow:hidden; margin-bottom:20px; }
.personal .right .dizhibox .xinzeng dl dt{ width:150px; float:left; margin-right:10px; text-align:right; height:32px; line-height:32px; font-size:13px; color:#4c4c4c;}
.personal .right .dizhibox .xinzeng dl dt span{ color:#fe0000; padding-right:3px;}
.personal .right .dizhibox .xinzeng dl dd{ width:600px; float:left; overflow:hidden; line-height:32px; font-size:14px; color:#4c4c4c;}
.personal .right .dizhibox .xinzeng dl dd input{ display:block; width:410px; height:30px; background-color:#fff; border:1px solid #ccc; font-size:14px; color:#555; line-height:30px;
text-indent:4px; float:left;}
.personal .right .dizhibox .xinzeng dl dd textarea{ display:block; width:410px; height:60px; background-color:#fff; border:1px solid #ccc; font-size:14px; color:#555; line-height:30px;
text-indent:4px; float:left; resize:none;}
.personal .right .dizhibox .xinzeng dl dd select{ display:block; width:150px; height:30px; background-color:#fff; border:1px solid #ccc; font-size:14px; color:#555; line-height:30px;
text-indent:4px; float:left; margin-right:20px;}
.personal .right .dizhibox .xinzeng dl dd label{ display:block; width:20px; float:left; }
.personal .right .dizhibox .xinzeng dl dd span{ width:10px; text-align:center; float:left; display:block;}
.personal .right .dizhibox .xinzeng dl dd p{ height:32px; line-height:32px;  font-size:14px; color:#666;}
.personal .right .dizhibox .xinzeng dl dd input.ss{ width:12px; display:inline-block; margin:0 4px;}
.personal .right .dizhibox .xinzeng dl dd input.small1{ width:200px; display:inline-block; margin:0 4px;}
.personal .right .dizhibox .xinzeng dl dd input.small2{ width:80px; display:inline-block; margin:0 4px;}
.personal .right .dizhibox .xinzeng dl dd .btn{ cursor:pointer; display:block; width:120px; height:32px; line-height:32px; text-align:center; float:left; background-color:#ff7800; color:#fff; }
.personal .right .dizhibox table{ width:100%; line-height:36px; font-size:12px; color:#4c4c4c; border:1px solid #ccc; font-family:"宋体"; margin-bottom:40px;}
.personal .right .dizhibox table tr{ border-bottom:1px solid #ccc;}
.personal .right .dizhibox table th{ background-color:#ededed; line-height:36px; font-size:12px; color:#222; font-family:"宋体"; font-weight:normal; padding:0 5px; text-align:left;}
.personal .right .dizhibox table td{ padding:10px 5px; line-height:20px; font-family:"宋体"; }
.personal .right .dizhibox table td p{ line-height:20px; height:20px; color:#4c4c4c; font-family:"宋体";}
.personal .right .dizhibox table td p a{ font-size:12px; color:#3366cc; line-height:20px; cursor:pointer; font-family:"宋体";}
.personal .right .dizhibox table td a.moren{ padding:4px 6px; border-radius:4px; background-color:#ff4001; color:#fff;}
.personal .right .dizhibox h4{font-size:17px; line-height:33px; margin:0px auto; padding:50px 0; border:1px solid #ccc; border-top:none; color:#444; text-align:center;}
.personal .right .dizhibox h4 span{ padding-left:55px; background-position:left center; background-image:url(../images/wu_03.png); background-repeat:no-repeat; display:inline-block;  }

/****dingdanbox****/
.personal .dingdanbox{ padding:20px; padding-bottom:80px;}
.personal .dingdanbox .title{ overflow:hidden; border-bottom:1px solid #ccc;}
.personal .dingdanbox .title a{ display:block; min-width:40px; float:left; padding:0 20px; border-bottom:2px solid #fff; font-size:14px; line-height:36px; height:36px; color:#555;}
.personal .dingdanbox .title a span{ display:inline-block; width:20px; height:20px; line-height:20px; border-radius:50% ; font-size:12px; text-align:center; background-color:#ff4001; color:#fff; margin-left:2px;}
.personal .dingdanbox .title a.current{ border-bottom:2px solid #111; color:#111;}
.personal .dingdanbox .sousou{ overflow:hidden; margin:20px 0}
.personal .dingdanbox .sousou .ss{ float:left; width:285px; }
.personal .dingdanbox .sousou .ss input[type=text]{ width:200px; height:30px; border:1px solid #ccc; float:left; text-indent:4px; font-size:13px; line-height:30px; color:#666;}
.personal .dingdanbox .sousou .ss input[type=button]{ width:80px; height:32px; font-size:12px; line-height:31px; color:#fff; border:none; background-color:#ff4001; text-align:center; float:left;}
.personal .dingdanbox .sousou .time{ float:left; margin-left:50px; width:260px;}
.personal .dingdanbox .sousou .time p{ width:100px; float:left; margin-right:5px; text-align:right; font-size:14px; line-height:32px; color:#444;}
.personal .dingdanbox .sousou .time select{ display:block; width:150px; height:30px; border:1px solid #ccc; float:left; font-size:13px; color:#666; line-height:30px; }

/****dingdan***/
.personal .dingdanbox .danzi{ }
.personal .dingdanbox .danzi .w1{ width:350px;}
.personal .dingdanbox .danzi .w2{ width:140px;}
.personal .dingdanbox .danzi .w3{ width:170px;}
.personal .dingdanbox .danzi .w4{ width:140px;}
.personal .dingdanbox .danzi .w11{ width:350px;}
.personal .dingdanbox .danzi .w22{ width:145px;}
.personal .dingdanbox .danzi .w33{ width:164px;}
.personal .dingdanbox .danzi .w44{ width:135px;}
.personal .dingdanbox .danzi .mt24{ margin-top:24px;}
.personal .dingdanbox .danzi .w5{ width:350px;}
.personal .dingdanbox .danzi .w6{ width:140px;}
.personal .dingdanbox .danzi .w7{ width:170px;}
.personal .dingdanbox .danzi .w8{ width:150px;}
.personal .dingdanbox .danzi .br1{ border-right:1px solid #ccc;}
.personal .dingdanbox .danzi .tac{ text-align:center;}
.personal .dingdanbox .danzi .pr{ padding-right:20px;}

.personal .dingdanbox .danzi .ultitle{ margin:15px 0; overflow:hidden; height:30px; line-height:30px; font-size:14px; color:#666; background-color:#fafafa; padding:0 28px;}
.personal .dingdanbox .danzi .ultitle li{ float:left;}
.personal .dingdanbox .danzi .ultitle.ss{ padding:0 20px !important; margin:0 !important; margin-top:10px !important;}
.personal .dingdanbox .danzi .ultitle.ss li{ font-family:"宋体" !important ; font-size:12px;}
.personal .dingdanbox .danzi .cpbox{}
.personal .dingdanbox .danzi .cpbox .cp{ margin-bottom:15px; border:1px solid #ccc; padding:0 10px;}
.personal .dingdanbox .danzi .cpbox .cp:hover{ border:1px solid #f14e23;}
.personal .dingdanbox .danzi .cpbox .cp h2{ line-height:12px; font-size:12px; color:#888; height:12px; border-bottom:1px solid #ccc; padding:10px 0;}
.personal .dingdanbox .danzi .cpbox .cp h2 input{ margin-right:10px;}
.personal .dingdanbox .danzi .cpbox .cp h2 span{ margin-right:30px; font-family:"宋体"; }
.personal .dingdanbox .danzi .cpbox .cp h2 span i{ color:#000; font-family:"宋体";}
.personal .dingdanbox .danzi .cpbox .cp ul{ overflow:hidden; padding:15px 0; }
.personal .dingdanbox .danzi .cpbox .cp ul li{ float:left; height:82px; overflow:hidden;}
.personal .dingdanbox .danzi .cpbox .cp ul li .imga{ display:block; width:80px; height:80px; float:left; border:1px solid #ccc;}
.personal .dingdanbox .danzi .cpbox .cp ul li .imga img{ display:block; width:80px; height:80px;}
.personal .dingdanbox .danzi .cpbox .cp ul li p{ font-size:14px; color:#333; line-height:24px; float:left; margin-left:10px; width:230px;}
.personal .dingdanbox .danzi .cpbox .cp ul li p a{ font-size:12px; font-family:"宋体"; color:#444; line-height:20px; height:40px; display:block; overflow:hidden; }
.personal .dingdanbox .danzi .cpbox .cp ul li p a:hover{ color:#ff7800;}
.personal .dingdanbox .danzi .cpbox .cp ul li p span{ font-size:12px; line-height:20px; margin-top:10px; font-family:"宋体";  color:#888; display:block;}
.personal .dingdanbox .danzi .cpbox .cp ul li span.money{ text-align:center; color:#ff7800; line-height:24px; display:block; font-size:16px; font-family:"宋体";}
.personal .dingdanbox .danzi .cpbox .cp ul li span.kind{ font-size:12px; color:#888; line-height:24px; display:block;  font-family:"宋体"; }
.personal .dingdanbox .danzi .cpbox .cp ul li span.kind i{ color:#323232;  font-family:"宋体";}
.personal .dingdanbox .danzi .cpbox .cp ul li h3{ font-size:14px; color:#222; line-height:24px;}
.personal .dingdanbox .danzi .cpbox .cp ul li a.xq{ font-size:12px; color:#888; text-align:center; line-height:24px; display:block; font-family:"宋体";}
.personal .dingdanbox .danzi .cpbox .cp ul li a.xq:hover{ color:#f14e23;}
.personal .dingdanbox .danzi .cpbox .cp ul li a.qxdd:hover{ color:#f14e23;}
.personal .dingdanbox .danzi .cpbox .cp ul li a.sq:hover{ color:#f14e23;}
.personal .dingdanbox .danzi .cpbox .cp ul li a.qxdd{ height:20px; line-height:20px; font-size:12px; color:#666; text-align:center;cursor:pointer; display:block;font-family:"宋体";}
.personal .dingdanbox .danzi .cpbox .cp ul li a.sq{ line-height:40px; font-size:12px; color:#666; text-align:center; height:40px; margin-top:20px; cursor:pointer; display:block;font-family:"宋体";}
.personal .dingdanbox .danzi .cpbox .cp ul li input.fk{ display:block; width:80px; height:32px; line-height:32px; background-color:#f14e23; color:#fff; font-size:15px; text-align:center; border:none; margin:8px auto; cursor:pointer; }
.personal .dingdanbox .danzi .cpbox .cp ul li input.pj{ display:block; width:78px; height:30px; line-height:29px; background-color:#fafafa; border:1px solid #e5e5e5; color:#666; font-size:13px; text-align:center; margin:24px auto; cursor:pointer; }


/****订单取消***/
.tjdzbox{ width:100%; height:100%; background-image:url(../images/index_48.png); position:fixed; left:0; top:0; padding-top:200px; display:none;}
.tjdzbox .tjdz{ width:440px; padding-bottom:20px; box-shadow:0 0 5px #999; border-radius:4px; background-color:#fff; margin:0 auto; position:relative; }
.tjdzbox .tjdz>span{ display:block; width:20px; height:20px; line-height:20px; font-size:24px; font-weight:bold; cursor:pointer; position:absolute; right:5px; top:5px;}
.tjdzbox .tjdz>span:hover{ color:#ff7800;}
.tjdzbox .tjdz h3{ font-size:15px; line-height:36px; padding:0 20px;  height:36px; color:#444; margin-bottom:10px; background-color:#f5f5f5;}
.tjdzbox .tjdz dl{ overflow:hidden; margin-bottom:25px; padding:0 20px; }
.tjdzbox .tjdz dl dt{ width:170px; float:left; margin-right:10px; text-align:right; height:32px; line-height:32px; font-size:13px; color:#4c4c4c;font-family:"宋体";}
.tjdzbox .tjdz dl dd{ width:220px; float:left; overflow:hidden; line-height:32px; font-size:14px; color:#4c4c4c;}
.tjdzbox .tjdz dl dd select{ display:block; width:150px; height:30px; background-color:#fff; border:1px solid #ccc; font-size:14px; color:#555; line-height:30px;
text-indent:4px; float:left; margin-right:20px;}
.tjdzbox .tjdz .btn{ cursor:pointer; display:block; width:120px; height:32px; line-height:32px; border-radius:5px; text-align:center; background-color:#ff7800; color:#fff; margin:0 auto; }
/****dingdan***/


/****dingdan详情***/
.personal .right .dingdanxq{ padding:0 3px; padding-bottom:200px; }
.personal .right .dingdanxq .ddtitle{ border-bottom:1px solid #ccc; height:40px; line-height:40px; margin-bottom:5px;}
.personal .right .dingdanxq .ddtitle span{ display:inline-block; height:36px; line-height:36px; font-size:14px; color:#444; padding:0 20px; cursor:pointer; }
.personal .right .dingdanxq .ddtitle span.current{ border-bottom:2px solid #ff7800;}
.personal .right .dingdanxq .ddtitle span:hover{ border-bottom:2px solid #ff7800;}

.personal .right .dingdanxq .ultitle{ margin:15px 5px; overflow:hidden; height:30px; line-height:30px; font-size:14px; color:#666; padding:0 28px;}
.personal .right .dingdanxq .ultitle li{ float:left;font-family:"宋体";}
.personal .right .dingdanxq .ultitle.ss{ padding:0 20px !important; margin:0 !important; margin-top:10px !important;}
.personal .right .dingdanxq .ultitle.ss li{ font-family:"宋体" !important ; font-size:12px;}

.personal .right .dingdanxq .timg{ margin:20px auto;}
.personal .right .dingdanxq .timg img{ display:block; margin:0 auto; max-width:971px;}
.personal .right .dingdanxq h3{ margin-left:50px; font-size:13px;  line-height:20px; color:#666; margin-bottom:20px;font-family:"宋体"; }
.personal .right .dingdanxq h3 span{ margin-right:30px; font-size:13px;color:#444;font-family:"宋体"; }

.personal .right .dingdanxq .w1{ width:320px;}
.personal .right .dingdanxq .w2{ width:145px;}
.personal .right .dingdanxq .w3{ width:145px;}
.personal .right .dingdanxq .w4{ width:145px;}
.personal .right .dingdanxq .w9{ width:145px;}
.personal .right .dingdanxq .br1{ border-right:1px solid #ccc;}
.personal .right .dingdanxq .tac{ text-align:center;}
.personal .right .dingdanxq .pr{ padding-right:20px;}
.personal .right .dingdanxq .zhuangtai{ margin:20px 0; background-color:#fffbf7; border:1px solid #ff7800; padding:15px; position:relative; margin-top:40px;}
.personal .right .dingdanxq .zhuangtai h4{ font-size:16px; color:#444; line-height:30px; height:30px; font-weight:bold; } 
.personal .right .dingdanxq .zhuangtai p{ font-size:12px; color:#888; line-height:20px;font-family:"宋体"; margin:10px 0; }
.personal .right .dingdanxq .zhuangtai p span{ display:inline-block; margin:0 5px;font-family:"宋体"; }
.personal .right .dingdanxq .zhuangtai p span i{ color:#d41d05;font-family:"宋体"; }
.personal .right .dingdanxq .zhuangtai p a{ display:inline-block; padding-left:22px; height:22px; background-image:url(../images/defer_03.png); background-position:center center; background-repeat:no-repeat; margin:0 4px; }
.personal .right .dingdanxq .zhuangtai input.fk{ display:block; width:80px; height:32px; line-height:32px; background-color:#ff7800; color:#fff; font-size:13px; text-align:center;border:none; cursor:pointer; float:left; margin-right:20px; }
.personal .right .dingdanxq .zhuangtai a.pj{ display:block; width:80px; height:30px; line-height:30px; background-color:#f5f5f5; color:#666; font-size:13px; text-align:center;border:none; cursor:pointer; margin:15px 0; border:1px solid #ccc; }
.personal .right .dingdanxq .zhuangtai .caozuo{ overflow:hidden; margin-top:15px; }
.personal .right .dingdanxq .zhuangtai .caozuo a{ width:500px; float:left; font-size:12px; color:#0071b8; line-height:32px; height:32px;}
.personal .right .dingdanxq .zhuangtai .dwimg{ width:16px; height:9px; overflow:hidden; position:absolute; left:345px; top:-10px;}
.personal .right .dingdanxq .zhuangtai .dwimg2{ width:16px; height:9px; overflow:hidden; position:absolute; left:590px; top:-10px;}
.personal .right .dingdanxq .zhuangtai .dwimg3{ width:16px; height:9px; overflow:hidden; position:absolute; left:830px; top:-10px;}
.personal .right .dingdanxq .buyer{ padding:0 15px;}
.personal .right .dingdanxq .buyer h4{ border-bottom:1px solid #ccc;}
.personal .right .dingdanxq .buyer h4 span{ display:inline-block; height:30px; width:120px; text-align:center; line-height:30px; font-size:14px; color:#333; border-bottom:1px solid #f14e23;}
.personal .right .dingdanxq .buyer p{ font-size:12px; line-height:20px; color:#666;font-family:"宋体"; margin:10px;}
.personal .right .dingdanxq .buyer p span{ color:#444;}


.personal .right .dingdanxq .box{ margin:0 15px; border-bottom:1px solid #ccc; margin-bottom:20px;}
.personal .right .dingdanxq .box ul{ overflow:hidden; padding:15px 0; }
.personal .right .dingdanxq .box ul li{ float:left; height:82px; line-height:80px; font-size:12px; color:#333; overflow:hidden;}
.personal .right .dingdanxq .box ul li .imga{ display:block; width:80px; height:80px; float:left; border:1px solid #ccc;}
.personal .right .dingdanxq .box ul li .imga img{ display:block; width:80px; height:80px;}
.personal .right .dingdanxq .box ul li span{ display:block; width:220px; margin-left:10px; margin-top:10px; float:left;}
.personal .right .dingdanxq .box ul li span .namea{ display:block;font-size:12px; color:#0071b8; line-height:24px; height:48px; overflow:hidden; font-family:"宋体"; }
.personal .right .dingdanxq .qian{ margin:10px 0;}
.personal .right .dingdanxq .qian p{ text-align:right; font-size:13px; line-height:30px; color:#444; margin:12px 0;font-family:"宋体";}
.personal .right .dingdanxq .qian p select{ display:inline-block; width:150px; height:28px; border:1px solid #ccc; margin:0 4px; font-size:13px; color:#666; text-indent:4px;font-family:"宋体"; }
.personal .right .dingdanxq .qian p input[type=text]{ display:inline-block; width:60px; height:28px; border:1px solid #ccc; font-size:13px; color:#666; text-indent:4px; margin:0 4px;font-family:"宋体"; }
.personal .right .dingdanxq .qian p span{ color:#f14e23; padding:0 4px;font-family:"宋体";}
.personal .right .dingdanxq .qian p i{ color:#999; padding:0 4px;font-family:"宋体";}
.personal .right .dingdanxq .qian p b{ color:#f14e23; padding:0 4px; font-size:20px;}
.personal .right .dingdanxq .qian p a{ display:block; width:100px; height:30px; line-height:30px; font-size:14px; color:#fff; text-align:center; background-color:#f14e23; float:right;}




/***积分管理***/
.personal .right .jifenbox{width:928px; margin:0 auto; padding-bottom:150px; }
.personal .right .jifenbox h2{ height:20px; line-height:20px; font-size:14px; color:#222; border-left:3px solid #f14e23; text-indent:8px; margin-bottom:35px;}
.personal .right .jifenbox .jifen{ width:886px; border:1px solid #ccc; margin:30px auto; padding:20px 10px; overflow:hidden; text-align:center; background-color:#ededed; font-size:14px; color:#444; line-height:30px;}
.personal .right .jifenbox .jifen li{ float:left; width:360px; padding:20px 0; min-height:100px; }
.personal .right .jifenbox .jifen li.small{ width:260px; float:left; border-right:1px solid #ccc; }
.personal .right .jifenbox .jifen li span{ display:block;  line-height:40px; height:40px; font-size:30px; font-weight:bold; color:#f14e23;}
.personal .right .jifenbox .jifen li i{ display:block; font-size:12px;}
.personal .right .jifenbox .jifen li a{ display:block; width:200px; margin:0 auto; margin-top:30px; height:36px; background-color:#f14e23; border-radius:4px; line-height:36px; color:#fff; text-align:center; font-size:14px;}
.personal .right .jifenbox .jifen li h3{  line-height:40px; height:40px; font-size:30px; color:#333; margin-top:30px;  }
.personal .right .jifenbox table{ width:906px; margin:0 auto; margin-top:20px; font-size:14px; color:#4c4c4c; text-align:center; line-height:30px;}
.personal .right .jifenbox table th{ background-color:#ededed; font-size:12px; font-weight:normal; margin-bottom:30px; border:1px solid #ccc;}
.personal .right .jifenbox table td{ padding:15px 10px; font-size:13px; height:80px; color:#888; border-bottom:1px dashed #f14e23; }
.personal .right .jifenbox table td .imga{ display:block; width:80px; height:80px; float:left; line-height:80px; }
.personal .right .jifenbox table td .imga img{ display:block; width:80px; height:80px; }
.personal .right .jifenbox table td .texta{ width:280px; display:block; float:left; line-height:30px; height:80px; margin-left:20px; text-align:left;} 
.personal .right .jifenbox table td .texta span{ display:block; height:20px; line-height:20px; font-size:12px; color:#4c4c4c; margin-top:10px;font-family:"宋体";}
.personal .right .jifenbox table td .texta i{ display:block; height:40px; font-size:12px; font-size:12px; line-height:20px; color:#444; overflow:hidden;font-family:"宋体";}
.personal .right .jifenbox table td h3{ font-size:30px; color:#f14e23;}
.personal .right .jifenbox table td h3.c2{ color:#0071b8; }




/****抽奖****/
.personal .right .choujiang{width:928px; margin:0 auto; padding-bottom:150px; }
.personal .right .choujiang h2{ height:20px; line-height:20px; font-size:14px; color:#222; border-left:3px solid #f14e23; text-indent:8px; margin-bottom:35px;}
.personal .right .choujiang .jiang{ width:886px; border:1px solid #ccc; margin:30px auto; padding:20px 10px; overflow:hidden; text-align:center; background-color:#ededed; font-size:14px; color:#444; line-height:30px;}
.personal .right .choujiang .jiang li{ float:left; width:360px; padding:20px 0; min-height:100px; }
.personal .right .choujiang .jiang li.small{ width:260px; float:left; border-right:1px solid #ccc; }
.personal .right .choujiang .jiang li span{ display:block;  line-height:40px; height:40px; font-size:30px; font-weight:bold; color:#f14e23;}
.personal .right .choujiang .jiang li i{ display:block; font-size:12px;}
.personal .right .choujiang .jiang li a{ display:block; width:200px; margin:0 auto; margin-top:30px; height:36px; background-color:#f14e23; border-radius:4px; line-height:36px; color:#fff; text-align:center; font-size:14px;}
.personal .right .choujiang .jiang li h3{  line-height:40px; height:40px; font-size:30px; color:#333; margin-top:30px;  }
.personal .right .choujiang .spanbox{ border-bottom:1px solid #ccc; height:33px;}
.personal .right .choujiang .spanbox span{ display:inline-block; width:120px; height:32px; cursor:pointer; text-align:center; font-size:14px; color:#555; line-height:32px;}
.personal .right .choujiang .spanbox span.current{ border:1px solid #ccc; border-top:1px solid #0071b8; border-bottom:1px solid #fff;}
.personal .right .choujiang .box{ display:none;}
.personal .right .choujiang table{ width:906px; margin:0 auto; margin-top:20px; font-size:12px; color:#4c4c4c; text-align:center; line-height:40px;}
.personal .right .choujiang table th{ background-color:#ededed; font-size:12px; line-height:30px; font-weight:normal; margin-bottom:30px; border:1px solid #ccc;}
.personal .right .choujiang table td{ padding:8px 10px; font-size:12px; height:40px; color:#444; border-bottom:1px solid #ccc; }
.personal .right .choujiang table td span{color:#0071b8; line-height:20px; height:40px; display:block; overflow:hidden; text-align:left;}




/***shoucangbox***/
.personal .right .shoucangbox{ padding:20px; padding-bottom:150px; }
.personal .right .shoucangbox h2{ height:20px; line-height:20px; font-size:14px; color:#222; border-left:3px solid #f14e23; text-indent:8px; margin-bottom:35px;}
.personal .right .shoucangbox ul{ overflow:hidden;}
.personal .right .shoucangbox ul li{ float:left; margin:0 20px; width:140px; position:relative; }
.personal .right .shoucangbox ul li .imga{ display:block; width:138px; height:138px; border:1px solid #ccc; }
.personal .right .shoucangbox ul li .imga img{ display:block; width:138px; height:138px; }
.personal .right .shoucangbox ul li .namea{ height:20px; line-height:20px; font-size:12px; color:#222;font-family:"宋体"; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.personal .right .shoucangbox ul li p{ text-align:right;}
.personal .right .shoucangbox ul li p span{ padding-left:20px; line-height:30px; background-image:url(../images/wdfwd_07.jpg); display:inline-block; height:30px; background-position:left center; background-repeat:no-repeat; font-size:12px; color:#f04d22;font-family:"宋体"; }
.personal .right .shoucangbox ul li .dwimg{ display:block; width:31px; height:31px; position:absolute; top:0; right:0; cursor:pointer; display:none;}
.personal .right .shoucangbox ul li .dwimg img{ display:block; width:31px; height:31px; }



/***quanbox***/
.personal .right .quanbox{ padding:20px; padding-bottom:150px; }
.personal .right .quanbox h2{ height:20px; line-height:20px; font-size:14px; color:#222; border-left:3px solid #f14e23; text-indent:8px; margin-bottom:35px;}
.personal .right .quanbox ul{ overflow:hidden;}
.personal .right .quanbox ul li{ float:left; margin:0 10px; width:282px; position:relative; }
.personal .right .quanbox ul li img{ display:block; width:282px; height:145px; }
.personal .right .quanbox ul li .dwimg{ display:block; width:62px; height:59px; position:absolute; bottom:0; right:0; cursor:pointer;}
.personal .right .quanbox ul li .dwimg img{ display:block; width:62px; height:59px; }
.personal .right .quanbox ul li p{ height:20px; line-height:20px; font-size:12px; color:#fff; text-align:center; width:262px; padding:0 10px; position:absolute; left:0; bottom:30px;}




/***backbox***/
.personal .right .backbox{ padding:20px; padding-bottom:150px; }
.personal .right .backbox h2{ height:20px; line-height:20px; font-size:14px; color:#222; border-left:3px solid #f14e23; text-indent:8px; margin-bottom:35px;}
.personal .right .backbox .tuihuo{   }
.personal .right .backbox .tuihuo .title{ overflow:hidden; border-bottom:1px solid #ccc; margin-bottom:20px;}
.personal .right .backbox .tuihuo .title span{ width:120px; float:left; display:block; height:38px; line-height:38px; text-align:center; font-size:15px; color:#444; border-bottom:2px solid #FFF; cursor:pointer;}
.personal .right .backbox .tuihuo .title span.current{ border-bottom:2px solid #0071b8;}
.personal .right .backbox .tuihuo .thbox{}
.personal .right .backbox .tuihuo .thbox .w1{ width:10%; padding:0 1%;}
.personal .right .backbox .tuihuo .thbox .w2{ width:10%; padding:0 1%;}
.personal .right .backbox .tuihuo .thbox .w3{ width:26%; padding:0 1%;}
.personal .right .backbox .tuihuo .thbox .w4{ width:10%; padding:0 1%;}
.personal .right .backbox .tuihuo .thbox .w5{ width:10%; padding:0 1%;}
.personal .right .backbox .tuihuo .thbox .w6{ width:10%; padding:0 1%;}
.personal .right .backbox .tuihuo .thbox .w7{ width:10%; padding:0 1%;}
.personal .right .backbox .tuihuo .thbox .box{ display:none;}
.personal .right .backbox .tuihuo .thbox .box ul{ overflow:hidden; border:1px solid #fff; padding:15px 0; border-bottom:1px solid #ccc; }
.personal .right .backbox .tuihuo .thbox .box ul li{ float:left; font-size:12px; color:#555; line-height:60px;}
.personal .right .backbox .tuihuo .thbox .box ul li .namea{ font-size:12px; line-height:20px; color:#0071b8; height:60px; display:block; overflow:hidden; }
.personal .right .backbox .tuihuo .thbox .box ul li b{ color:#f04e23;}
.personal .right .backbox .tuihuo .thbox .box ul li a{color:#0071b8;  }
.personal .right .backbox .tuihuo .thbox .box .ultitle{ overflow:hidden; background-color:#f5f5f5; border:1px solid #ccc; padding:0px 0; }
.personal .right .backbox .tuihuo .thbox .box .ultitle li{ float:left; font-size:12px; color:#444; line-height:28px; height:28px; }

.personal .right .backbox .tuihuo .liucheng{}
.personal .right .backbox .tuihuo .liucheng .lcimg{ display:block; margin:30px auto; }
.personal .right .backbox .tuihuo .liucheng .liyou{ padding-left:100px; }
.personal .right .backbox .tuihuo .liucheng .liyou dl{ font-size:14px; line-height:24px;font-size:14px; color:#444; overflow:hidden; margin-bottom:25px;}
.personal .right .backbox .tuihuo .liucheng .liyou dl dt{ width:200px; float:left; text-align:right;}
.personal .right .backbox .tuihuo .liucheng .liyou dl dd{ width:400px; float:left;}
.personal .right .backbox .tuihuo .liucheng .liyou dl dd select{ display:block; width:200px; height:22px; border:1px solid #ccc;}
.personal .right .backbox .tuihuo .liucheng .liyou dl dd textarea{ display:block; width:200px !important; height:72px !important; font-size:14px; color:#444; line-height:24px; padding:4px; border:1px solid #ccc; }
.personal .right .backbox .tuihuo .liucheng .liyou dl dd a{ display:block; width:110px; height:30px; background-color:#f14e23; color:#fff; text-align:center; font-size:14px; line-height:30px; }
.personal .right .backbox .tuihuo .chuli{ padding:30px 200px;}
.personal .right .backbox .tuihuo .chuli h3{ padding-left:40px; line-height:40px; font-size:16px; color:#333; background-image:url(../images/chuli_07.jpg); background-position:left top; background-repeat:no-repeat;font-family:"宋体"; font-weight:bold;  }
.personal .right .backbox .tuihuo .chuli h5{ line-height:28px; padding-left:40px; font-size:12px; color:#888;font-family:"宋体"; }
.personal .right .backbox .tuihuo .chuli p{ padding-left:40px; font-size:12px; line-height:20px; color:#222;font-family:"宋体"; }
.personal .right .backbox .tuihuo .chuli p span{ color:#f04e23;}
.personal .right .backbox .tuihuo .chuli p a{ font-size:12px; line-height:20px; color:#0071b8;font-family:"宋体"; }



/***********ddpj******/
.personal .right .ddpj{ padding:20px; padding-bottom:150px;}
.personal .right .ddpj .tt{ overflow:hidden;  }
.personal .right .ddpj .tt .imga{ display:block; width:316px; height:400px; padding:0 50px; float:left; border:1px solid #ccc;}
.personal .right .ddpj .tt .imga img{ display:block; width:316px; height:400px;}
.personal .right .ddpj .tt .text{ width:400px; margin-left:40px; float:left; }
.personal .right .ddpj .tt .text h2{ font-size:16px; color:#222; line-height:36px; margin-bottom:30px;}
.personal .right .ddpj .tt .text dl{ overflow:hidden;}
.personal .right .ddpj .tt .text dl dt{ width:80px; font-size:12px; color:#888; line-height:30px;font-family:"宋体"; float:left;}
.personal .right .ddpj .tt .text dl dd{ width:300px; float:right; font-size:12px; overflow:hidden; line-height:30px; color:#222;font-family:"宋体";}
.personal .right .ddpj .tt .text dl dd strong{ color:#f14e23; font-size:20px;}
.personal .right .ddpj .tt .text dl dd i{  color:#f14e23;}
.personal .right .ddpj .tt .text dl dd b{  color:#888; font-weight:normal;font-family:"宋体"; }

.personal .right .ddpj .tt .text dl dd span{ display:block;width:16px; height:30px; float:left;}
.personal .right .ddpj .tt .text dl dd span img{ display:block; width:12px; height:12px; margin:9px auto;}
.personal .right .ddpj .starbox{ padding:30px 50px; border-top:1px solid #f14e23; margin-top:40px;}
.personal .right .ddpj .starbox .sum{ overflow:hidden; }
.personal .right .ddpj .starbox .sum span{ display:block; width:44px; padding-right:40px; line-height:40px; font-size:14px; color:#666; font-family:"宋体";  height:40px; background-position:44px center; background-repeat:no-repeat; float:left; margin-right:15px;}
.personal .right .ddpj .lun{}

.personal .right .ddpj .lun textarea{line-height:20px; color:#888;font-family:"宋体"; font-size:12px; padding:4px; border:1px solid #ccc; height:80px !important; width:500px !important; }
.personal .right .ddpj .caozuo{ overflow:hidden;}
.personal .right .ddpj .caozuo a{ display:block; width:110px; height:30px; line-height:30px; font-size:14px; color:#fff; background-color:#f14e23; float:right; cursor:pointer; text-align:center;  }
.personal .right .ddpj .caozuo label{ display:block; width:100px; font-size:12px; line-height:30px; color:#888;font-family:"宋体"; float:right; text-align:right; margin-right:10px;}



.webuploader-container {
	position: relative; margin:20px 0;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

#fileBox_WU_FILE_0{ font-size:12px; line-height:20px; color:#666; }
.diyButton a{ font-size:12px; line-height:20px; color:#666;}



/*****carbox******/
.carbox{ width:1200px; margin:30px auto;}
.carbox h2{ border-bottom:1px solid #ccc;}
.carbox h2 span{ display:block; width:120px; height:30px; border-bottom:2px solid #222; line-height:30px; font-size:15px; text-align:center;}
.carbox h2 span i{ color:#a90000;}
.carbox .liebiao{}
.carbox .liebiao .w1{ width:10%;}
.carbox .liebiao .w2{ width:23%;}
.carbox .liebiao .w3{ width:13%;}
.carbox .liebiao .w4{ width:13%;}
.carbox .liebiao .w5{ width:13%;}
.carbox .liebiao .w6{ width:13%;}
.carbox .liebiao .w7{ width:15%;}
.carbox .liebiao ul{ overflow:hidden; padding:10px 10px;}
.carbox .liebiao ul li{ float:left;}
.carbox .liebiao ul.ultitle{ padding:20px 0;}
.carbox .liebiao ul.ultitle li{font-family:"宋体"; height:24px; line-height:24px; font-size:12px; color:#222;}
.carbox .liebiao ul.ultitle li label{ text-align:center; display:block;}
.carbox .liebiao ul.single{ border:1px solid #ccc; margin-top:20px;}
.carbox .liebiao ul.single li{ overflow:hidden; line-height:100px; font-size:14px; color:#444;}
.carbox .liebiao ul.single li p{ font-size:12px; color:#666; height:24px; line-height:24px; margin-bottom:10px;}
.carbox .liebiao ul.single li p span{ display:inline-block; width:60px; line-height:24px; height:24px; background-color:#f5f5f5; text-align:center; margin-right:10px;}
.carbox .liebiao ul.single li input{ display:block; margin:20px auto;}
.carbox .liebiao ul.single li .cp{ overflow:hidden;}
.carbox .liebiao ul.single li .cp .imga{ display:block; width:80px; height:80px; float:left; margin-right:10px;}
.carbox .liebiao ul.single li .cp .imga img{ display:block; width:80px; height:80px;}
.carbox .liebiao ul.single li .cp .namea{ display:block; width:100px; float:left; line-height:80px; font-size:14px; color:#222; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.carbox .liebiao ul.single li strong{ font-size:16px; color:#888;}
.carbox .liebiao ul.single li b{ color:#a90000;}
.carbox .liebiao ul.single li a.come{ line-height:20px; font-size:12px; display:block; margin-top:30px; color:#0959ba;font-family:"宋体"; height:20px; overflow:hidden;}
.carbox .liebiao ul.single li a.de{ line-height:20px; font-size:12px; display:block; color:#0c0c0c;font-family:"宋体"; height:20px; overflow:hidden;}
.carbox .liebiao .caozuo{ overflow:hidden; height:40px; background-color:#f5f5f5; font-size:12px; color:#444; line-height:40px;}
.carbox .liebiao .caozuo label{ margin-left:20px; float:left; cursor:pointer; }
.carbox .liebiao .caozuo span{ float:left; min-width:20px; display:block; margin-left:20px; cursor:pointer;}
.carbox .liebiao .caozuo .jiesuan{ display:block; width:70px; height:40px; background-color:#a90000; color:#fff; text-align:center; line-height:40px; float:right; font-size:14px;}
.carbox .liebiao .caozuo p{ float:right; margin-right:20px; text-align:right; }
.carbox .liebiao .caozuo p strong{ color:#a90000; font-size:14px;}
.carbox .liebiao .caozuo p i{ padding-right:20px; }
.carbox .zuijin{ margin-top:40px; }
.carbox .zuijin h2{ height:30px; line-height:30px; width:130px; font-size:16px; color:#444; border-bottom:2px solid #000;text-align:center;}
.carbox .zuijin ul{ overflow:hidden; padding:20px 0; border:1px solid #ccc;}
.carbox .zuijin ul li{ width:158px; float:left; margin:0 20px;}
.carbox .zuijin ul li .imga{ display:block; width:138px; height:138px; margin:0 auto; overflow:hidden; }
.carbox .zuijin ul li .imga img{ display:block; width:138px; height:138px;-moz-transition:all 1s linear;-o-transition:all 1s linear;-ms-transition:all 1s linear;-webkit-transition:all 1s linear;transition:all 1s linear; overflow:hidden;  }
.carbox .zuijin ul li .imga img:hover{-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1);}
.carbox .zuijin ul li .namea{ display:block; height:30px; line-height:30px; font-size:14px; color:#666; text-align:center; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.carbox .zuijin ul li p{ font-size:14px; color:#ff2f2d; text-align:center; line-height:28px; height:28px; overflow:hidden; width:100%;}
.carbox .zuijin ul li .namea:hover{ color:#ed0707; }


/**tijiaobox***/
.tijiaobox{ width:1200px; margin:40px auto;}
.tijiaobox h2{ overflow:hidden; padding:0 20px;}
.tijiaobox h2 P{ float:left; font-size:14px ; color:#222; line-height:30px; height:30px;}
.tijiaobox h2 a{ display:block; float:right; line-height:30px; font-size:12px; color:#4044f3;}
.tijiaobox a.new{ display:block; width:120px; height:28px; line-height:28px; font-size:14px; margin:20px 50px; background-color:#f5f5f5; border:1px solid #ccc; text-align:center; cursor:pointer; }
.tijiaobox .send{ padding:20px; border:1px solid #ccc; overflow:hidden;}
.tijiaobox .send .divp{ width:1000px; overflow:hidden;line-height:30px; }
.tijiaobox .send .divp span{ display:block; width:100px; background-image:url(../images/tijiaotijiao_07.jpg); height:30px; line-height:30px; text-indent:45px; font-size:15px; color:#c40000; background-position:left center; background-repeat:no-repeat; float:left;}
.tijiaobox .send .divp .sel{ float:left; overflow:hidden;}
.tijiaobox .send .divp .sel select{ display:block; width:120px; float:left; height:28px; margin-right:20px; border:1px solid #ccc; font-size:14px; color:#555;}

.tijiaobox .send .shifou{ font-size:14px; line-height:30px; color:#444; margin:15px 0; }
.tijiaobox .send .shifou select{ display:inline-block; width:120px; height:28px; margin:0 10px; border:1px solid #ccc; font-size:14px; color:#555;}
.tijiaobox .send .shifou label{ display:inline-block; margin-left:15px; cursor:pointer;}


.tijiaobox .send p i{ display:block; width:850px; float:left; margin-left:20px; font-size:14px; line-height:30px; color:#444;}
.tijiaobox .send p i b{ color:#888; font-weight:normal;}
.tijiaobox .send a{ display:block; float:right; line-height:30px; font-size:12px; color:#4044f3;}
.tijiaobox .sure{ }
.tijiaobox .sure h3{ height:36px; line-height:36px; font-size:16px; border-bottom:2px solid #d62810; margin:20px 0;}
.tijiaobox .liebiao{}
.tijiaobox .liebiao .w8{ width:98%;}
.tijiaobox .liebiao .w2{ width:23%;}
.tijiaobox .liebiao .w3{ width:11%;}
.tijiaobox .liebiao .w4{ width:11%;}
.tijiaobox .liebiao .w5{ width:11%;}
.tijiaobox .liebiao .w6{ width:19%;}
.tijiaobox .liebiao .w7{ width:13%;}
.tijiaobox .liebiao ul{ overflow:hidden; padding:10px 10px;}
.tijiaobox .liebiao ul li{ float:left; margin:0 1%;}
.tijiaobox .liebiao ul.ultitle{ padding:20px 0; border-bottom:1px dashed #ccc;}
.tijiaobox .liebiao ul.ultitle li{font-family:"宋体"; height:24px; line-height:24px; font-size:12px; color:#222; text-align:center;}
.tijiaobox .liebiao ul.ultitle li label{ text-align:center; display:block;}
.tijiaobox .liebiao ul.single{ border-bottom:1px dashed #ccc; margin-top:20px;}
.tijiaobox .liebiao ul.single li{ overflow:hidden; line-height:80px; font-size:14px; color:#444; text-align:center;}
.tijiaobox .liebiao ul.single li p{ font-size:12px; color:#666; height:24px; line-height:24px; margin-bottom:10px;}
.tijiaobox .liebiao ul.single li p span{ display:inline-block; width:60px; line-height:24px; height:24px; background-color:#f5f5f5; text-align:center; margin-right:10px;}
.tijiaobox .liebiao ul.single li input{ display:block; margin:20px auto;}
.tijiaobox .liebiao ul.single li .cp{ overflow:hidden;}
.tijiaobox .liebiao ul.single li .cp .imga{ display:block; width:80px; height:80px; float:left; margin-right:10px;}
.tijiaobox .liebiao ul.single li .cp .imga img{ display:block; width:80px; height:80px;}
.tijiaobox .liebiao ul.single li .cp .namea{ display:block; width:100px; float:left; line-height:80px; font-size:14px; color:#222; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.tijiaobox .liebiao ul.single li strong{ font-size:16px; color:#888;}
.tijiaobox .liebiao ul.single li b{ color:#a90000;}
.tijiaobox .liebiao ul.single li select{ display:block; height:30px; margin:24px auto; border:1px solid #ccc; font-size:12px; color:#444; background-color:#f5f5f5; width:150px; }
.tijiaobox .liebiao ul.single li a.come{ line-height:20px; font-size:12px; display:block; margin-top:30px; color:#0959ba;font-family:"宋体"; height:20px; overflow:hidden;}
.tijiaobox .liebiao ul.single li a.de{ line-height:20px; font-size:12px; display:block; color:#0c0c0c;font-family:"宋体"; height:20px; overflow:hidden;}
.tijiaobox .liebiao ul.single li.w8{ font-size:12px; line-height:30px; margin:10px 0; text-align:left;font-family:"宋体"; }
.tijiaobox .liebiao ul.single li.w8 span{ display:inline-block; margin:0 30px; line-height:30px;font-family:"宋体";}
.tijiaobox .liebiao ul.single li.w8 input{ display:inline-block; width:400px; height:28px; border:1px solid #ccc; text-indent:4px; color:#555; line-height:13px;font-family:"宋体";}

.tijiaobox .liebiao .caozuo{ overflow:hidden; height:40px; background-color:#f5f5f5; font-size:12px; color:#444; line-height:40px;}
.tijiaobox .liebiao .caozuo label{ margin-left:20px; float:left; cursor:pointer; }
.tijiaobox .liebiao .caozuo span{ float:left; min-width:20px; display:block; margin-left:20px; cursor:pointer;}
.tijiaobox .liebiao .caozuo .jiesuan{ display:block; width:70px; height:40px; background-color:#a90000; color:#fff; text-align:center; line-height:40px; float:right; font-size:14px;}
.tijiaobox .liebiao .caozuo p{ float:right; margin-right:20px; text-align:right; }
.tijiaobox .liebiao .caozuo p strong{ color:#a90000; font-size:14px;}
.tijiaobox .liebiao .caozuo p i{ padding-right:20px; }

.tijiaobox .sure .qian{ margin:10px 0;}
.tijiaobox .sure .qian p{ text-align:right; font-size:13px; line-height:30px; color:#444; margin:12px 0;font-family:"宋体"; overflow:hidden;}
.tijiaobox .sure .qian p select{ display:inline-block; width:150px; height:28px; border:1px solid #ccc; margin:0 4px; font-size:13px; color:#666; text-indent:4px;font-family:"宋体"; }
.tijiaobox .sure .qian p input[type=text]{ display:inline-block; width:60px; height:28px; border:1px solid #ccc; font-size:13px; color:#666; text-indent:4px; margin:0 4px;font-family:"宋体"; }
.tijiaobox .sure .qian p span{ color:#f14e23; padding:0 4px;font-family:"宋体";}
.tijiaobox .sure .qian p i{ color:#999; padding:0 4px;font-family:"宋体";}
.tijiaobox .sure .qian p i.tip{ display:inline-block; height:30px; padding-left:30px; background-image:url(../images/tijiaotijiao_15.jpg); background-position:left center; background-repeat:no-repeat;}
.tijiaobox .sure .qian p b{ color:#f14e23; padding:0 4px; font-size:20px;}
.tijiaobox .sure .qian p a.tijiao{ display:block; width:100px; height:30px; line-height:30px; font-size:14px; color:#fff; text-align:center; background-color:#f14e23; float:right;}
.tijiaobox .sure .qian p em{ padding-left:10px; color:#0864b1; font-size:12px; font-style:normal;}
.tijiaobox .sure .qian p a.back{ padding-left:30px; background-image:url(../images/tijiaotijiao_11.jpg); background-position:left center; background-color:transparent; color:#4044f3; background-repeat:no-repeat; float:right; font-size:12px; margin-right:20px;}
.tijiaobox .sure .qian p a.all{ display:inline-block; width:40px; height:20px; border:1px dashed #4044f3; color:#4044f3; text-align:center; line-height:20px; font-size:12px; cursor:pointer;}
.tijiaobox .sure .qian .sheng{ padding:20px 0; margin:20px 0; border-top:1px dashed #ccc; border-bottom:1px dashed #ccc;}
.tijiaobox .sure .qian .sheng p input{ cursor:pointer;}
.tijiaobox .sure .qian ul{ overflow:hidden;}
.tijiaobox .sure .qian ul li{ float:right; margin-left:20px; width:282px; position:relative; }
.tijiaobox .sure .qian ul li img{ display:block; width:282px; height:145px; }
.tijiaobox .sure .qian ul li .dwimg2{ display:block; width:52px; height:58px; position:absolute; bottom:0; right:0; cursor:pointer; display:none;}
.tijiaobox .sure .qian ul li .dwimg2 img{ display:block; width:52px; height:58px; }
.tijiaobox .sure .qian ul li p{ height:20px; line-height:20px; font-size:12px; color:#fff; text-align:center; width:262px; padding:0 10px; position:absolute; left:0; bottom:30px;}



/***windowbox***/
.windowbox{ position:fixed; left:0; top:0; background-image:url(../images/index_48.png); width:100%; height:100%; padding-top:100px; display:none;}
.windowbox .xinzeng{width:730px; background-color:#fff; margin:0 auto; padding:10px; border-radius:10px;}
.windowbox .xinzeng dl{ overflow:hidden; margin-bottom:10px; }
.windowbox .xinzeng dl dt{ width:150px; float:left; margin-right:10px; text-align:right; height:32px; line-height:32px; font-size:13px; color:#4c4c4c;}
.windowbox .xinzeng dl dt span{ color:#ff0000; padding-right:3px;}
.windowbox .xinzeng dl dd{ width:550px; float:left; overflow:hidden; line-height:32px; font-size:14px; color:#4c4c4c;}
.windowbox .xinzeng dl dd input{ display:block; width:410px; height:30px; background-color:#fff; border:1px solid #ccc; font-size:14px; color:#555; line-height:30px;
text-indent:4px; float:left;}
.windowbox .xinzeng dl dd textarea{ display:block; width:410px; height:60px; background-color:#fff; border:1px solid #ccc; font-size:14px; color:#555; line-height:30px;
text-indent:4px; float:left; resize:none;}
.windowbox .xinzeng dl dd select{ display:block; width:150px; height:30px; background-color:#fff; border:1px solid #ccc; font-size:14px; color:#555; line-height:30px;
text-indent:4px; float:left; margin-right:20px;}
.windowbox .xinzeng dl dd label{ display:block; width:20px; float:left; }
.windowbox .xinzeng dl dd span{ width:10px; text-align:center; float:left; display:block;}
.windowbox .xinzeng dl dd p{ height:32px; line-height:32px;  font-size:14px; color:#666;}
.windowbox .xinzeng dl dd input.ss{ width:12px; display:inline-block; margin:0 4px;}
.windowbox .xinzeng dl dd input.small1{ width:200px; display:inline-block; margin:0 4px;}
.windowbox .xinzeng dl dd input.small2{ width:80px; display:inline-block; margin:0 4px;}
.windowbox .xinzeng dl dd .btn{ cursor:pointer; display:block; width:80px; height:32px; margin-right:20px; line-height:32px; text-align:center; float:left; background-color:#ff0000; color:#fff; }


/***********/
.tijiaobox2 { width:1160px; margin:40px auto; padding:0 20px;}
.tijiaobox2 .send{ padding:20px;overflow:hidden;}
.tijiaobox2 .send p{ float:left; width:900px; overflow:hidden;line-height:30px;background-image:url(../images/tijiaotijiao_07.jpg); background-position:left center; background-repeat:no-repeat;  height:30px; line-height:30px; text-indent:45px; font-size:15px;  }
.tijiaobox2 .send p i{ font-size:14px; line-height:30px; color:#444;}
.tijiaobox2 .send p i b{ color:#888; font-weight:normal;}
.tijiaobox2 .send a{ display:block; float:right; line-height:30px; font-size:12px; color:#666;}
.tijiaobox2 .send a span{ color:#c40000;font-size:16px; font-weight:bold;}
.tijiaobox2 table{ border:1px solid #ccc; width:800px; line-height:36px; font-size:14px; color:#444; text-align:center; }
.tijiaobox2 table th{ font-weight:normal; font-size:15px; border:1px solid #ccc;  }
.tijiaobox2 table tr{ border:1px solid #ccc;}
.tijiaobox2 table td{ border:1px solid #ccc; color:#666;}
.tijiaobox2 h2{ font-size:16px; color:#000; line-height:36px; font-weight:bold; height:36px; background-image:url(../images/ewe_07.jpg); background-position:left bottom; background-repeat:repeat-x; padding-bottom:30px; margin:10px 0;}
.tijiaobox2 h2 span{ font-size:14px; color:#444; line-height:36px; padding-left:30px; font-weight:normal; }
.tijiaobox2 h2 span i{ color:#ff0000;}
.tijiaobox2 .kuan{ border:2px solid #ccc; padding:20px; margin:20px 0;}
.tijiaobox2 .fukuan{ margin-top:30px;}
.tijiaobox2 .fukuan .top{ position:relative; height:40px; line-height:40px; border-bottom:1px solid #ccc;}
.tijiaobox2 .fukuan .top .btnbox{ position:absolute; left:30px; top:1px; height:40px; line-height:40px; background-image:url(../images/efer_26.jpg); overflow:hidden; z-index:33px;}
.tijiaobox2 .fukuan .top .btnbox span{ display:block; width:150px; height:39px; line-height:39px; color:#4c4c4c; font-size:15px; text-align:center; float:left; padding:0 1px; border-bottom:1px solid #ccc; cursor:pointer; }
.tijiaobox2 .fukuan .top .btnbox span.current{ padding:0; border-left:1px solid #ccc; border-right:1px solid #ccc; border-top:1px solid #ff0000; border-bottom:none;}
.tijiaobox2 .fukuan .bottom{}
.tijiaobox2 .fukuan .bottom .ways{ padding:15px 0; display:none;}
.tijiaobox2 .fukuan .bottom .ways h4{ font-size:14px; line-height:30px; color:#444; margin-bottom:15px;}
.tijiaobox2 .fukuan .bottom .ways h3{ text-align:center; line-height:24px; font-family:"宋体"; font-size:12px; color:#444; background-color:transparent !important; }
.tijiaobox2 .fukuan .bottom .ways h3 span{ font-size:16px; font-weight:bold; color:#d41d05;}
.tijiaobox2 .fukuan .bottom .ways h3 a{line-height:24px; font-family:"宋体"; font-size:12px; color:#666; text-decoration:underline; }
.tijiaobox2 .fukuan .bottom .ways .weixin{ padding:10px; border:2px solid #ccc; margin:15px auto; width:168px; box-shadow:0 0 5px #bbb;}
.tijiaobox2 .fukuan .bottom .ways .weixin h5{ padding-left:50px; background-image:url(../images/weixin-3301_07.jpg); background-position:left center; background-repeat:no-repeat; line-height:20px; height:40px; font-family:"宋体"; font-size:12px; color:#444; margin:5px 0; font-weight:normal;  }
.tijiaobox2 .fukuan .bottom ul{ width:1100px; margin:0 auto; overflow:hidden;}
.tijiaobox2 .fukuan .bottom ul li{ width:200px; margin:0 10px; margin-bottom:20px; cursor:pointer; float:left; overflow:hidden;}
.tijiaobox2 .fukuan .bottom ul li input{ display:block; width:10px; height:10px; margin-top:17px; float:left;}
.tijiaobox2 .fukuan .bottom ul li a{ display:block; width:176px; height:42px; float:right; border:1px solid #ccc;}
.tijiaobox2 .fukuan .bottom ul li a img{display:block; width:176px; height:42px; }
.tijiaobox2 .fukuan .bottom a.ben{ display:block; width:200px; height:50px; line-height:50px;text-align:center; margin-top:50px; background-color:#d62810; color:#fff; cursor:pointer;}
.tijiaobox2 .fukuan .bottom ul li a.current{ border:1px solid #ff7800;}
.tijiaobox2 .fukuan .bottom ul.ul2 li{ width:190px; margin:0 15px; margin-bottom:20px;}
.tijiaobox2 .fukuan .bottom ul.ul2 input{ display:block; width:10px; height:10px; margin-top:14px; float:left;}
.tijiaobox2 .fukuan .bottom ul.ul2 a{ display:block; width:162px; height:36px; float:right; border:1px solid #ccc; }
.tijiaobox2 .fukuan .bottom ul.ul2 a img{ display:block; width:162px; height:36px;  }



/***windowbox***/
.tishibox{ position:fixed; left:0; top:0; background-image:url(../images/index_48.png); width:100%; height:100%; padding-top:150px; display:none; }
.tishibox .tishi{width:500px; background-color:#fff; margin:0 auto; padding:20px; border-radius:10px;}
.tishibox .tishi h2{ font-size:24px; color:#222; line-height:40px; margin-bottom:10px; }
.tishibox .tishi h3{ font-size:20px; color:#222; line-height:40px; text-align:center; margin-bottom:10px; }
.tishibox .tishi p{ padding-left:30px; background-position:left center; background-repeat:no-repeat; height:40px; line-height:40px; font-size:14px; color:#666; font-family:"宋体"; margin-bottom:20px }
.tishibox .tishi p a.wc{ display:inline-block; width:100px; height:38px; border:1px solid #d62810; color:#d62810; font-size:14px; text-align:center; line-height:38px; margin:0 5px;}
.tishibox .tishi p a.cx{ display:inline-block; width:100px; height:38px; border:1px solid #d62810; color:#fff; background-color:#d62810; font-size:14px; text-align:center; line-height:38px; margin:0 5px;}
.tishibox .tishi p a.lx{ display:inline-block; color:#237dec; font-size:14px; margin:0 5px; font-family:"宋体"; }
.tishibox .tishi a.cj{ color:#237dec; font-size:14px; margin:0 5px; font-family:"宋体"; }


/******tijiaobox3*****/
.tijiaobox3{ width:1160px; margin:40px auto; padding:0 20px; min-height:400px;}
.tijiaobox3 p{ text-align:center; padding:100px 0;}
.tijiaobox3 p span{ background-image:url(../images/find03_07.png); display:inline-block; padding-left:40px; height:40px; line-height:40px; font-size:16px; color:#666; background-repeat:no-repeat; background-position:left center;}
.tijiaobox3 p a{ line-height:40px; font-size:16px; color:#0864b1; }
.tijiaobox3 p a:hover{ text-decoration:underline;}



