<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/assets/css/pol_base.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/assets/css/pol_leftsidebar.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/assets/css/pol4.css">
<script src="__PUBLIC__/home/assets/js/PCASClass.js"></script>
<script src="__PUBLIC__/home/assets/js/jquery.leanModal.min.js"></script>
<script>
	$(function(){
		$("a[rel*=leanModal]").leanModal("close");
	});
</script>
<div class="header">
	<div class="header_wrap">
    
    	<div class="logo1">
        	<a href="{:U('Index/index')}"><img src="__PUBLIC__/home/assets/images/logo1.png" alt=""></a>
        </div>
        
        <div class="menu">
        	<ul>
            	<li><a href="">首页</a></li>
            	<li><a href="">账号设置</a></li>
            	<li><a href="">我是商家</a></li>
            </ul>
        </div>
        
        <div class="search">
        	<form>
            	<p><input type="text" value="输入产品名称" onFocus="javascript:this.value=''"><a href="">搜索</a></p>
            </form>
        </div>
        
    </div>
</div>
<!--header-->



<!--main-->
<div class="main">
	<div class="main_wrap">
    	<div class="main_l">
        	<div class="tx"><a href=""><img src="__PUBLIC__/home/assets/images/pol_icon1.jpg" alt=""></a></div>
            <div class="leftsidebar">
            	<dl>
                	<dt>账号管理</dt>
                    <dd><a href="pol_1.html">· 个人信息</a></dd>
                    <dd><a href="pol.html">· 资料设置</a></dd>
                    <dd><a href="pol_3.html">· 收货地址管理</a></dd>
                </dl>
                
                <dl>
                	<dt>订单信息</dt>
                    <dd><a class="leftsidebar_cuttent" href="pol_4.html">· 全部订单</a></dd>
                    <dd><a href="pol_5.html">· 等待我付款</a></dd>
                    <dd><a href="pol_6.html">· 等待卖家发货</a></dd>
                    <dd><a href="pol_7.html">· 等待确认收货</a></dd>
                    <dd><a href="pol_8.html">· 需要评价</a></dd>
                    <dd><a href="pol_9.html">· 交易完成</a></dd>
                </dl>
                
                <dl>
                	<dt>售后管理</dt>
                    <dd><a href="pol_19.html">· 退货/退款管理</a></dd>
                    <dd><a href="pol_11.html">· 对网站的建议</a></dd>
                </dl>
                
                <dl>
                	<dt>我的账户</dt>
                    <dd><a href="pol_12.html">· 我的余额</a></dd>
                    <dd><a href="pol_13.html">· 我的积分</a></dd>
                </dl>
                
                <dl>
                	<dt>我的下级</dt>
                    <dd><a href="pol_14.html">· 会员列表</a></dd>
                </dl>
                
                <dl>
                	<dt>佣金</dt>
                    <dd><a href="pol_15.html">· 佣金列表</a></dd>
                    <dd><a href="pol_16.html">· 佣金消费</a></dd>
                    <dd><a href="pol_17.html">· 佣金提取</a></dd>
                </dl>
                
                <dl>
                	<dt>商家发货</dt>
                    <dd><a href="pol_18.html">· 我来发货</a></dd>
                    <dd><a href="pol_10.html">· 退货处理</a></dd>
                </dl>
            </div>
        </div>
        
        <div class="main_r">
        	<div class="shop">
            	<div class="shop_bt">
                	<ul>
                    	<li class="shop_bt_current"><a href="pol_4.html">全部订单</a></li>
                    	<li><a href="pol_5.html">待付款<span>5</span></a></li>
                    	<li><a href="pol_6.html">待卖家发货<span>5</span></a></li>
                    	<li><a href="pol_7.html">待确认收货<span>5</span></a></li>
                    	<li><a href="pol_8.html">待评价<span>5</span></a></li>
                    	<li><a href="pol_9.html">退货/退款中<span>5</span></a></li>
                    </ul>
                </div>
                <div class="bt">
                    <form>
                    	<p><input type="text" value=" 输入产品标题或订单号进行搜索" onFocus="javascript:this.value=''"><a href="">订单搜索</a></p>
                        <p><label>订单时间</label><select><option>最近一周</option> <option>最近一月</option> <option>最近三月</option> <option>最近一年</option></select></p>
                    </form>
                </div>
                <div class="text_top">
                    	<span class="top1">商品</span>
                    	<span class="top2">类型 / 数量 / 小计</span>
                    	<span class="top3">订单状态</span>
                    	<span class="top4">操作</span>
                    </div>
                    
                <div class="text">
                    <div class="tab2_bt">
                    	<p><input type="checkbox"></p>
                        <p><span>订单号：</span>1503793580</p>
                        <p><span>下单时间：</span>2015-02-07 11:49</p>
                    </div>
                    <div class="tab2_text">
                        	<TABLE>
                            	<tr>
                                	<td><a href=""><img src="__PUBLIC__/home/assets/images/pol_icon6.jpg" alt="" title="查看宝贝详情"></a></td>
                                    <td class="tab2_1"><span><a href="">女包夏款2015潮单肩斜挎包新款韩版陆心媛时尚贝壳包小号迷你包包</a> [交易快照]</span><br>颜色分类: 黑卡通</td>
                                    <td class="tab2_2"><i>¥24.60</i><br>(含运费8.00)<br>共<span>3</span>款<span>12</span>件</td>
                                    <td class="tab2_3">等待买家付款<br><i><a href="">订单详情</a></i></td>
                                    <td class="tab2_4">
                                    	<a href="pol_5_xq.html">立即付款</a>
                                    	<span><a href="">取消订单</a></span>
                                    	<span><a href="#signup" rel="leanModal">订单留言</a></span>
                                        <div id="signup" class="tan">
                                        	<h5>订单留言</h5>
                                            <div class="bt">
                                            	<p><span>订单号：</span>1503793580</p>
                                            	<p><span>订单金额：</span>￥406.00</p>
                                            </div>
                                            <div class="tan_text">
                                            	<p>给对方的留言：</p>
                                                <form>
                                                	<textarea rows="5" placeholder="请填写留言内容" cols="92"></textarea>
                                                </form>
                                                <span>还可以输入300字</span>
                                            </div>
                                            <a class="tan_a1" href="">提交</a>
                                            <div class="dw"><img  src="__PUBLIC__/home/assets/images/tan1.jpg" alt=""></div>
                                        </div>
                                    </td>
                                 </tr>
                            </TABLE>
                    </div>
                    
                </div>
                <div class="text1">
                    <div class="tab2_bt">
                    	<p><input type="checkbox"></p>
                        <p><span>订单号：</span>1503793580</p>
                        <p><span>下单时间：</span>2015-02-07 11:49</p>
                    </div>
                    <div class="tab2_text">
                        	<TABLE>
                            	<tr>
                                	<td><a href=""><img src="__PUBLIC__/home/assets/images/pol_icon6.jpg" alt="" title="查看宝贝详情"></a></td>
                                    <td class="tab2_1"><span><a href="">女包夏款2015潮单肩斜挎包新款韩版陆心媛时尚贝壳包小号迷你包包</a> [交易快照]</span><br>颜色分类: 黑卡通</td>
                                    <td class="tab2_2"><i>¥24.60</i><br>(含运费8.00)<br>共<span>3</span>款<span>12</span>件</td>
                                    <td class="tab2_3">需要评价<br><i><a href="">订单详情</a><br><a href="">查看物流</a><br><a href="">交易成功</a></i></td>
                                    <td class="tab2_4_1">
                                    	<a href="">评价</a>
                                    	<span><a href="">申请退货/退款</a></span>
                                    </td>
                                </tr>
                            </TABLE>
                    </div>
                    
                </div>
                <div class="text2">
                    <div class="tab2_bt">
                    	<p><input type="checkbox"></p>
                        <p><span>订单号：</span>1503793580</p>
                        <p><span>下单时间：</span>2015-02-07 11:49</p>
                    </div>
                    <div class="tab2_text">
                        	<TABLE>
                            	<tr>
                                	<td><a href=""><img src="__PUBLIC__/home/assets/images/pol_icon6.jpg" alt="" title="查看宝贝详情"></a></td>
                                    <td class="tab2_1"><span><a href="">女包夏款2015潮单肩斜挎包新款韩版陆心媛时尚贝壳包小号迷你包包</a> [交易快照]</span><br>颜色分类: 黑卡通</td>
                                    <td class="tab2_2"><i>¥24.60</i><br>(含运费8.00)<br>共<span>3</span>款<span>12</span>件</td>
                                    <td class="tab2_3">等待卖家发货<br><i><a href="">订单详情</a></i></td>
                                    <td class="tab2_4_2"><a href="">申请退货/退款</a><br><a href="#signup" rel="leanModal">订单留言</a>
                                        <div id="signup" class="tan">
                                        	<h5>订单留言</h5>
                                            <div class="bt">
                                            	<p><span>订单号：</span>1503793580</p>
                                            	<p><span>订单金额：</span>￥406.00</p>
                                            </div>
                                            <div class="tan_text">
                                            	<p>给对方的留言：</p>
                                                <form>
                                                	<textarea rows="5" placeholder="请填写留言内容" cols="92"></textarea>
                                                </form>
                                                <span>还可以输入300字</span>
                                            </div>
                                            <a class="tan_a1" href="">提交</a>
                                            <div class="dw"><img  src="__PUBLIC__/home/assets/images/tan1.jpg" alt=""></div>
                                        </div>
                                    </td>
                                 </tr>
                            </TABLE>
                    </div>
                    
                </div>
                <div class="text3">
                    <div class="tab2_bt">
                    	<p><input type="checkbox"></p>
                        <p><span>订单号：</span>1503793580</p>
                        <p><span>下单时间：</span>2015-02-07 11:49</p>
                    </div>
                    <div class="tab2_text">
                        	<TABLE>
                            	<tr>
                                	<td><a href=""><img src="__PUBLIC__/home/assets/images/pol_icon6.jpg" alt="" title="查看宝贝详情"></a></td>
                                    <td class="tab2_1"><span><a href="">女包夏款2015潮单肩斜挎包新款韩版陆心媛时尚贝壳包小号迷你包包</a> [交易快照]</span><br>颜色分类: 黑卡通</td>
                                    <td class="tab2_2"><i>¥24.60</i><br>(含运费8.00)<br>共<span>3</span>款<span>12</span>件</td>
                                    <td class="tab2_3">等待确认收货<br><i><a href="">订单详情</a><br><a href="">查看物流</a></i></td>
                                    <td class="tab2_4">
                                    	<a href="">确认收货</a>
                                    	<span><a href="">申请退货/退款</a></span>
                                    </td>
                                </tr>
                            </TABLE>
                    </div>
                    
                </div>
                <div class="text4">
                    <div class="tab2_bt">
                    	<p><input type="checkbox"></p>
                        <p><span>订单号：</span>1503793580</p>
                        <p><span>下单时间：</span>2015-02-07 11:49</p>
                    </div>
                    <div class="tab2_text">
                        	<TABLE>
                            	<tr>
                                	<td><a href=""><img src="__PUBLIC__/home/assets/images/pol_icon6.jpg" alt="" title="查看宝贝详情"></a></td>
                                    <td class="tab2_1"><span><a href="">女包夏款2015潮单肩斜挎包新款韩版陆心媛时尚贝壳包小号迷你包包</a> [交易快照]</span><br>颜色分类: 黑卡通</td>
                                    <td class="tab2_2"><i>¥24.60</i><br>(含运费8.00)<br>共<span>3</span>款<span>12</span>件</td>
                                    <td class="tab2_3">交易成功<br><i><a href="">订单详情</a><br><a href="">查看物流</a></i></td>
                                    <td class="tab2_4_2"><a href="">申请退货/退款</a><br><a href="">追加评论</a> </td>
                                </tr>
                            </TABLE>
                    </div>
                    
                </div>
                <div class="text4">
                    <div class="tab2_bt">
                    	<p><input type="checkbox"></p>
                        <p><span>订单号：</span>1503793580</p>
                        <p><span>下单时间：</span>2015-02-07 11:49</p>
                    </div>
                    <div class="tab2_text">
                        	<TABLE>
                            	<tr>
                                	<td><a href=""><img src="__PUBLIC__/home/assets/images/pol_icon6.jpg" alt="" title="查看宝贝详情"></a></td>
                                    <td class="tab2_1"><span><a href="">女包夏款2015潮单肩斜挎包新款韩版陆心媛时尚贝壳包小号迷你包包</a> [交易快照]</span><br>颜色分类: 黑卡通</td>
                                    <td class="tab2_2"><i>¥24.60</i><br>(含运费8.00)<br>共<span>3</span>款<span>12</span>件</td>
                                    <td class="tab2_3">申请退货中<br><i><a href="">订单详细</a><br><a href="">查看物流</a></i></td>
                                    <td class="tab2_4_2"><a href="">投诉卖家</a><br><a href="#signup" rel="leanModal">订单留言</a>
                                        <div id="signup" class="tan">
                                        	<h5>订单留言</h5>
                                            <div class="bt">
                                            	<p><span>订单号：</span>1503793580</p>
                                            	<p><span>订单金额：</span>￥406.00</p>
                                            </div>
                                            <div class="tan_text">
                                            	<p>给对方的留言：</p>
                                                <form>
                                                	<textarea rows="5" placeholder="请填写留言内容" cols="92"></textarea>
                                                </form>
                                                <span>还可以输入300字</span>
                                            </div>
                                            <a class="tan_a1" href="">提交</a>
                                            <div class="dw"><img  src="__PUBLIC__/home/assets/images/tan1.jpg" alt=""></div>
                                        </div>
                                    </td>
                                 </tr>
                            </TABLE>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--main-->
