<link href="__PUBLIC__/home/assets/css/index.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/assets/css/404.css">
<include file="Public:dq" />
<include file="Public:nav" />

<script>
    
    $(".qbflbox").css({display:'none'});
</script>
<!--404开始-->
<div class="main">
	<div class="main_l">
    	<img src="__PUBLIC__/home/assets/images/404.png" alt="">
    </div>
    <div class="main_r">
    	<p>对不起，您访问的页面<span>不存在</span>或被<span>删除</span>！</p>
    </div>
</div>
<!--404开始-->