<!--headerbox--> 
<div class="headerbox">
	<div class="header">
    	<a class="logoa" href="{:U('Index/Index')}"><img src="__PUBLIC__/home/images/index1_07.png"></a>
        <div class="weizhi">
        	<img src="__PUBLIC__/home/images/index1_10.png">
            <div class="diming"><a href="page-city.html">山东省菏泽市定陶县</a></div>
        </div>
        <div class="sousuo">
        	<div class="ss">
        		<input type="text" value="请输入关键词" onClick="$(this).val('');">
            	<input type="button" value="搜索" onClick="document.location='{:U('Search/Index')}'">
            </div>
            <p><span>清洁无烟煤</span><i>清洁无烟煤</i><span>清洁无烟煤</span><i>清洁无烟煤</i></p>
        </div>
    </div>
</div> 
<!--headerbox--> 
<!--nav开始-->
<div class="navbox">
	<div class="nav">
    	<ul class="zuo">
        	<li><a href="{:U('Index/Index')}" class="current">首页</a></li>
            <li><a href="index.html#cp1">烈焰清洁无烟煤</a></li>
            <li><a href="index.html#cp1">2号无烟煤</a></li>
            <li><a href="index.html#cp1">3号无烟煤</a></li>
            <li><a href="index.html#cp1">4号无烟煤</a></li>
            <li><a href="index.html#cp1">5号无烟煤</a></li>
            <li><a href="index.html#cp1">6号无烟煤</a></li>
        </ul>
        <ul class="you">
        	<li><a href="{:U('User/Index')}">个人中心</a></li>
            <li><a href="{:U('User/Integral')}">我的积分</a></li>
        </ul>
    </div>
</div>
<!--nav结束-->