<css href="__PUBLIC__/home/css/page.css"/>

<include file="Public:nav" />
<div class="zhinanbox">
	<div class="zhinan">
    	<div class="left">
        	<div class="link">
            	<h2>新手指南</h2>
                <div class="linka">
                	<a href="page-footer101.html" class="current">服务条款</a>
                    <a href="page-footer101.html">购物流程</a>
                    <a href="page-footer101.html">会员制度</a>
                </div>
            </div>
            <div class="link">
            	<h2>采购商服务</h2>
                <div class="linka">
                	<a href="page-footer101.html">发票保障</a>
                    <a href="page-footer101.html">售后规则</a>
                    <a href="page-footer101.html">缺货赔付</a>
                </div>
            </div>
            <div class="link">
            	<h2>供应商服务</h2>
                <div class="linka">
                	<a href="page-footer101.html">如何找回密码</a>
                    <a href="page-footer101.html">怎样修改或取消订单</a>
                    <a href="page-footer101.html">如何付款</a>
                    <a href="page-footer101.html">如何办理退款</a>
                </div>
            </div>
            <div class="link">
            	<h2>优煤易购服务</h2>
                <div class="linka">
                	<a href="page-footer101.html">配送范围及实效</a>
                    <a href="page-footer101.html">配送费收取标准</a>
                    <a href="page-footer101.html">签收注意事项</a>
                    <a href="page-footer101.html">货到付款详情</a>
                    <a href="page-footer101.html">在线支付详情</a>
                </div>
            </div>
            <div class="link">
            	<h2>交易安全</h2>
                <div class="linka">
                	<a href="page-footer101.html">物流服务</a>
                    <a href="page-footer101.html">运营服务</a>
                </div>
            </div>
        </div>
 
        <div class="right">
        	<h2>优煤易购平台服务协议</h2>
            <h6>版本生效日期：2015年08月31日</h6>
            <p><strong>提示条款</strong><br>

欢迎您与优煤易购平台经营者（详见定义条款）共同签署本《优煤易购服务协议》（下称“本协议”）并使用优煤易购平台服务！<br>

本协议为《优煤易购服务协议》修订版本，自本协议发布之日起，优煤易购各处所称“优煤易购服务协议”均指本协议。<br>

各服务条款前所列索引关键词仅为帮助您理解该条款表达的主旨之用，不影响或限制本协议条款的含义或解释。为维护您自身权益，建议您仔细阅读各条款具体表述。<br>

【审慎阅读】您在申请注册流程中点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或者限制责任的条款将以粗体下划线标识，您应重点阅读。如您对协议有任何疑问，可向有，没易购平台客服咨询。<br>

【签约动作】当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与优煤易购达成一致，成为优煤易购平台“用户”。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。<br>

<strong>一、 定义</strong><br>
优煤易购平台服务：优煤易购基于互联网，以包含优煤易购平台网站、客户端等在内的各种形态（包括未来技术发展出现的新的服务形态）向您提供的各项服务。<br>

优煤易购规则：优煤易购规则频道列明的各项规则，具体详见此处。<br>

支付宝公司：指提供支付宝服务的主体支付宝（中国）网络技术有限公司。<br>

关联公司：除优煤易购外阿里平台的经营者的单称或合称。<br>

同一用户：使用同一身份认证信息或经淘宝排查认定多个淘宝账户的实际控制人为同一人的，均视为同一用户。<br>

<strong>二、 协议范围</strong><br>
<strong>2.1 签约主体</strong><br>
【平等主体】本协议由您与淘宝平台经营者共同缔结，本协议对您与淘宝平台经营者均具有合同效力。<br>
【主体信息】优煤易购平台经营者是指经营淘宝平台的各法律主体，您可随时查看优煤易购平台各网站首页底部公示的证照信息以确定与您履约的优煤易购主体。本协议项下，优煤易购平台经营者可能根据优煤易购平台的业务调整而发生变更，变更后的淘宝平台经营者与您共同履行本协议并向您提供服务，优煤易购平台经营者的变更不会影响您本协议项下的权益。优煤易购平台经营者还有可能因为提供新的优煤易购平台服务而新增，如您使用新增的优煤易购平台服务的，视为您同意新增的优煤易购平台经营者与您共同履行本协议。发生争议时，您可根据您具体使用的服务及对您权益产生影响的具体行为对象确定与您履约的主体及争议相对方。<br>

<strong>2.2补充协议</strong><br>
由于互联网高速发展，您与优煤易购签署的本协议列明的条款并不能完整罗列并覆盖您与优煤易购所有权利与义务，现有的约定也不能保证完全符合未来发展的需求。因此，优煤易购平台法律声明及隐私权政策、优煤易购平台规则均为本协议的补充协议，与本协议不可分割且具有同等法律效力。如您使用优煤易购平台服务，视为您同意上述补充协议。<br>

<strong>三、 账户注册与使用</strong><br>
<strong>3.1 用户资格</strong><br>
您确认，在您开始注册程序使用淘宝平台服务前，您应当具备中华人民共和国法律规定的与您行为相适应的民事行为能力。若您不具备前述与您行为相适应的民事行为能力，则您及您的监护人应依照法律规定承担因此而导致的一切后果。</p>
        </div>
    </div>
</div>
<!--zhinanbox结束-->     
