<css href="__PUBLIC__/home/css/page.css"/>
<css href="__PUBLIC__/home/css/Css.css"/>
<js href="__PUBLIC__/home/js/jquery.kkPages.js" />

<include file="Public:nav" />
<!--product开始-->
<div class="productbox">
	<div class="top">
    	<div class="left">
        	<div class="imga">
            	<img src="__PUBLIC__/home/images/cpxq_21.jpg">
                <img src="__PUBLIC__/home/images/cpxq_23.jpg">
                <img src="__PUBLIC__/home/images/cpxq_21.jpg">
                <img src="__PUBLIC__/home/images/cpxq_23.jpg">
            </div>
            <div class="bottom">
            	<img src="__PUBLIC__/home/images/cpxq_21.jpg">
                <img src="__PUBLIC__/home/images/cpxq_23.jpg">
                <img src="__PUBLIC__/home/images/cpxq_21.jpg">
                <img src="__PUBLIC__/home/images/cpxq_23.jpg">
            </div>
        </div>
        <script>
			jQuery(".top .left").slide({mainCell:".imga",effect:"leftLoop",titCell:".bottom img", autoPlay:true});
		</script>
		<div class="right">
        	<h2>硬质清洁无烟煤</h2>
            <!--<div class="zhong">
            	<p style="color:#126ab4;">重量选择：</p>
                <div class="xuan">
                	<label class="on"><input type="radio" name="ss"><span>400斤</span><i>0.52元一斤</i></label>
                    <label><input type="radio" name="ss"><span>1200斤</span><i>0.51元一斤</i></label>
                    <label><input type="radio" name="ss"><span>2000斤</span><i>0.50元一斤</i></label>
                </div>
            </div>-->
            <div class="tishi">
            	说明：本商品每袋80斤，5-14袋单价为0.52元/斤，15-24袋单价为0.50元/斤，25袋以上单价为0.48元/斤
            </div>
            <div class="zhong br">
            	<p>数量：</p>
                <div class="jisuan">
                	<span class="jian">-</span><input type="text" value="5" class="num"><span class="jia">+</span>
                </div>
                <p>袋</p>
            </div>
            <div class="zhong">
            	<p>金额：</p>
                <div class="jisuan"><input value="280" class="je"><i>元</i></div>
            </div>
            <div class="zhong">
                <i>配送至：山东省菏泽市定陶县</i>
            </div>
            <!--<div class="zhong">
            	<p>促销信息：</p>
                <div class="cuxiao">
                	<h6>购买200kg以上送山西陈醋一瓶</h6>
                    <a class="imga"><img src="__PUBLIC__/home/images/cpxq_10.jpg"></a>
                </div>
            </div>-->
            
            <div class="caozuo">
            	<a href="{:U('Order/Addorder',array('step'=>1))}"><img src="__PUBLIC__/home/images/cpxq_14.jpg"></a>
                <a href="#" class="carbtn"><img src="__PUBLIC__/home/images/cpxq_16.jpg"></a>
            </div>
        </div>
    </div>
    <div class="zhanshi">
    	<h2>系列产品展示</h2>
        <ul>
        	<li><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a><p>0.52元/斤</p></li>
            <li><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a><p>0.52元/斤</p></li>
            <li><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a><p>0.52元/斤</p></li>
            <li><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a><p>0.52元/斤</p></li>
            <li><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a><p>0.52元/斤</p></li>
            <li><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a><p>0.52元/斤</p></li>
        </ul>
    </div>
    <div class="cardbox">
    	<div class="title">
        	<span>详细信息</span>
            <span>产品评价<i>（48）</i></span>
            <span>售后保障</span>
        </div>
        <div class="qhcard">
        	<div class="card">
            	<p>由于无烟煤属高变质程度煤种，其固有的强度大、可塑性差、热态下不软化等特别性质，造成型煤生产过程中的难度也较大，受到业内人士的广泛关注。有关院所对此做过专门的研究、探索。晋城洁净煤技术研究所地处晋城无烟煤海，有着得天独厚的地理优势，在长期致力于煤炭转化产品的研究、开发、利用中，取得了一些成绩。先后研制出2种性能较优越、可操作性强的型煤粘结剂（已申请国家发明专利，其中一项已通过省级科技成果鉴 定）；新开发、研制的FG系列型煤干燥机较好地解决了型煤干燥过程中的几个难题，使用效果很好。许多生产厂家都将型煤质量不好片面地认为是粘结剂问题，而忽略了设备、工艺的不足或缺陷，走了许多弯路。现就型煤生产工艺路线及设备配置方
面谈一些切身经验和体会，</p>
				<div class="imgbox">
                	<img src="__PUBLIC__/home/images/xqoim_03.jpg">
                    <img src="__PUBLIC__/home/images/xqoim_05.jpg">
                    <img src="__PUBLIC__/home/images/xqoim_09.jpg">
                    <img src="__PUBLIC__/home/images/xqoim_11.jpg">
                </div>
                <p>由于无烟煤属高变质程度煤种，其固有的强度大、可塑性差、热态下不软化等特别性质，造成型煤生产过程中的难度也较大，受到业内人士的广泛关注。有关院所对此做过专门的研究、探索。晋城洁净煤技术研究所地处晋城无烟煤海，有着得天独厚的地理优势，在长期致力于煤炭转化产品的研究、开发、利用中，取得了一些成绩。先后研制出2种性能较优越、可操作性强的型煤粘结剂（已申请国家发明专利，其中一项已通过省级科技成果鉴 定）；新开发、研制的FG系列型煤干燥机较好地解决了型煤干燥过程中的几个难题，使用效果很好。许多生产厂家都将型煤质量不好片面地认为是粘结剂问题，而忽略了设备、工艺的不足或缺陷，走了许多弯路。现就型煤生产工艺路线及设备配置方
面谈一些切身经验和体会，</p>
            </div>
            <div class="card">
            	<div class="tt">
                	<span class="w1">评价心得</span>
                    <span class="w2 tac">顾客满意度</span>
                    <span class="w3">购买信息</span>
                    <span class="w4">评论者</span>
                </div>
                <div class="box">
                	<ul>
                    	<li class="w1">
                        	<h6><span>确实很不错，使用效率很高，很清洁环保很清洁环保很清洁环保很清洁环保很清洁环保很清洁环保 </span><i>2015-08-26 14:38</i></h6>
                            <div class="tip"><span>效率高</span><span>清洁</span><span>环保</span></div>
                        </li>
                        <li class="w2 tac">
                        	<span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                        </li>
                        <li class="w3">
                        	<p>类型：<i>硬质清洁无烟煤</i></p>
                            <p>重量：<i>2000kg</i></p>
                        </li>
                        <li class="w4">
                        	<p>****083<br>会员<br>2015-03-02 21:08 购买</p>
                        </li>
                    </ul>
                    <ul>
                    	<li class="w1">
                        	<h6><span>确实很不错，使用效率很高，很清洁环保</span><i>2015-08-26 14:38</i></h6>
                            <div class="tip"><span>效率高</span><span>清洁</span><span>环保</span></div>
                        </li>
                        <li class="w2 tac">
                        	<span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                        </li>
                        <li class="w3">
                        	<p>类型：<i>硬质清洁无烟煤</i></p>
                            <p>重量：<i>2000kg</i></p>
                        </li>
                        <li class="w4">
                        	<p>****083<br>会员<br>2015-03-02 21:08 购买</p>
                        </li>
                    </ul>
                    <ul>
                    	<li class="w1">
                        	<h6><span>确实很不错，使用效率很高，很清洁环保</span><i>2015-08-26 14:38</i></h6>
                            <div class="tip"><span>效率高</span><span>清洁</span><span>环保</span></div>
                        </li>
                        <li class="w2 tac">
                        	<span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                        </li>
                        <li class="w3">
                        	<p>类型：<i>硬质清洁无烟煤</i></p>
                            <p>重量：<i>2000kg</i></p>
                        </li>
                        <li class="w4">
                        	<p>****083<br>会员<br>2015-03-02 21:08 购买</p>
                        </li>
                    </ul>
                    <ul>
                    	<li class="w1">
                        	<h6><span>确实很不错，使用效率很高，很清洁环保</span><i>2015-08-26 14:38</i></h6>
                            <div class="tip"><span>效率高</span><span>清洁</span><span>环保</span></div>
                        </li>
                        <li class="w2 tac">
                        	<span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                        </li>
                        <li class="w3">
                        	<p>类型：<i>硬质清洁无烟煤</i></p>
                            <p>重量：<i>2000kg</i></p>
                        </li>
                        <li class="w4">
                        	<p>****083<br>会员<br>2015-03-02 21:08 购买</p>
                        </li>
                    </ul>
                    <ul>
                    	<li class="w1">
                        	<h6><span>确实很不错，使用效率很高，很清洁环保</span><i>2015-08-26 14:38</i></h6>
                            <div class="tip"><span>效率高</span><span>清洁</span><span>环保</span></div>
                        </li>
                        <li class="w2 tac">
                        	<span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                        </li>
                        <li class="w3">
                        	<p>类型：<i>硬质清洁无烟煤</i></p>
                            <p>重量：<i>2000kg</i></p>
                        </li>
                        <li class="w4">
                        	<p>****083<br>会员<br>2015-03-02 21:08 购买</p>
                        </li>
                    </ul>
                    <ul>
                    	<li class="w1">
                        	<h6><span>确实很不错，使用效率很高，很清洁环保</span><i>2015-08-26 14:38</i></h6>
                            <div class="tip"><span>效率高</span><span>清洁</span><span>环保</span></div>
                        </li>
                        <li class="w2 tac">
                        	<span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                        </li>
                        <li class="w3">
                        	<p>类型：<i>硬质清洁无烟煤</i></p>
                            <p>重量：<i>2000kg</i></p>
                        </li>
                        <li class="w4">
                        	<p>****083<br>会员<br>2015-03-02 21:08 购买</p>
                        </li>
                    </ul>
                    <ul>
                    	<li class="w1">
                        	<h6><span>确实很不错，使用效率很高，很清洁环保</span><i>2015-08-26 14:38</i></h6>
                            <div class="tip"><span>效率高</span><span>清洁</span><span>环保</span></div>
                        </li>
                        <li class="w2 tac">
                        	<span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                        </li>
                        <li class="w3">
                        	<p>类型：<i>硬质清洁无烟煤</i></p>
                            <p>重量：<i>2000kg</i></p>
                        </li>
                        <li class="w4">
                        	<p>****083<br>会员<br>2015-03-02 21:08 购买</p>
                        </li>
                    </ul>
                    <ul>
                    	<li class="w1">
                        	<h6><span>确实很不错，使用效率很高，很清洁环保</span><i>2015-08-26 14:38</i></h6>
                            <div class="tip"><span>效率高</span><span>清洁</span><span>环保</span></div>
                        </li>
                        <li class="w2 tac">
                        	<span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                        </li>
                        <li class="w3">
                        	<p>类型：<i>硬质清洁无烟煤</i></p>
                            <p>重量：<i>2000kg</i></p>
                        </li>
                        <li class="w4">
                        	<p>****083<br>会员<br>2015-03-02 21:08 购买</p>
                        </li>
                    </ul>
                    <ul>
                    	<li class="w1">
                        	<h6><span>确实很不错，使用效率很高，很清洁环保</span><i>2015-08-26 14:38</i></h6>
                            <div class="tip"><span>效率高</span><span>清洁</span><span>环保</span></div>
                        </li>
                        <li class="w2 tac">
                        	<span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                        </li>
                        <li class="w3">
                        	<p>类型：<i>硬质清洁无烟煤</i></p>
                            <p>重量：<i>2000kg</i></p>
                        </li>
                        <li class="w4">
                        	<p>****083<br>会员<br>2015-03-02 21:08 购买</p>
                        </li>
                    </ul>
                    <ul>
                    	<li class="w1">
                        	<h6><span>确实很不错，使用效率很高，很清洁环保</span><i>2015-08-26 14:38</i></h6>
                            <div class="tip"><span>效率高</span><span>清洁</span><span>环保</span></div>
                        </li>
                        <li class="w2 tac">
                        	<span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                        </li>
                        <li class="w3">
                        	<p>类型：<i>硬质清洁无烟煤</i></p>
                            <p>重量：<i>2000kg</i></p>
                        </li>
                        <li class="w4">
                        	<p>****083<br>会员<br>2015-03-02 21:08 购买</p>
                        </li>
                    </ul>
                    <ul>
                    	<li class="w1">
                        	<h6><span>确实很不错，使用效率很高，很清洁环保</span><i>2015-08-26 14:38</i></h6>
                            <div class="tip"><span>效率高</span><span>清洁</span><span>环保</span></div>
                        </li>
                        <li class="w2 tac">
                        	<span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                            <span class="star"><img src="__PUBLIC__/home/images/star_03.jpg"></span>
                        </li>
                        <li class="w3">
                        	<p>类型：<i>硬质清洁无烟煤</i></p>
                            <p>重量：<i>2000kg</i></p>
                        </li>
                        <li class="w4">
                        	<p>****083<br>会员<br>2015-03-02 21:08 购买</p>
                        </li>
                    </ul>
                </div>
                <script>
				$(function(){
					$('.qhcard .box').kkPages({
						PagesClass:'ul', //需要分页的元素
						PagesMth:5, //每页显示个数		
						PagesNavMth:3 //显示导航个数
					});
				}); 
				</script>
            </div>
            <div class="card">
            	<p>
                	<strong>服务承诺：</strong><br>优煤易购平台卖家销售并发货的商品，由平台卖家提供发票和相应的售后服务。请您放心购买！<br>
注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样产品一致。若本商城没有及时更新，请大家谅解！

                </p>
            </div>
        </div>
    </div>
    <div class="zuijin">
    	<h2>最近浏览</h2>
        <ul>
        	<li><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a><p>0.52元/斤</p></li>
            <li><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a><p>0.52元/斤</p></li>
            <li><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a><p>0.52元/斤</p></li>
            <li><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a><p>0.52元/斤</p></li>
            <li><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a><p>0.52元/斤</p></li>
            <li><a class="imga" href="page02-mei-xq.html"><img src="__PUBLIC__/home/images/cpxq_28.jpg"></a><a class="namea" href="page02-mei-xq.html">硬质清洁无烟煤</a><p>0.52元/斤</p></li>
        </ul>
    </div>
</div>
<!--product开始-->
                       
<script>
$(function(){
	$(".zhong .xuan label").click(function(){
		var n =$(this).index();
		$(".zhong .xuan label").removeClass("on");
		$(this).addClass("on");
	})
})
$(function(){
	$(".right .caozuo .carbtn").click(function(){
		$(".tishibox").show();
	})
	$(".tishibox a").click(function(){
		$(".tishibox").hide();
	})
})
</script>

<script>
$(function(){
	$(".jisuan .jia").click(function(){
		var n=$(".num").val();
		n++;
		$(".num").val(n);
	})
	$(".jisuan .jian").click(function(){
		var n=$(".num").val();
			if(n<2){
				n==1;
			}else{
				n--;
			$(".num").val(n);
			}
	})
})
</script>


<script>
$(function(){
	$(".qhcard .card").eq(0).show();
	$(".cardbox .title span").eq(0).addClass("current");
	$(".cardbox .title span").click(function(){
		var n =$(this).index();
		$(".cardbox .title span").removeClass("current");
		$(this).addClass("current");
		$(".qhcard .card").hide();
		$(".qhcard .card").eq(n).show();
	})
})
</script>

<!--tipbox-->
<div class="tishibox">
	<div class="tishi">
        <h3>宝贝已经成功加入购物车</h3>
        <p>您可以到<a href="center-car.html">购物车</a>查看</p>
        <a class="guanbi">关闭</a>
    </div>
</div>
<!--tipbox-->