<!-- Removing search and results count filter -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">分类列表</h3>
    </div>
    <div class="panel-body">
        <div id="treeGrid">
        </div>
    </div>
</div>

<!-- 弹出层 -->
<!-- Bottom Scripts -->
<link rel="stylesheet" href="__PUBLIC__/admin/assets/js/jqwidgets/styles/jqx.base.css" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jqwidgets/jqxdatatable.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jqwidgets/jqxtreegrid.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/assets/js/jqwidgets/jqxdropdownlist.js"></script>
<script src="__PUBLIC__/admin/assets/js/datatables/js/jquery.dataTables.min.js"></script>

<!-- Imported scripts on this page -->
<script src="__PUBLIC__/admin/assets/js/bootbox/bootbox.min.js"></script>
<script src="__PUBLIC__/admin/assets/js/datatables/dataTables.bootstrap.js"></script>
<script src="__PUBLIC__/admin/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js"></script>
<script src="__PUBLIC__/admin/assets/js/datatables/tabletools/dataTables.tableTools.min.js"></script>               

<script type="text/javascript">
            // create Tree Grid
            $(document).ready(function () {
    var list = {$data} ;
            var source =
    {
    dataType: "json",
            dataFields: [
            { name: "type_id", type: "number" },
            { name: "parent_id", type: "number" },
            { name: "type_name", type: "string" },
            { name: "s_t", type: "string" },
            { name: "is_p", type: "string" },
            ],
            hierarchy:
    {
    keyDataField: { name: 'type_id' },
            parentDataField: { name: 'parent_id' }
    },
            id: 'type_id',
            localData: list
    };
            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#treeGrid").jqxTreeGrid(
    {
    pageable: true,
            source: dataAdapter,
            columnsResize: true,
            sortable: true,
            filterable: true,
            ready: function () {
            var ids = {$ids};
                    $.each(ids, function(a, b){
                    $("#treeGrid").jqxTreeGrid('expandRow', b);
                    });
            },
            columns: [
            { text: '分类名称', dataField: "type_name", align: 'center', width: 180 },
            { text: '编号', editable: false, dataField: "type_id", align: 'center', width:100, cellsAlign: 'center'},
            { text: '排序', dataField: "s_t", align: 'center', width: 150, cellsAlign:'center' },
            {
              text: '操作',dataField: "is_p", cellsAlign: 'center', width:150, align: "center",  editable: false, sortable: false,  cellsRenderer: function (row, column, value) {
                 if(value==0){
                     return "<div class='col-sm-1'></div><button data-row='" + row + "' class='btn btn-danger btn-sm btn-icon  col-sm-7' onclick='edit(" + row + ",this)'>编辑</button><div class='col-sm-1'></div>";
                 }else{
               return "<div class='col-sm-1'></div><button data-row='" + row + "' class='btn btn-danger btn-sm btn-icon  col-sm-7' onclick='edit(" + row + ",this)'>编辑</button><div class='col-sm-1'></div>";
           }
               }
            }
            ],
    });
    });


//点击编辑按钮
function edit(id,v){
    var name=$(v).parent().prev('td').prev('td').prev('td').find('span:last').html();
    var sort=$(v).parent().prev('td').html();
    bootbox.dialog({
            message: '分类名称:<input type="text" placeholder="编辑分类" id="c_input" value="'+name+'" class="form-control"/> <br/>排序:<input type="text" placeholder="编辑排序" id="s_input" value="'+sort+'" class="form-control"/><br>\n\
                       ',
            title: "编辑文章分类：",
            buttons: {
                success: {
                    label: "确认",
                    className: "btn-success",
                    callback: function() {
                        var cate=$('#c_input').val();
                        var sort=$('#s_input').val();
                        var patt1 = new RegExp(/^([\u4E00-\uFA29]*[a-z]*[A-Z]*)+$/g);
                        var result = patt1.test(cate);
                        if(result==false){
                            bootbox.alert("分类名称用中文或英文表示");
                            return ;
                        }
                        var patt2 = new RegExp(/^([0-9]*)+$/g);
                        var result = patt2.test(sort);
                        if(result==false){
                            bootbox.alert("排序用数字表示");
                            return ;
                        }
                        if(cate==''||sort==''){
                            bootbox.alert("填写不能为空");
                            return ;
                        }
                        $.ajax({
                            'type':'post',
                            'data':'type_name='+cate+'&type_id='+id+'&sort='+sort,
                            'dataType':"json",
                            'url':"{:U('Article/editcate')}",
                            'success':function(dat){
                                if(dat.status==1){
                                    bootbox.alert('编辑成功');
                                    var url="{:U('Article/artlist')}";
                                    window.location.href=url;
                                }else{
                                    bootbox.alert('编辑失败');
                                }
                            }
                        });

                    }
                },
                danger: {
                    label: "取消",
                    className: "btn-danger",
                    callback: function() {

                    }
                }
            }
    });
}

</script>



